/* Add here all your css styles (customizations) */
.intro-section {
    background: #fff url(../img/anz/kv-2.jpg) no-repeat top center;
	background-size: cover;
 }

/*icons*/
.txt-base{ position:relative;}
.txt-base .tel-phone-18, .txt-base .money-can-18, .txt-base .pen-edit-18{ position:absolute; top:-1px; left:-25px;}
.txt-base .tel-phone-20, .txt-base .money-can-20, .txt-base .pen-edit-20{ position:absolute; top:-3px; left:-25px;}
.txt-base .tel-phone-36, .txt-base .money-can-36, .txt-base .pen-edit-36{ position:absolute; top:-9px; left:-40px;}

.pen-edit-18{ display:inline-block; width:18px; height:18px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 -90px;}
.pen-edit-20{ display:inline-block; width:20px; height:20px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 -100px; background-size:20px 160px;}
.pen-edit-36{ display:inline-block; width:36px; height:36px; background:url(../img/anz/anz-icon-36.png) no-repeat 0 -180px;}

.money-can-18{ display:inline-block; width:18px; height:18px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 0;}
.money-can-20{ display:inline-block; width:20px; height:20px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 0; background-size:20px 160px;}
.money-can-36{ display:inline-block; width:36px; height:36px; background:url(../img/anz/anz-icon-36.png) no-repeat 0 0;}
.tel-phone-18{ display:inline-block; width:18px; height:18px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 -126px;}
.tel-phone-20{ display:inline-block; width:20px; height:20px; background:url(../img/anz/anz-icon-18.png) no-repeat 0 -140px; background-size:20px 160px;}
.tel-phone-36{ display:inline-block; width:36px; height:36px; background:url(../img/anz/anz-icon-36.png) no-repeat 0 -252px;}

.navbar-toggle{ float:left;}
.btn-u {font-size: 18px; 
border-radius: 4px;
    box-sizing: border-box;
    color: white;
    display: inline-block; line-height:1.5em!important;
    
    min-width: 144px;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    /*font-size: 20px;*/
 }
.sky-form .icon-append, .sky-form .icon-prepend{ font-size:16px;}
.sky-form .icon-append {
    min-width: 45px; font-style:normal;
}
.sky-form .note {
	margin-top: 6px;
	padding: 0 1px;
	font-size: 14px;
	line-height: 20px;
	color:#e67e22;
}

 /*dark:#004266 
	light:#008dc9*/
	/*btn 按鈕*/
.content-sm {
    padding-bottom: 80px;
    padding-top: 0px;
}
.content-xs {
    padding-bottom: 40px;
    padding-top: 0px;
}
.about-section ul.social-icons li {
  margin-bottom: 0;
  padding: 0;
}
.about-section{ position:relative}
.about-section i.back-to-top {
  left: 50%;
  top: -60px; /**/
  color: #ddd;
  /*color: #555;*/
  font-size: 20px; width:19px; height:49px;
  background: url(../img/anz/mouse-icon.png) no-repeat 0 0;
  padding: 8px 10px;
  margin-left: -15px;
  position: absolute;
}

.about-section i.back-to-top:hover {
  color: #333;
}

.btn-u.btn-u-dark-blue { line-height:40px;
background: #1186b6; /* Old browsers */
background: -moz-linear-gradient(top,  #1186b6 0%, #0073aa 2%, #006ca0 17%, #003e60 83%, #003655 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1186b6), color-stop(2%,#0073aa), color-stop(17%,#006ca0), color-stop(83%,#003e60), color-stop(100%,#003655)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1186b6', endColorstr='#003655',GradientType=0 ); /* IE6-9 */

}
.btn-u.btn-u-dark-blue:hover, 
.btn-u.btn-u-dark-blue:focus, 
.btn-u.btn-u-dark-blue:active, 
.btn-u.btn-u-dark-blue.active, 
.open .dropdown-toggle.btn-u.btn-u-dark-blue {background: #1186b6; /* Old browsers */

background: -moz-linear-gradient(-45deg,  #1186b6 0%, #0073aa 2%, #006ca0 17%, #003e60 83%, #003655 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1186b6), color-stop(2%,#0073aa), color-stop(17%,#006ca0), color-stop(83%,#003e60), color-stop(100%,#003655)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* IE10+ */
background: linear-gradient(135deg,  #1186b6 0%,#0073aa 2%,#006ca0 17%,#003e60 83%,#003655 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1186b6', endColorstr='#003655',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
/*notice section*/
a#whatchout::before {
    background: url("../img/anz/icon_cursor_click.png") no-repeat scroll center center transparent;
    content: "";
    display: inline-block;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
    width: 30px;
}
a#whatchout::after {
    background: url("../img/anz/btn_to_open.png") no-repeat scroll center center transparent;
    content: "";
    display: inline-block;
    float: right;
    height: 30px;
    text-align: right;
    vertical-align: middle;
    width: 30px;
}
/*notice section*/


.title-v1a{margin-left:45%; padding-top:120px;}
.title-v1a p {
	width:90%; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom:0;
	color: #004165;
	font-size: 20px;
	font-weight: 400;
}
.title-v1a p em{ font-style:normal; font-size:180%;}
.title-v1a h1, 
.title-v1a h2 { 
	width:90%; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 0px;
	padding-bottom: 10px;
    color: #004165;
 	font-size: 38px; line-height:1.2em;
	position: relative;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.title-v1{ margin-bottom:40px;}
.navbar{ margin-bottom:0;}
.four-btns .btn-u.btn-block {
  text-align:left; padding-left:4.5em;
}

.four-btns{ width:80%; margin:170px auto 0;}
.four-btns li a{ position:relative; line-height:52px!important; color:#fff; vertical-align:middle}	
.four-btns li a .icon{ position:absolute; left:1.5em; top:0.7em; display:inline-block; width:38px; height:35px; background-image:url(../img/anz/home-btn-s.png); background-repeat:no-repeat;}
.sky-form fieldset{ padding:0 15px;}
 /*media query*/

@media (max-width: 1024px) {
.title-v1a{ /*margin-left:45%!important;*/}
.four-btns{ width:90%; margin:320px auto 0;}
.four-btns li a .icon{ position:absolute; left:1.0em; top:1em;}
	}
@media (max-width: 768px) {
	.last-box{ width:97%!important;}
	.title-v1a{ margin-left:35%;}
 	.four-btns{ width:100%; margin:280px auto 0;}
	.intro-section {
    background: #fff url(../img/anz/kv-2.jpg) no-repeat -190px 0px;
	background-size: cover;}
	.title-v1a {
    margin-left: 60%;
    padding-top: 120px;
}
	}
@media (max-width: 640px) {
	 
	.intro-section {
    background: #fff url(../img/anz/kv-2.jpg) no-repeat -100px 0px;
	background-size: cover;
 }

	.title-v1a{ margin-left:0%;}
	.title-v1a{ padding-top:0px!important;}
	.about-section { padding-top: 20px!important;}
	.content-sm {padding-top: 0px;padding-bottom: 40px;}

	.one-page-header-in{ padding-left:0;}
	.top-bar{ margin-left:0!important;}
	.navbar-toggle{ float:left; margin-left:15px;}

	.four-btns{ width:100%; margin:60px auto 0;}
	footer.btn-foot .row .col-xs-12{ padding-left:0; padding-right:0;}
	}
	
	@media only screen and (max-width: 480px) {
	.intro-section {
    background: #D7D5CB url(../img/anz/kv-2.jpg) no-repeat -100px 0px;
	background-size:250%;
 }

.title-v1a p { 
	background-color:rgba(255,255,255,0.8);
	padding:5px 5px 5px 10px;
	width:90%; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom:0;
	color: #004165;
	font-size: 20px;
	font-weight: 400;
}
.title-v1a p em{ font-style:normal; font-size:110%;}
.title-v1a h1, 
.title-v1a h2 { 
	width:90%; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 0px;
	padding-bottom: 10px;
    color: #004165;
 	font-size: 32px; line-height:1.2em;
	position: relative;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.title-v1a h2{margin-bottom:200px;}

	
	}
@media (max-width: 320px) {
	.title-v1a{ margin-left:0;}
 	.four-btns{ width:100%; margin:0px auto 0;}
	}
.four-btns .four-btns-1 a,.four-btns .four-btns-2 a,.four-btns .four-btns-3 a,.four-btns .four-btns-4 a{ height:60px; line-height:60px;}
.four-btns .four-btns-1 a{ background: rgba(1,112,167,1);}
.four-btns .four-btns-1 a:hover{ background: rgba(1,112,167,0.7); transition: all 0.1s ease-in-out 0s;}
.four-btns .four-btns-1 a .icon{ background-position:0 0;}
.four-btns .four-btns-2 a{background: rgba(1,112,167,1);}
.four-btns .four-btns-2 a:hover{background: rgba(1,112,167,0.7); transition: all 0.1s ease-in-out 0s;}
.four-btns .four-btns-2 a .icon{ background-position:-151px 0;}

.four-btns .four-btns-3 a{background: rgba(1,112,167,1);}
.four-btns .four-btns-3 a .icon{ background-position:-289px 0;}

.four-btns .four-btns-4 a{background: rgba(1,112,167,1);}
.four-btns .four-btns-4 a .icon{ background-position:-433px 0;}
/*qualification*/
.qualification .qual-1, .qualification .qual-2{min-height:120px;}
.qualification p{  padding-left:80px; padding-top:30px; font-size:18px; /*font-size:14px;*/color:#2687c0;}
.qualification .qual-1{ background:url(../img/anz/icon-human.png) no-repeat 0 0; border-right:1px #c9c9c9 solid; }
.qualification .qual-2{ background:url(../img/anz/icon-human.png) no-repeat 0 -117px; margin-left:50px;}

.list-level-1 li{ color:#004065;}
.list-level-2{ padding-left:20px;}
.list-level-2 li{ color:#555;}
.shade-container{ background:url(../img/anz/index2-banner-bg.png) no-repeat center center; background-size:100% 100%; padding-top:40px; padding-bottom:40px; }
.shade-container h2, .shade-container p{color:#fff!important;}
/*media query*/
@media (max-width: 768px) {
.qualification .qual-1{ border-right:0px #c9c9c9 solid; }
.qualification .qual-2{ margin-left:0px;}

}

/*features*/
.features{ text-align:center; margin-top:20px;}
.features .col-md-3:last-child{ padding-right:5px!important;}
.features h1{ color:#007dba;font-size:90px; min-height:50px;letter-spacing:-6px;/*font-size:80px;*/}
.features h1 small{ color:#007dba;font-size:18px;letter-spacing:0px;/*font-size:14px;*/}
.features h1 sup{ color:#007dba;font-size:18px;/*font-size:14px;*/ top:-50px;}
.features h1 .round-blue{ line-height:17px; text-align:center;letter-spacing:0px;}
.three-th h1{}
.five-th{position:relative;}
.five-th small {position:absolute; right:-2px; bottom:0;}
.five-th sup.round-blue{position:absolute; left:-5px; top:-30px;}
@media only screen and (max-width: 1024px) {
	.five-th sup.round-blue{position:absolute; left:-15px; top:-30px;}
	}
.features h1 .round-blue{padding:0.3em; display: inline-table; background:#fff;/* background:#007dba;*/ color:#007dba; font-style:normal;}

.features p{ color:#007dba; font-size:18px;/*font-size:14px;*/ padding:0.5em 10px;}
.features p.fon-02{ font-size:20px;}
/*service-section*/
.service-section{ background:#e9e9e9;}
.news-section{ border:none;padding-top:40px;}
/*sky-form hack*/
.sky-form{box-shadow:none;}

.resault{padding:0; margin:35px 0 0 0; }
.resault .r-1{ background:#007dba; border-radius:5px!important;}
.resault .r-2{ margin-top:20px; }
.resault .r-1 h3{ color:#fff; margin-top:0; padding-top:10px;padding-bottom:10px; padding-left:50px; line-height:36px; vertical-align:middle; position:relative;}
.calculators, .money{ display:inline-block; background-image:url(../img/anz/anz-icon-36.png); background-repeat:no-repeat; width:36px; height:36px; position:absolute; left:10px; top:10px;}
.calculators{ background-position:0 -36px;}
.money{ background-position:0 -144px;}

 
.panel-default{ border:none;}      
.acc-v1 .panel-heading a{ color:#004165; font-size:14px; font-weight:bold; text-decoration:none;}
.acc-v1 .panel-heading a:hover{color:#004165;} 
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group { border:none !important;}
.panel-default > .panel-heading{background:#fff; }
.panel-body h3{ font-size:18px; padding-left:40px; color:#fff; /*background:#004165;*/ background:rgba(1,112,167,1);}
.panel-body .hightlight{ text-decoration: underline;}
/*pro-section*/
.pro-section{background:#e9e9e9;padding-top:40px; /*margin-bottom:40px;*/}
.top-line{ margin-top:30px;}
.text15{ font-size:16px; margin-bottom:5px!important;}
/*notice-section*/
.notice-section{background:#fff;/*padding-top:40px; margin-bottom:40px;*/}
#whatchout{font-size:18px; }
.notice-section ol li{ text-align:justify; text-justify: distribute;font-size:16px; line-height:1.8em;}
/*foresee-section*/
.tab-v2 .tab-content{ border:none; padding:0px 16px}
.tab-v2 .tab-content h3{ margin-top:0; margin-bottom:30px;}
.foresee-section{background:#e9e9e9; padding-top:40px; /*margin-bottom:40px;*/}
.foresee-section h3{ padding-left:30px; font-weight:800; font-size:22px; color:#004165;}
.foresee-section .question-text{ padding-left:15px; font-size:18px; color:#004165;}

.end-resault{ text-align:right; font-size:16px!important; color:#004165!important; padding-right:55px!important; letter-spacing:5px; /**/}
.sky-form .input input.end-resault{/*background:url(../img/anz/resaule-tiles.png) repeat-x center left; */}

.navbar-brand{ padding:0;}
.one-page-header {
	border-bottom: none;
	/*background: url("../img/anz/bg_header-3.png") repeat-x scroll center top #006391;*/
	/*background: url("../img/anz/bg_header-3.png") repeat-x scroll center top #fff;*/
	background:#fff url(../img/anz/bg_header.png) no-repeat top center;
	box-shadow:1px 1px 5px #888;
}
.one-page-header.navbar{ padding:0;}
.top-bar {background:url("../img/anz/bg_header-slice.png") repeat-x 0 0; margin:0 15px;}
/*Navbar*/
.one-page-header.top-nav-collapse {
    /*background: none repeat scroll 0 0 #fff;*/
	background: url("../img/anz/bg_header-3.png") repeat-x scroll center top #006391;
    box-shadow: 0 0 3px #b5b5b5;
}
.one-page-header .navbar-nav > li > a {
	color: #008dc9;
	font-size: 15px;
	text-transform: uppercase;
}

.one-page-header .navbar-nav > li > a:hover {
	z-index: 1;
	color: #004266;
}

.one-page-header .navbar-nav > li > a:focus {
	color: #004266;
}

.one-page-header .navbar-nav > .active > a, 
.one-page-header .navbar-nav > .active > a:hover,
.one-page-header .navbar-nav > .active > a:focus {
	z-index: 1;
	background: none;
	color: #72c02c !important;
}


.one-page-header .navbar-nav > .active > a, 
.one-page-header .navbar-nav > .active > a:hover,
.one-page-header .navbar-nav > .active > a:focus {
	z-index: 1;
	background: none;
	color: #004266 !important;
}

.f-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    /*width: 960px;*/
}
.f-wrapper::after {
    clear: both;
    content: "";
    display: table;
}
footer .links {
    background-color: #004266;
    color: white;
    font-size: 13px;
}
footer .links a {
    color: white;
    display: inline-block;
    line-height: 1em;
    padding: 0 1em;
}
footer .links a:hover {
    color: #cdffff;
}
footer .links a:first-child {
    padding-left: 0;
}
footer .links a + a {
    border-left: 1px solid white;
}
footer .links p.copyright {
    padding-top: 0.5em;
}
@media only screen and (max-width: 600px) {
 footer .links {
    padding-top: 15px;
}
footer .links a {
    display: block;
    padding: 1em 0;
}
footer .links a:first-child {
    padding: 1em 0;
}
footer .links a + a {
    border-left: medium none;
    border-top: 1px solid #115377;
}
footer .links p.copyright {
    padding-top: 1em;
}
footer .notify img.prudent {
    display: block;
    float: none;
    margin: 0 auto 1em;
}
footer .notify ul.note li {
    margin: 0.5em 20px;
}
}



 /*0319*/
 
 .btn-u.btn-u-dark-blue {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(bottom, #0471ad 0%, #0594d7 48.12%, #06a8ef 100%);
  background-image: -moz-linear-gradient(bottom, #0471ad 0%, #0594d7 48.12%, #06a8ef 100%);
  background-image: linear-gradient(bottom, #0471ad 0%, #0594d7 48.12%, #06a8ef 100%);
  display: inline-block;
  min-width: 144px;
  padding: 4px 10px;
  background-color: #0471ad;
  border: 1px solid #315b6f;
  color: white;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
.btn-u.btn-u-dark-blue:hover {
  color: white;
  background-color: #06a8ef;
  background-image: -webkit-linear-gradient(bottom, #06a8ef 0%, #0594d7 48.12%, #0471ad 100%);
  background-image: -moz-linear-gradient(bottom, #06a8ef 0%, #0594d7 48.12%, #0471ad 100%);
  background-image: linear-gradient(bottom, #06a8ef 0%, #0594d7 48.12%, #0471ad 100%);
}

.btn.btn-deep-current {
  background-color: #004165;
  background-image: -webkit-linear-gradient(bottom, #004165 1%, #007dba 100%);
  background-image: -moz-linear-gradient(bottom, #004165 1%, #007dba 100%);
  background-image: linear-gradient(bottom, #004165 1%, #007dba 100%);
}
.btn.btn-deep-current:hover {
  color: white;
  background-color: #007dba;
  background-image: -webkit-linear-gradient(bottom, #007dba 1%, #004165 100%);
  background-image: -moz-linear-gradient(bottom, #007dba 1%, #004165 100%);
  background-image: linear-gradient(bottom, #007dba 1%, #004165 100%);
}
.inner-btn .icon-anz-ico01,.inner-btn .icon-anz-ico02,.inner-btn .icon-anz-ico03,.inner-btn .icon-anz-ico04,.inner-btn .icon-anz-ico13{ font-size:35px;position: absolute;
left: 1em;
top: 0.4em;
display: inline-block;
width: 38px;
height: 35px;}

span.anz-icon{display: inline-block;
font-size: 35px;
position: absolute;
left: 0.4em;}

.sky-form {
	margin: 0;
	outline: none;
	/*font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;*/
	font: 16px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.sky-form {
  box-shadow: none;
 border: none;
}

.sky-form fieldset {background:none;
  /*background: #fff;*/
}
.sky-form footer {background:none;
  /*background: #fff;padding: 15px 30px;*/
  padding: 15px 30px 0px;
  border-top:none;
}
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea {
  border-width: 1px; font-size:16px;
  /*font-size: 14px;*/
  color: #404040;}
.ie8 .sky-form .select i{ display:none;}
.ie8 .navbar.one-page-header{ padding-top:0;}
.ie8 .pace .pace-activity{ visibility:hidden;}
.ie8 .four-btns .four-btns-1 a{ background: #0170a7;}
.ie8 .four-btns .four-btns-1 a:hover{ background:#007dba;}
.ie8 .four-btns .four-btns-2 a{background:#0170a7;}
.ie8 .four-btns .four-btns-2 a:hover{background:#007dba;}
.ie8 .four-btns .four-btns-3 a{background:#0170a7;}
.ie8 .four-btns .four-btns-3 a:hover{background:#007dba;}
.ie8 .four-btns .four-btns-4 a{background:#0170a7;}
.ie8 .four-btns .four-btns-4 a:hover{background:#007dba;}
.ie8 .four-btns .btn-u.btn-block{ padding-right:0!important;}
.ie8 a#whatchout:before {
    background: url("../img/anz/icon_cursor_click.png") no-repeat scroll center center transparent;
    content: "";
    display: inline-block;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
    width: 30px;
}
.ie8 a#whatchout:after {
    background: url("../img/anz/btn_to_open.png") no-repeat scroll center center transparent;
    content: "";
    display: inline-block;
    float: right;
    height: 30px;
    text-align: right;
    vertical-align: middle;
    width: 30px;
}
.ie8 .features h1 .round-blue{padding:0.3em 0 0.3em 0.3em; display: inline-table; background:#fff;/* background:#007dba;*/ color:#007dba; font-style:normal;}
.ie8 .panel-body h3{background:#0170a7;}
.ie8 .sky-form .input input{ font-size:15px;}
.ie8 .sky-form .select select{ font-size:15px; padding-top:3px; padding-bottom:3px;}
.ie8 .sky-form .icon-append,
.ie8 .sky-form .icon-prepend {
	position: absolute;
	top: 5px;
	width: auto;
	height: 29px;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
}
.purpose-box{background: #f5f5f5;padding: 15px 0;border-radius: 5px!important;}

 @media only screen and (min-width: 1000px) {
.four-btns{ width:100%;}
.four-btns .col-md-3{ width:20%;}	
.inner-btn .icon-anz-ico01,.inner-btn .icon-anz-ico02,.inner-btn .icon-anz-ico03,.inner-btn .icon-anz-ico04,.inner-btn .icon-anz-ico13{ left: 0.5em;}
.four-btns .btn-u.btn-block { padding-left:3.2em;}
	}
/* IE 9/10 */
@media screen and (min-width:0\0) {

/*.fa-angle-down{ width:22px; height:17px; background:url(../img/anz/fa-angle-down.png) no-repeat 0 0;}*/
.fa-angle-down::before{content: "";}
.inner-btn{ position:relative}
	.inner-btn .icon-anz-ico01, .inner-btn .icon-anz-ico02, 
	.inner-btn .icon-anz-ico03, .inner-btn .icon-anz-ico04, .inner-btn .icon-anz-ico13{ 
	background:#000;
	font-size:0;
	position: absolute;
	left: 30px;
	top: 10px;
	display:block;
	width: 38px;
	height: 35px;}
.inner-btn .icon-anz-ico01{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 0;}
.inner-btn .icon-anz-ico02{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.inner-btn .icon-anz-ico03{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -72px;}
.inner-btn .icon-anz-ico04{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -108px;}
.inner-btn .icon-anz-ico13{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -288px;}
.icon-anz-ico01:before, .icon-anz-ico02:before, .icon-anz-ico03:before,.icon-anz-ico04:before, .icon-anz-ico09:before, .icon-anz-ico10:before, .icon-anz-ico11:before, .icon-anz-ico12:before, .icon-anz-ico13:before {content: "";}
i.icon-anz-ico09, i.icon-anz-ico10, i.icon-anz-ico11, i.icon-anz-ico12{background:#000;
	font-size:0;
	position: absolute;
	left: 35%;
	top: 15%;
	display:block;
	width: 84px;
	height: 91px;}
.purpose-box h1{ height:90px;}
i.icon-anz-ico09{ background:url(../img/anz/icon-anz-ico09.png) no-repeat 0 0;}
i.icon-anz-ico10{ background:url(../img/anz/icon-anz-ico10.png) no-repeat 0 0;}
i.icon-anz-ico11{ background:url(../img/anz/icon-anz-ico11.png) no-repeat 0 0;}
i.icon-anz-ico12{ background:url(../img/anz/icon-anz-ico12.png) no-repeat 0 0;}
span.anz-icon{
 font-size: 0;
position: absolute;
left: 15px;
 	top: 10px;
	display:block;
	width: 38px;
	height: 35px;

}
.icon-anz-ico02 {background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.icon-anz-ico05:before, 
.txt-base .icon-anz-ico06:before, 
.txt-base .icon-anz-ico01:before, 
.txt-base .icon-anz-ico07:before, 
.icon-anz-ico08:before {content: "";}

.txt-base{ padding-left:25px;}
.txt-base .icon-anz-ico07{ display:block; position:absolute; top:1px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -108px;}
.txt-base .icon-anz-ico06{ display:block; position:absolute; top:1px; left:0px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -90px;}
.txt-base .icon-anz-ico01{ display:block; position:absolute; top:2px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 0;}

.fa-angle-double-up:before{content:"";}

.copyright-section i.back-to-top { 
background: url(../img/double-up.png) no-repeat top center;

  left: 50%;
  top: -30px;color: #ddd;
  font-size: 12px;
  display:block; width:20px; height:32px;
  background-color: #004165;
  padding: 8px 10px 8px 2px;
  margin-left: 0;
  position: absolute;
}
#topcontrol{ background:#222 url(../img/topcontrol.png) no-repeat top center;}
#topcontrol:after{content:"";}
#topcontrol:hover {
  color: #fff;
  background: #006fa6 url(../img/topcontrol.png) no-repeat top center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sky-form .radio input,
.sky-form .checkbox input {
	position: absolute;
	left: 30px; top:5px;
}
.sky-form .radio i,
.sky-form .checkbox i {
 	display: none;
 }
 .five-th small {position:absolute; right:-2px; bottom:0;}
}

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/*.fa-angle-down{ width:22px; height:17px; background:url(../img/anz/fa-angle-down.png) no-repeat 0 0;}*/
.fa-angle-down::before{content: "";}

.inner-btn{ position:relative}
	.inner-btn .icon-anz-ico01, .inner-btn .icon-anz-ico02, 
	.inner-btn .icon-anz-ico03, .inner-btn .icon-anz-ico04, .inner-btn .icon-anz-ico13{ 
	background:#000;
	font-size:0;
	position: absolute;
	left: 30px;
	top: 10px;
	display:block;
	width: 38px;
	height: 35px;}
.inner-btn .icon-anz-ico01{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 0;}
.inner-btn .icon-anz-ico02{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.inner-btn .icon-anz-ico03{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -72px;}
.inner-btn .icon-anz-ico04{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -108px;}
.inner-btn .icon-anz-ico13{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -288px;}
.icon-anz-ico01:before, .icon-anz-ico02:before, .icon-anz-ico03:before,.icon-anz-ico04:before, .icon-anz-ico09:before, .icon-anz-ico10:before, .icon-anz-ico11:before, .icon-anz-ico12:before, .icon-anz-ico13:before {content: "";}
i.icon-anz-ico09, i.icon-anz-ico10, i.icon-anz-ico11, i.icon-anz-ico12{background:#000;
	font-size:0;
	position: absolute;
	left: 35%;
	top: 15%;
	display:block;
	width: 84px;
	height: 91px;}
.purpose-box h1{ height:90px;}
i.icon-anz-ico09{ background:url(../img/anz/icon-anz-ico09.png) no-repeat 0 0;}
i.icon-anz-ico10{ background:url(../img/anz/icon-anz-ico10.png) no-repeat 0 0;}
i.icon-anz-ico11{ background:url(../img/anz/icon-anz-ico11.png) no-repeat 0 0;}
i.icon-anz-ico12{ background:url(../img/anz/icon-anz-ico12.png) no-repeat 0 0;}
span.anz-icon{
 font-size: 0;
position: absolute;
left: 15px;
 	top: 10px;
	display:block;
	width: 38px;
	height: 35px;

}
.icon-anz-ico02 {background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.icon-anz-ico05:before, .txt-base .icon-anz-ico06:before, .txt-base .icon-anz-ico01:before 
.txt-base .icon-anz-ico07:before, .icon-anz-ico08:before {content: "";}

.txt-base{ padding-left:25px;}
.txt-base .icon-anz-ico07{ display:block; position:absolute; top:1px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -108px;}
.txt-base .icon-anz-ico06{ display:block; position:absolute; top:1px; left:0px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -90px;}
.txt-base .icon-anz-ico01{ display:block; position:absolute; top:2px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 0;}

.fa-angle-double-up:before{content:"";}

.copyright-section i.back-to-top { 
background: url(../img/double-up.png) no-repeat top center;

  left: 50%;
  top: -30px;color: #ddd;
  font-size: 12px;
  display:block; width:20px; height:32px;
  background-color: #004165;
  padding: 8px 10px 8px 2px;
  margin-left: 0;
  position: absolute;
}
#topcontrol{ background:#222 url(../img/topcontrol.png) no-repeat top center;}
#topcontrol:after{content:"";}

#topcontrol:hover {
  color: #fff;
  background: #006fa6 url(../img/topcontrol.png) no-repeat top center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sky-form .radio input,
.sky-form .checkbox input {
	position: absolute;
	left: 30px; top:5px;
}
.sky-form .radio i,
.sky-form .checkbox i {
 	display: none;
 }

.five-th small {position:absolute; right:-2px; bottom:0;}
}

.ie8 .inner-btn{ position:relative}
.ie8 .inner-btn .icon-anz-ico01, .ie8 .inner-btn .icon-anz-ico02, 
.ie8 .inner-btn .icon-anz-ico03, .ie8 .inner-btn .icon-anz-ico04, .ie8 .inner-btn .icon-anz-ico13{ 
	background:#000;
	font-size:0;
	position: absolute;
	left: 30px;
	top: 10px;
	display:block;
	width: 38px;
	height: 35px;}
.ie8 .fa-angle-down:before {content: "";}
/*.ie8 .fa-angle-down{ width:22px; height:17px; background:url(../img/anz/fa-angle-down.png) no-repeat 0 0;}*/
.ie8 .inner-btn .icon-anz-ico01{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 0;}
.ie8 .inner-btn .icon-anz-ico02{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.ie8 .inner-btn .icon-anz-ico03{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -72px;}
.ie8 .inner-btn .icon-anz-ico04{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -108px;}
.ie8 .inner-btn .icon-anz-ico13{ background: url(../img/anz/anz-icon-36.png) no-repeat 0 -288px;}
.ie8 .icon-anz-ico01:before, .ie8 .icon-anz-ico02:before, .ie8 .icon-anz-ico03:before, .ie8 .icon-anz-ico04:before, 
.ie8 .icon-anz-ico09:before, .ie8 .icon-anz-ico10:before, .ie8 .icon-anz-ico11:before, .ie8 .icon-anz-ico12:before, .ie8 .icon-anz-ico13:before {content: "";}
 
.ie8 i.icon-anz-ico09, .ie8 i.icon-anz-ico10, .ie8 i.icon-anz-ico11, .ie8 i.icon-anz-ico12{background:#000;
	font-size:0;
	position: absolute;
	left: 35%;
	top: 15%;
	display:block;
	width: 84px;
	height: 91px;}
.ie8 .purpose-box h1{ height:90px;}
.ie8 i.icon-anz-ico09{ background:url(../img/anz/icon-anz-ico09.png) no-repeat 0 0;}
.ie8 i.icon-anz-ico10{ background:url(../img/anz/icon-anz-ico10.png) no-repeat 0 0;}
.ie8 i.icon-anz-ico11{ background:url(../img/anz/icon-anz-ico11.png) no-repeat 0 0;}
.ie8 i.icon-anz-ico12{ background:url(../img/anz/icon-anz-ico12.png) no-repeat 0 0;}

.ie8 span.anz-icon{
 font-size: 0;
position: absolute;
left: 15px;
 	top: 10px;
	display:block;
	width: 38px;
	height: 35px;

}
.ie8 .icon-anz-ico02 {background: url(../img/anz/anz-icon-36.png) no-repeat 0 -36px;}
.ie8 .icon-anz-ico05:before, .ie8 .txt-base .icon-anz-ico06:before, .ie8 .txt-base .icon-anz-ico01:before 
.ie8 .txt-base .icon-anz-ico07:before, .ie8 .icon-anz-ico08:before {content: "";}

.ie8 .txt-base{ padding-left:25px;}
.ie8 .txt-base .icon-anz-ico07{ display:block; position:absolute; top:1px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -108px;}
.ie8 .txt-base .icon-anz-ico06{ display:block; position:absolute; top:1px; left:0px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 -90px;}
.ie8 .txt-base .icon-anz-ico01{ display:block; position:absolute; top:2px; left:5px; width:18px; height:18px; background: url(../img/anz/anz-icon-18.png) no-repeat 0 0;}

.ie8 .fa-angle-double-up:before{content:"";}
 
.ie8 .copyright-section i.back-to-top { 
background: url(../img/double-up.png) no-repeat top center;

  left: 50%;
  top: -30px;color: #ddd;
  font-size: 12px;
  display:block; width:20px; height:32px;
  background-color: #004165;
  padding: 8px 10px 8px 2px;
  margin-left: 0;
  position: absolute;
}

.ie8 #topcontrol{ background:#222 url(../img/topcontrol.png) no-repeat top center;}
.ie8 #topcontrol:after{content:"";}

.ie8 .sky-form .radio input,
.ie8 .sky-form .checkbox input {
	position: absolute;
	left: 30px; top:5px;
}
.ie8 .sky-form .radio i,
.ie8 .sky-form .checkbox i {
 	display: none;
 }
.ie8 .five-th small {position:absolute; right:-1px; bottom:0;}


