.m-section-bd {
	position: relative;

	.section-title {
		color: $color-major;
	}

	.desc {
		color: $color-gray-d-p10;
	}

	.img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		display: flex;
		align-items: center;
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section:not(:last-child) {
		margin-bottom: 40px;
	}

	.m-section-bd {
		padding-right: 20px;
		padding-left: calc(60% + 30px);
		height: 350px;

		.section-title {
			margin-bottom: 10px;
			padding: 25px 0 10px 0;
			border-bottom: 1px solid $color-gray-l-p40;
			font-size: 36px;
			line-height: 54px;
		}

		.desc {
			margin-bottom: 20px;
			height: 160px;
			overflow: hidden;
			font-size: 16px;
			line-height: 2em;
		}

		.img-wrap {
			width: 60%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			img {
				height: 100%;
			}
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.m-section-bd {
		padding-left: 600px;

		.img-wrap {
			width: 570px;
		}
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.l-content {
		position: relative;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section:not(:last-child) {
		margin-bottom: 20px;
	}

	.m-section-bd {
		display: flex;
		flex-wrap: wrap-reverse;

		.project-info {
			padding: 8px 20px 15px 20px;
		}

		.section-title {
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 1.5em;
		}

		.desc {
			margin-bottom: 12px;
			line-height: 1.5em;
		}

		.btn-more {
			padding: 0 20px;
			min-width: 0;
			font-size: 13px;
		}

		.img-wrap img {
			width: 100%;
		}
	}
}

@include browsers('IE') {}