.m-content-hd {
	.branch-title, .sub-title {
		color: $color-white;
	}
}

.section-title {
	color: $color-major;
}

.branch-info {
	.m-section-bd {
		padding: 20px;
	}

	.section-title {
		margin-top: 10px;
	}

	.detail-info {
		padding: 10px 0;
		border-bottom: 1px solid $color-gray-l-p40;

		.intro {
			color: $color-gray-d-p10;
			font-size: 16px;
		}

		> *:not(.intro) {
			padding: 5px 0 5px 18px;
			display: block;
			position: relative;
			color: $color-black;
			font-size: 16px;
			line-height: 26px;

			.m-icon {
				position: absolute;
				top: 9px;
				left: 0;
				color: $color-major;
			}
		}
	}
		
	.link-wrap {
		margin: 15px 0;
	}

	.info-bd > *:last-child > * {
		margin-bottom: 0;
	}

	.branch-slider {
		position: relative;

		img {
			width: 100%;
		}

		.owl-stage .owl-item {
			vertical-align: middle;
		}

		.m-owl-arrow {
			margin-top: -35px;
			background: rgba(0, 0, 0, 0.2);
			width: 35px;
			height: 70px;
			position: absolute;
			top: 50%;
			@include transition(ease-in all 0.3s);

			&:hover {
				background: $color-major;
			}

			&.is-prev {
				left: 0;
			}

			&.is-next {
				right: 0;
			}
		}
	}
}

.m-table .m-icon {
	color: $color-gray;
}

.booking {
	background: rgba(14, 14, 14, 0.4);
	width: 100%;
	position: relative;
	font-size: 0;
	text-align: center;
	@include box-sizing(border-box);

	.owl-stage-outer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.select-time .m-selection, .m-datepicker, .m-inputbox {
		padding-left: 45px;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 40px;
	}

	.m-content-hd {
		height: 560px;

		.branch-title {
			font-size: 72px;
			line-height: 1.2em;
		}

		.sub-title {
			font-size: 48px;
			line-height: 1.2em;
		}
	}

	.branch-info {
		.info-hd {
			padding-left: 468px;
			min-height: 428px;
			position: relative;
		}

		.link-wrap .m-btn-radius {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.branch-slider {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.info-bd {
		margin-top: 20px;
		overflow: hidden;
	}

	.branch-slider .m-owl-arrow {
		cursor: pointer;
	}

	.booking {
		.m-datepicker, .m-inputbox {
			max-width: 164px;
			@include box-sizing(border-box);
		}

		.booking-step {
			padding: 17px 0 30px 0;
			height: 100%;

			.m-btn-radius {
				margin: 0 auto;
				display: block;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-section-hd {
		height: 120px;
	}

	.branch-info {
		.section-title {
			font-size: 36px;
			line-height: 1.5em;
		}

		.branch-slider {
			width: 444px;
			height: 428px;
			overflow: hidden;
		}
	}

	.m-table .m-icon {
		margin-bottom: 15px;
		display: block;
		font-size: 84px;
	}

	.m-branch .section-title {
		font-size: 48px;
	}

	.booking {
		.booking-step > * {
			margin-top: 17px;
			margin-bottom: 17px;
		}

		.m-owl-dots.is-absolute {
			bottom: 6px;
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.branch-info {
		.m-section-bd {
			padding: 20px 25px;
		}

		.section-title {
			margin-top: 0;
		}

		.detail-info .intro {
			padding: 20px 0;
			line-height: 36px;
		}

		.link-wrap {
			margin-top: 24px;
			display: flex;
			justify-content: space-between;

			.m-btn-radius {
				margin-bottom: 10px;
				min-width: 128px;
			}
		}
	}

	.booking .booking-step .m-btn-radius {
		display: inline-block;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.l-content {
		position: relative;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.m-content-hd {
		height: 100vh !important;

		.branch-title {
			margin-bottom: 15px;
			font-size: 60px;
			line-height: 72px;
			text-align: center;
		}

		.sub-title {
			font-size: 36px;
		}
	}

	.branch-info .branch-slider {
		margin: 0 auto;
	}

	.booking {
		overflow: hidden;

		.booking-step {
			margin: 0 auto;
			width: 256px;

			> * {
				display: block;
			}
	
			*:not(.m-icon) {
				width: 100%;
				@include box-sizing(border-box);
			}
		}
	}
}

@include respond(Mobiles) {
	.m-section-hd {
		align-items: flex-start;
	}

	.section-title {
		font-size: 36px;
		line-height: 64px;
	}

	.branch-info {
		.section-title {
			font-size: 22px;
			line-height: 1.5em;
		}

		.link-wrap .m-btn-radius {
			margin-bottom: 15px;
			display: block;
		}
	}

	.m-table {
		margin: 8px 0 36px 0;

		.m-icon {
			margin-right: 10px;
			font-size: 48px;
		}
	}

	.booking {
		padding: 28px 0;

		.booking-step .m-box-holder {
			margin-bottom: 22px;
			display: block;
			overflow: hidden;
		}
	}
}

@include browsers('IE') {}