body {
	overflow-x: hidden;
}

.l-content {
	background: $color-gray-l-p40;
}

.m-content-hd {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 560px;
	position: relative;
	z-index: 1;

	.logo-wrap {
		margin-bottom: 12px;
		padding: 6px;
		background: rgba(189, 189, 189, 0.5);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 196px;
		height: 196px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		text-align: center;
		@include box-sizing(border-box);

		&:before {
			content: '';
			margin: -92px 0 0 -92px;
			background: $color-white;
			width: 184px;
			height: 184px;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
		}

		img {
			max-width: 90%;
			max-height: 90%;
			position: relative;
			z-index: 1;
		}
	}

	.brand-title, .sub-title {
		color: $color-white;
	}
}

.m-content-bd {
	padding: 22px 0 98px 0;
}

.m-section-hd {
	height: 120px;
}

.m-table {
	margin: 8px 0 100px 0;

	.m-icon {
		margin-bottom: 15px;
		display: block;
		color: $color-gray;
		font-size: 84px;
	}
}

.notice-info {
	color: $color-gray-d-p10;
	font-size: 14px;
	line-height: 24px;

	.notice-title {
		margin-bottom: 24px;
	}

	.notice-list {
		padding-left: 20px;
		list-style: decimal outside;
	}
}

.store-list {
	position: relative;

	.list {
		margin: 0 6px;
		background: $color-white;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}

	.m-owl-dots.is-absolute {
		text-align: center;
	}
}

.fb-comments {
	margin: 0 6px;
}

.booking {
	background: rgba(14, 14, 14, 0.4);
	width: 100%;
	height: 120px;
	position: relative;
	font-size: 0;
	text-align: center;
	@include box-sizing(border-box);

	.owl-stage-outer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.select-time .m-selection, .m-datepicker, .m-inputbox {
		padding-left: 45px;
	}
}

.brand-img {
	width: 100vw;
	height: 560px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	img {
		min-width: 100vw;
		min-height: 100vh;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-content {
		margin: 0 auto;
		width: 948px;
	}

	.m-content-hd {
		.brand-title {
			font-size: 72px;
		}

		.sub-title {
			font-size: 24px;
		}
	}

	.section-title {
		color: $color-major;
		font-size: 48px;
	}
}

@include respond(Desktops-Tablets) {
	.b-normalize > *:not(img) {
		padding: 0 16px;
	}

	.price-list {
		.m-section-bd {
			padding: 50px;
		}

		.sub-title {
			color: $color-major;
			font-size: 22px;
			line-height: 1.5em;
		}
	}

	.booking .m-owl-dots.is-absolute {
		bottom: 6px;
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {}

@include browsers('IE') {}