.section-title {
    color: $color-major;
}

.m-section-bd {
    .introdution {
        color       : $color-gray-d-p40;
        line-height : 1.6em;
    }
}

.m-branch-list {
    justify-content : space-around;
    flex-wrap       : wrap;
    @include display(flex);

    .img-wrap {
        height : 225px;
        @include clearfix;

        img {
            height : auto;
        }
    }
}

@include respond(Desktops) {
    .l-content {
        padding: 0 0 0 220px;
    }

    .m-breadcrumb {
        margin-bottom: 24px;
    }

    .m-aside .info-list .list {
        margin-top: 20px;
    }

    .kv-img {
        height: 290px;
    }
}

@include respond(Desktops-Tablets) {
    .m-section {
        .m-section-hd {
            height : 120px;
        }

        .section-title {
            font-size : 48px;
        }
    }

    .m-section-bd {
        &.is-bg {
            padding: 20px 25px;
        }

        .introdution {
            font-size: 18px;
        }
    }

    .m-section-group {
        > *:not(:first-child) {
            margin-top : 32px;
        }
    }

    .m-branch-list {
        .list {
            width : calc((100% - 40px) / 2 );
        }
    }
}

@include respond(HD) {
    .l-content {
        padding: 0 0 0 270px;
    }
}

@include respond(Tablets) {
    .m-aside .info-list {
        font-size: 0;

        .list {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            @include box-sizing(border-box);

            &:nth-child(even) {
                padding-left: 5px;
            }
        }
    }
}

@include respond(Tablets-Mobiles) {
    .l-content {
        position: relative;
    }

    .m-breadcrumb {
        margin-bottom: 20px;
    }

    .kv-img {
        height: 230px;
        text-align: center;

        img {
            height: 100%;
        }
    }

    .m-aside {
        .community-reaction {
            padding: 20px 0;
        }

        .info-list .list {
            margin-top: 10px;
        }
    }
}

@include respond(Mobiles) {
    .m-section-hd {
        align-items: flex-start;
    }

    .m-section-bd {
        &.is-bg {
            padding: 20px;
        }

        .introdution {
            font-size: 15px;
        }
    }

    .section-title {
        font-size: 36px;
        line-height: 64px;
    }

    .m-section-group {
        > *:not(:first-child) {
            margin-top : 20px;
        }
    }

    .m-branch .m-section-bd {
        width : 100%;
    }

    .m-branch-list {
        .list {
            width : 100% !important;
        }
    }
}

@include browsers('IE') {}