body {
	overflow-x: hidden;
}

.is-dark {
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&.dark-10:after {
		background: rgba(0, 0, 0, 0.11);
	}

	&.dark-40:after {
		background: rgba(0, 0, 0, 0.41);
	}
}

.m-content-hd {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.kv-img {
	width: 100vw;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
}

.arrow-prev, .arrow-next {
	position: relative;

	&:before {
		content: '';
		margin-top: -5px;
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 50%;
		border-top: 2px solid $color-major;
		border-left: 2px solid $color-major;
		@include box-sizing(border-box);
	}
}

.arrow-prev:before {
	margin-left: 3px;
	left: 0;
	@include transform(rotate(-45deg));
}

.arrow-next:before {
	margin-right: 3px;
	right: 0;
	@include transform(rotate(135deg));
}

@include keyframes(ani-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.is-md-spacing {
		margin-left: 20px !important;
	}

	.kv-img {
		height: 560px;
		top: 0;

		img {
			min-width: 100vw;
			min-height: 100%;
		}
	}
}

@include respond(Desktops-Tablets) {
}

@include respond(HD) {
	.is-hd-spacing {
		margin-left: 20px !important;
	}
}

@include respond(Tablets) {
	.kv-img {
		margin-left: -1000px;
		width: 2000px;
	}
}

@include respond(Tablets-Mobiles) {
	.m-content-hd {
		padding-top: 60px;
		height: 100vh;
		@include box-sizing(border-box);
	}

	.kv-img {
		height: calc(100vh - 60px);
		top: 60px;
		left: 50%;

		img {
			min-width: 100vw;
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.kv-img {
		margin-left: -500px;
		width: 1000px;
	}
}

@include browsers('IE') {}