.l-content {
	background: $color-gray-l-p40;
}

.m-content-hd {
	height: 290px;

	.main-title {
		position: relative;
		color: $color-white;

		&:before, &:after {
			content: '';
			display: block;
			width: 5px;
			position: absolute;
			@include transform(skew(-30deg));
			@include transform-origin(left, bottom);
		}

		&:before {
			background: $color-major;
			position: absolute;
			left: 0;
			opacity: 0.7;
		}

		&:after {
			background: $color-gray-l-p30;
		}
	}
}

.m-content-bd {
	padding: 22px 0 98px 0;
}

.section-title, .sub-title {
	color: $color-major;
}

.m-section .m-section-bd {
	overflow: inherit;

	.img-wrap img {
		max-width: 100%;
	}

	.m-item-bd {
		color: $color-gray-d-p10;
	}
}

.preview-list {
	margin: 0 auto;
	position: relative;
	font-size: 0;

	.img-wrap {
		display: inline-block;
	}

	.m-owl-arrow {
		background: rgba(0, 0, 0, 0.2);
		width: 34px;
		top: 0;
		bottom: 0;

		&:hover {
			background: $color-major;
		}

		&.is-prev {
			left: -34px;
		}

		&.is-next {
			right: -34px;
		}
	}
}

.project-info {
	font-size: 14px;
	line-height: 2em;

	.info {
		padding: 1px 0;
		display: block;
		color: $color-major;
		font-weight: bold;

		&.has-icon {
			padding-left: 30px;
			position: relative;

			.m-icon {
				position: absolute;
				top: 4px;
				left: 0;
				font-size: 20px;
			}
		}

		.b-link {
			color: $color-gray-d-p40;
		}
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.m-content {
		padding: 0 20px;
		width: 100%;
		@include box-sizing(border-box);
	}

	.m-content-hd .main-title {
		padding-left: 65px;
		font-size: 72px;
		line-height: 1.2em;

		&:before {
			height: 35px;
			top: 40px;
			left: 0;
		}

		&:after {
			height: 84px;
			top: -16px;
			left: 15px;
		}
	}

	.m-content-bd {
		overflow: hidden;
	}

	.m-aside .info-list .list {
		margin-top: 20px;
	}

	.kv-img {
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section {
		.m-section-bd {
			padding: 15px 30px;
		}

		.section-title {
			font-size: 36px;
			line-height: 2em;
		}

		.sub-title {
			margin-top: 30px;
			font-size: 18px;
			line-height: 1.5em;
		}

		.m-item-bd {
			font-size: 16px;
		}
	}

	.preview-list {
		margin-top: 25px;
		width: 600px;

		.img-wrap {
			width: 100px;
			cursor: pointer;
		}
	}

	.project-info {
		margin-top: 25px;
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.m-content {
		margin: 0 auto;
		padding: 0;
		width: 948px;
	}

	.m-section .m-section-bd {
		padding: 20px 54px;
	}
}

@include respond(Tablets) {
	.m-aside .info-list {
		font-size: 0;

		.list {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			@include box-sizing(border-box);

			&:nth-child(even) {
				padding-left: 5px;
			}
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-content {
		padding: 0 12px;
	}

	.m-content-hd .main-title {
		font-size: 60px;
	}

	.m-content-bd {
		padding-bottom: 68px;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}

	.m-aside {
		.community-reaction {
			padding: 20px 0;
		}

		.info-list .list {
			margin-top: 10px;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		.m-section-bd {
			margin-bottom: 10px;
		}
	}

	.preview-list {
		width: calc(100vw - 106px);

		.img-wrap {
			background: #000;
			width: calc((100vw - 106px) / 3);

			img {
				width: 100%;
			}
		}
	}
}

@include browsers('IE') {}