body {
	overflow: hidden;
}

.m-cut {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;

	.main-content {
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		position: relative;
		z-index: 2;
		text-align: center;
		@include box-sizing(border-box);
	}

	.main-title, .sub-title {
		color: $color-white;
	}

	.booking {
		margin: 0 auto;
		background: rgba(14, 14, 14, 0.4);
		@include box-sizing(border-box);
	}
}

.main-content-hd {
	.main-title {
		position: relative;
		text-align: left;

		&:before, &:after {
			content: '';
			display: block;
			width: 5px;
			position: absolute;
			@include transform(skew(-30deg));
			@include transform-origin(left, bottom);
		}

		&:before {
			background: $color-major;
			position: absolute;
			left: 0;
			opacity: 0.7;
		}

		&:after {
			background: $color-gray-l-p30;
		}
	}

	.sub-title {
		font-size: 18px;
		text-align: left;
	}
}

.main-cut {
	.booking {
		font-size: 0;

		.select-time .m-selection, .m-datepicker, .m-inputbox {
			padding-left: 45px;
		}

		.m-datepicker, .m-inputbox {
			width: 164px;
			@include box-sizing(border-box);
		}
	}

	.m-btn-slide {
		position: absolute;
		left: 50%;
		z-index: 2;
		@include animation(suspension 1.5s ease-in-out infinite);
	}
}

.restaurant-cut {
	.main-title {
		color: $color-major;
	}

	.restaurant-list {
		margin: 0 auto;

		.list-group {
			font-size: 0;
		}

		.list {
			display: inline-block;
			vertical-align: top;

			.b-link {
				margin-bottom: 5px;
				background: rgba(255, 255, 255, 0.62);
				display: block;
				position: relative;
				border: 1px solid $color-gray-l-p30;
				border-radius: 50%;
				overflow: hidden;
				@include box-sizing(border-box);

				&:after {
					content: '';
					background: rgba(12, 12, 12, 0);
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					@include transition(ease-in all 0.3s);
				}

				&:hover {
					&:after {
						background: rgba(12, 12, 12, 0.62);
					}

					.m-icon, .btn-more {
						opacity: 1;
					}
				}
			}

			.m-icon, .btn-more {
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				opacity: 0;
				z-index: 2;
				color: $color-white;
				@include transition(ease-in all 0.3s);
			}

			.m-icon {
				margin-top: -24px;
				font-size: 34px;
			}

			.btn-more {
				margin-top: 14px;
				font-size: 14px;
			}

			> .name {
				margin: 5px 0;
				color: $color-gray-d-p20;
				line-height: 26px;
			}
		}
	}
}

.history-cut {
	.main-content-hd .main-title:before {
		background: #ff0071;
	}

	.main-content-bd {
		width: 100%;
	}

	.history-list {
		.list {
			display: inline-block;
			position: relative;
			vertical-align: top;
			color: $color-white;

			&:before {
				content: '';
				display: block;
				height: 0;
				position: absolute;
				border-top: 2px dashed $color-white;
			}

			&:hover .time img {
				opacity: 1;
			}

			.desc {
				line-height: 24px;
				text-align: center;
			}
		}

		.owl-item:first-child .list:before {
			display: none;
		}

		.time {
			margin-bottom: 20px;
			display: block;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			text-align: center;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border: 2px solid $color-white;
				border-radius: 50%;
				@include box-sizing(border-box);
			}

			.year {
				margin-right: 5px;
			}

			.unit {
				font-size: 18px;
			}

			img {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 50%;
				opacity: 0;
				@include transition(ease-in all 0.3s);
			}
		}
	}
}

.news-cut {
	.main-title {
		color: $color-major;
	}

	.news-list .list {
		margin: 0 6px 38px 6px;

		.img-wrap {
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.news-content {
			padding: 10px 16px 50px 16px;
			background: #fff;
			position: relative;
			color: $color-gray-d-p20;
			text-align: left;
		}

		.news-title, .desc {
			overflow: hidden;
		}

		.btn-more {
			margin-left: -50px;
			padding: 0;
			display: block;
			width: 100px;
			min-width: 0;
			position: absolute;
			top: calc(100% - 28px);
			left: 50%;
			font-size: 14px;
			text-align: center;

			&:hover {
				top: calc(100% - 23px);
			}
		}
	}
}

.search-cut {
	.main-title {
		display: block;
		font-size: 48px;
	}

	.booking {
		padding: 5px 25px 20px 25px;
		display: inline-block;
		font-size: 0;

		.btn-close {
			position: absolute;
			opacity: 0;
			@include transition(ease-in all 0.3s);

			&.is-show {
				opacity: 1;
			}
		}
	}

	.btn-search {
		margin-top: 6px;
		vertical-align: top;
	}

	.search-result-list {
		height: 0;
		overflow: hidden;
		@include transition(ease-in all 0.3s);

		.list {
			position: relative;
		}

		.store-name {
			font-size: 18px;
			font-weight: bold;
		}

		.location, .btn-tel, .addr {
			padding-left: 22px;
			display: inline-block;
			position: relative;

			.m-icon {
				position: absolute;
				left: 0;
			}
		}

		.img-wrap {
			position: absolute;

			img {
				width: 100%;
			}
		}

		.btn-googlemap {
			> * {
				color: #ff3f3f !important;
			}

			.m-icon {
				padding-right: 8px;
			}
		}
	}
}

.m-media {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	> * {
		display: block;
		min-width: 100vw;
	}
}

.pagination {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;

	.cut-dot {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.list:hover .btn-dot:before {
		background: #545454;
	}

	.list.is-curr .btn-dot:before {
		background: #ff4b4b;
		opacity: 1;
	}

	.btn-dot {
		display: block;
		position: relative;

		&:before {
			content: '';
			background: #a8a8a8;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			opacity: 0.8;
		}
	}
}

@include keyframes(suspension) {
	0%, 100% {
		margin-bottom: 10px;
	}

	50% {
		margin-bottom: 0px;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.main-content-hd {
		position: absolute;
		top: 72px;
		left: 270px;

		.main-title {
			padding-left: 65px;
			font-size: 48px;

			&:before {
				height: 35px;
				bottom: 11px;
				left: 0;
			}

			&:after {
				height: 84px;
				bottom: 18px;
				left: 15px;
			}
		}
	}

	.m-cut .main-content {
		padding: 0 50px 0 220px;
		width: 100%;
	}

	.main-cut {
		.main-content {
			padding: 0 100px 0 220px;
		}

		.booking {
			width: 720px;
			position: relative;

			.booking-step {
				padding: 17px 0 30px 0;
				height: 100%;

				.m-btn-radius {
					margin: 0 auto;
					display: block;
				}
			}
		}

		.m-btn-slide {
			margin-left: 61px;
		}
	}

	.restaurant-cut .restaurant-list .list {
		margin: 0 7px 25px 7px;
	}

	.history-cut {
		.main-content {
			padding-top: 104px !important;
		}

		.main-content-hd {
			margin-bottom: 0;
		}

		.main-content-bd {
			width: 728px;
		}

		.history-list {
			.list {
				width: 142px;

				&:before {
					left: -20px;
				}
			}
		}
	}

	.search-cut .booking {
		min-width: 580px;
	}

	.restaurant-cut, .history-cut, .news-cut {
		.m-owl-dots {
			padding: 0 50px 0 220px;
		}
	}

	.pagination {
		right: 8px;
	}

	.m-media {
		display: block;

		> * {
			min-height: 100vh;
		}

		.jq-video {
			height: 100vh;
		}
	}
}

@include respond(Desktops-Tablets) {
	.main-cut {
		.main-title {
			font-size: 72px;
		}

		.sub-title {
			margin-bottom: 24px;
			font-size: 24px;
		}

		.booking {
			.booking-step > * {
				margin-top: 17px;
				margin-bottom: 17px;
			}

			.m-owl-dots.is-absolute {
				bottom: 6px;
			}
		}

		.m-btn-slide {
			bottom: 80px;
		}
	}

	.restaurant-cut {
		.main-content-bd {
			width: 100%;
		}

		.restaurant-list .list {
			width: 168px;
	
			.b-link {
				width: 168px;
				height: 168px;

				.img-wrap img {
					max-width: 100%;
				}
			}

			> .name {
				font-size: 16px;
			}
		}
	}

	.history-cut {
		.main-content-hd {
			margin-bottom: 95px;
		}

		.history-list {
			.list {
				padding: 0 15px 25px 15px;
		
				&:before {
					width: 30px;
					top: 71px;
				}
				
				.desc {
					font-size: 14px;
				}
			}

			.time {
				width: 142px;
				height: 142px;

				.year {
					font-size: 36px;
				}
			}
		}
	}

	.news-cut {
		.main-content-bd {
			width: 720px;
		}

		.news-list .list {
			.news-title {
				height: 64px;
				font-size: 24px;
				line-height: 32px;
			}

			.desc {
				height: 52px;
				font-size: 14px;
				line-height: 26px;
			}
		}
	}

	.search-cut {
		.booking {
			position: relative;

			.m-selection {
				min-width: 164px;
			}

			.btn-close {
				background: #ff4b4b;
				width: 30px;
				height: 30px;
				top: 0;
				right: 0;

				&:before, &:after {
					margin-left: -10px;
					background: $color-white;
					width: 20px;
					height: 1px;
				}

				&.is-show {
					right: -32px;
				}
			}
		}

		.search-result-list {
			margin-top: 24px;
			width: 600px;

			&.is-show {
				height: 49vh;
				overflow-y: scroll;
			}

			.list {
				padding: 15px 20px 15px 200px;
				min-height: 134px;
				line-height: 20px;
				text-align: left;
				@include box-sizing(border-box);

				&:not(:first-child):before {
					content: '';
					margin-left: -286px;
					background: $color-gray-d-p20;
					display: block;
					width: 572px;
					height: 1px;
					position: absolute;
					top: 0;
					left: 50%;
				}
			}

			.store-name {
				padding: 5px 120px 5px 0;
				line-height: 30px;
			}

			.location {
				margin-right: 20px;
			}

			.store-name, .text {
				color: $color-white;
			}

			.m-icon, .text {
				font-size: 14px;
				vertical-align: middle;
			}

			.m-icon {
				color: #fff799;
			}

			.location, .btn-tel, .addr {
				padding-top: 5px;
				padding-bottom: 5px;

				.m-icon {
					top: 8px;
				}
			}

			.img-wrap {
				margin-top: -52px;
				display: block;
				width: 180px;
				height: 104px;
				top: 50%;
				left: 0;
				overflow: hidden;
			}

			.btn-googlemap {
				position: absolute;
				top: 15px;
				right: 24px;
				line-height: 40px;
			}
		}
	}

	.restaurant-cut, .history-cut, .news-cut {
		.m-owl-dots {
			bottom: 45px;
		}
	}

	.pagination .btn-dot {
		width: 34px;
		height: 34px;

		&:before {
			margin: -8px 0 0 -8px;
			width: 16px;
			height: 16px;
		}
	}
}

@include respond(HD) {
	.m-cut .main-content {
		padding: 0 50px 0 270px;
		width: $main-max-width;
	}

	.main-cut {
		.booking {
			width: 840px;

			.booking-step .m-btn-radius {
				margin-right: 0;
				display: inline-block;
			}
		}

		.m-btn-slide {
			margin-left: 86px;
		}
	}

	.restaurant-cut .restaurant-list .list {
		margin: 0 10px 25px 10px;
	}

	.history-cut {
		.main-content-bd {
			width: 100%;
		}

		.history-list {
			.list {
				padding: 0 40px 25px 40px;
				width: 170px;

				&:before {
					width: 64px;
					top: 84px;
					left: -26px;
				}
			}

			.time {
				width: 170px;
				height: 170px;

				.year {
					font-size: 48px;
				}
			}
		}
	}

	.news-cut {
		.main-content-bd {
			width: 816px;
		}

		.news-list .list {
			width: 260px;
			box-shadow: 3px 3px 3px rgba(191, 191, 191, 0.35);

			.img-wrap {
				height: 215px;
			}
		}
	}

	.restaurant-cut, .history-cut, .news-cut {
		.m-owl-dots {
			padding: 0 50px 0 270px;
		}
	}
}

@include respond(Tablets) {
	.main-cut .booking {
		width: 700px;
		position: relative;
	}

	.restaurant-cut {
		.main-content-bd {
			width: 520px;
		}

		.restaurant-list .list .b-link {
			margin: 0 auto 5px auto;
		}
	}

	.history-cut {
		.main-content-bd {
			width: 672px;
		}

		.history-list {
			.list {
				width: 138px;

				&:before {
					left: -16px;
				}
			}

			.time {
				width: 138px;
				height: 138px;

				.year {
					font-size: 36px;
				}
			}
		}
	}

	.restaurant-cut, .history-cut, .news-cut {
		.main-content-hd {
			margin-bottom: 95px;
		}
	}

	.search-cut .booking .m-selection {
		width: 100%;
		@include box-sizing(border-box);
	}
}

@include respond(Tablets-Mobiles) {
	.main-content-hd .main-title {
		margin-bottom: 32px;
		padding-left: 52px;
		font-size: 38px;

		&:before {
			height: 27px;
			bottom: 8px;
			left: 0;
		}

		&:after {
			height: 64px;
			bottom: 14px;
			left: 15px;
		}
	}

	.m-media {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		> * {
			height: 100%;
		}
	}

	.main-cut {
		.main-content {
			padding-bottom: 50px;
		}

		.main-title {
			margin-bottom: 50px;
			padding: 0 50px;
			font-size: 60px;
			line-height: 65px;
		}

		.booking {
			padding-top: 61px;
			background: rgba(248, 248, 248, 0.85);
			width: 100vw;
			height: 100vh;
			position: absolute;
			bottom: 100vh;
			left: 0;
			overflow: scroll;
			@include transition(ease-in all 0.3s);

			&.is-show {
				bottom: 0;
			}

			.booking-title {
				margin-top: 12px;
				color: $color-major;
				font-size: 26px;
				line-height: 1.5em;
				text-align: center;
			}

			.booking-step {
				margin: 0 auto;
				width: 216px;
			}

			.m-btn-radius {
				margin-top: 0;
				width: 100%;
			}
		}

		.m-box-holder {
			margin-bottom: 8px;
			display: block;

			> * {
				display: block;
			}
		}

		.m-btn-slide {
			margin-left: -24px;
			bottom: 30px;
		}

		.btn-close {
			display: block;
			width: 44px;
			height: 44px;
			position: absolute;
			top: 67px;
			right: 6px;
		}
	}

	.restaurant-cut {
		.main-content-bd {
			margin: 0 auto;
		}

		.restaurant-list .list {
			padding: 0 11px 20px 11px;
			width: 50%;
			@include box-sizing(border-box);
	
			.b-link .img-wrap img {
				max-width: 90%;
			}
		}
	}

	.news-cut {
		.main-content-hd .main-title {
			margin-bottom: 13px;
		}

		.main-content-bd {
			margin: 0 auto;
		}

		.news-list .list {
			margin: 0 auto 38px auto;
			padding: 0 20px;
			width: 186px;
	
			.img-wrap {
				height: 154px;
			}

			.news-title {
				height: 54px;
				font-size: 18px;
				line-height: 27px;
			}

			.desc {
				height: 54px;
				font-size: 12px;
				line-height: 18px;
			}
		}

		.owl-stage-outer {
			overflow: visible;
		}
	}

	.history-cut {
		.main-title {
			margin-bottom: 0;
		}

		.sub-title {
			display: none;
		}

		.history-list {
			.list {
				margin: 8px 0;
				min-height: 108px;

				.desc {
					height: 9em;
					overflow: hidden;
					font-size: 12px;
					line-height: 1.5em;
					text-align: left;
				}
			}
		}
	}

	.search-cut {
		.main-title {
			font-size: 38px;
		}

		.booking {
			width: 264px;
		}

		.m-form {
			display: block;

			.m-box-holder {
				display: block;
			}
		}

		.btn-search {
			margin-top: 16px;
			display: block;
			width: 100%;
		}
	}

	.pagination {
		right: 0;

		.btn-dot {
			width: 34px;
			height: 34px;
	
			&:before {
				margin: -6px 0 0 -6px;
				width: 12px;
				height: 12px;
			}
		}
	}
}

@include respond(Mobiles) {
	.main-cut {
		.sub-title {
			margin-bottom: 18px;
			padding: 0 34px;
			font-size: 16px;
		}

		.booking {
			padding-bottom: 20px;

			.m-selection, .m-inputbox {
				width: 100%;
			}
		}
	}

	.restaurant-cut {
		.main-content-bd {
			width: 260px;
		}

		.restaurant-list .list {
			.b-link {
				width: 108px;
				height: 108px;
			}

			> .name {
				font-size: 12px;
			}
		}
	}

	.history-cut .history-list {
		padding: 0 36px;

		.list {
			padding-left: 128px;
		}

		.time {
			margin-top: -54px;
			width: 108px;
			height: 108px;
			position: absolute;
			top: 50%;
			left: 0;

			.year {
				font-size: 30px;
			}
		}
	}

	.news-cut .main-content-bd {
		width: 226px;
	}

	.search-cut {
		.booking {
			.m-selection {
				width: 100%;
			}

			.btn-close {
				width: 44px;
				height: 44px;
				top: 67px;
				right: 6px;
				z-index: 1;
			}
		}

		.search-result-list {
			background: rgba(248, 248, 248, 0.85);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			@include box-sizing(border-box);

			&.is-show {
				padding-top: 60px;
				height: 100%;
				bottom: 0;
			}

			.owl-stage {
				display: flex;
				height: calc(100vh - 60px);
				align-items: center;
				flex-direction: row;
				justify-content: center;
			}

			.list {
				margin: 0 auto;
				padding: 166px 0 0 0;
				display: flex;
				width: calc(100vw - 68px);
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				@include box-sizing(border-box);

				> * {
					display: block;
					vertical-align: middle;
					text-align: left;
				}
			}

			.store-name, .text, .m-icon {
				color: $color-gray-d-p10;
			}

			.m-icon, .text {
				font-size: 16px;
				vertical-align: middle;
			}

			.location, .btn-tel, .addr {
				.m-icon {
					top: 5px;
				}
			}

			.img-wrap {
				margin-left: calc((-100vw + 68px) / 2);
				width: calc(100vw - 68px);
				height: 156px;
				top: 0;
				left: 50%;
				overflow: hidden;
			}
		}
	}
}

@include respond(Iphone5) {
	.main-content-hd .main-title {
		margin: 32px 0 12px 0;
		font-size: 30px;
	}

	.main-cut {
		.main-content {
			padding-bottom: 0;
		}

		.main-title {
			margin-bottom: 36px;
			font-size: 42px;
			line-height: 48px;
		}
	}

	.restaurant-cut .restaurant-list .list {
		padding-bottom: 10px;
	}

	.history-cut .history-list {
		.list {
			padding-left: 108px;
			max-height: 88px;
			min-height: 0;
			overflow: hidden;
	
			&:first-child {
				margin-top: 0;
			}
		}

		.time {
			margin-top: -44px;
			width: 88px;
			height: 88px;

			.year {
				font-size: 24px;
			}

			.unit {
				font-size: 14px;
			}
		}
	}

	.news-cut .news-list {
		margin: 0 auto;
		width: 226px;

		.list {
			margin-bottom: 20px;
	
			.news-content {
				padding-bottom: 40px;
			}
	
			.img-wrap {
				height: 120px;
			}
		}
	}
}

@include browsers('IE') {}