/* key */
.key-visual {
  .wrapper {
    position: relative;
  }

  .hero-image-slider {
    position: relative;
    background-color: $bright;
    
    & > * {
      width: 100%;
    }
  }

  .owl-controls {
    position: absolute;
    bottom: 0;

    .owl-dots {
      margin: 0 4px;
      text-align: right;
    }
  }

  .slide-item-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    .hero-image {
      @include border-radius(4px);
      position: relative;
      z-index: 1;
      height: 100%;
      background-repeat: no-repeat;
      background-position: left top;
    }

    .wording {
      position: absolute;
      top: 80px;
      left: 350px;
      z-index: 2;
      width: $four-column;

      h2 {
        margin-bottom: .5em;
        color: $secondary-color;
        font-size: $font-size-xxl;
        line-height: 1.22em;
      }

      p {
        margin-bottom: 1em;
        color: $third-color;
        font-size: $font-size-normal;
      }
    }

    .wording.bright-color {
      h2 {
        color: $bright;
      }

      p {
        color: $disable-color;
      }
    }
  }

  .action-box {
    position: absolute;
    top: $grid-gutter;
    right: $grid-gutter;
    z-index: 2;
    width: $three-column;

    .login,
    .apply,
    .services {
      @include border-radius(4px);
      border: 1px solid $disable-color;
      background-color: $bright;
    }

    .login {
      margin-bottom: $spacing-xs;
      padding: $spacing-s $spacing-s $spacing-xxs;
      text-align: center;

      .selecter {
        text-align: left;
      }

      a.btn {
        width: 100%;
        margin: 0 auto $spacing-xs;
        line-height: 24px;
      }
      
      .links {
        a {
          display: inline-block;
          padding-left: 8px;
          background: url(../images/icon_arrow/icon_arrow_right_gray_s.png) no-repeat 0 center;
          font-size: $font-size-xxs;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    .helper-links,
    .services {
      margin-top: $spacing-xs;
    }

    .apply,
    .services {
      position: relative;

      a {
        display: inline-block;
        width: 100%;
        padding: 2px 0;
        font-size: $font-size-s;
        vertical-align: middle;

        &:before,
        &:after {
          content: "";
          display: inline-block;
          width: 36px;
          height: 36px;
          vertical-align: middle;
        }

        &:before {
          margin-left: $spacing-s;
          margin-right: $spacing-xxs;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &:after {
          float: right;
          border-left: 1px solid $gray;
          background: url(../images/icon_arrow/icon_arrow_dropdown.png) no-repeat center 0;
        }
      }
      
      ul.dropdown-menu {
        a {
          &:before {
            float: left;
          }

          span {
            display: table-cell;
            padding: 7px $spacing-xs 6px 0;
            vertical-align: middle;
          }
        }
      }
      
      &.active {
        @include border-radius(4px 4px 0 0);
        background-color: $gray;

        a:after { 
          background-position: center -36px;
        }
      
        ul.dropdown-menu {
          @include border-radius(0 0 4px 4px);

          li {
            a:after { display: none; }
          }
        }
      }
    }

    .apply > a:before                  { background-image: url(../images/icon_ocean_blue/icon_32.gif); }
    .services > a:before               { background-image: url(../images/icon_ocean_blue/icon_11.gif); }
    
    .apply li:nth-child(1) a:before    { background-image: url(../images/icon_ocean_blue/icon_02.gif); }
    .apply li:nth-child(2) a:before    { background-image: url(../images/icon_ocean_blue/icon_19.gif); }
    .apply li:nth-child(3) a:before    { background-image: url(../images/icon_ocean_blue/icon_01.gif); }
    .apply li:nth-child(4) a:before    { background-image: url(../images/icon_ocean_blue/icon_04.gif); }
    .apply li:nth-child(5) a:before    { background-image: url(../images/icon_ocean_blue/icon_06.gif); }
    .apply li:nth-child(6) a:before    { background-image: url(../images/icon_ocean_blue/icon_34.gif); }
    .apply li:nth-child(7) a:before    { background-image: url(../images/icon_ocean_blue/icon_33.gif); }
    .apply li:nth-child(8) a:before    { background-image: url(../images/icon_ocean_blue/icon_37.gif); }
    
    .services li:nth-child(1) a:before { background-image: url(../images/icon_ocean_blue/icon_32.gif); }
    .services li:nth-child(2) a:before { background-image: url(../images/icon_ocean_blue/icon_18.gif); }
    .services li:nth-child(3) a:before { background-image: url(../images/icon_ocean_blue/icon_18.gif); }
    .services li:nth-child(4) a:before { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
    .services li:nth-child(5) a:before { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
    .services li:nth-child(6) a:before { background-image: url(../images/icon_ocean_blue/icon_18.gif); }
    .services li:nth-child(7) a:before { background-image: url(../images/icon_ocean_blue/icon_16.gif); }
  }
}

/* For English Version */
html[lang="en"] .key-visual {
  .action-box {
    .login {
      padding: 10px 10px 5px;
    }
  }
}

/* promo */
.promo {
  margin-bottom: $spacing-s;

  h3 {
    margin-bottom: $spacing-xs;
    color: $secondary-color;
    font-size: $font-size-l;
  }

  ul {
    padding-left: $spacing-xs;
    
    li {
      padding-left: 10px;
      background: url(../images/icon_arrow/icon_arrow_right_gray_s.png) no-repeat 0 6px;
      line-height: 1.4em; 
      
      a {
        display: inline-block;
        color: $bold-color;
        font-size: $font-size-xxs;
        line-height: 1.4em;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .promo-carousel {
    @include border-box;
    float: left;
    width: $nine-column + 10px;
  }

  .announcement {
    @include border-box;
    float: right;
    width: $three-column + 10px;
    padding: 19px;

    h3 {
      a.slide-trigger { display: none; }
    }
   
    ul {
      padding-left: 0;
    }
  }
  
  .announcement,
  .carousel-item-container {
    @include border-radius(4px);
    background-color: #fcfcfc;
    @include background-image(linear-gradient(bottom, #f4f4f4 1%, $bright 100%));
    height: 176px;
    margin-top: $spacing-s;
    border: 1px solid $disable-color;
  }
}

.promo-carousel {
  position: relative;

  .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -11px;
    z-index: 2;
      
    .owl-nav {
      .owl-prev,
      .owl-next {
        @include border-radius(0 4px 4px 0);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 12px;
        height: 22px;
        margin: 0;
        padding: 10px 5px 10px 4px;
        border: 1px solid $disable-color;
        background-color: #fcfcfc;
        font-size: 0;
        line-height: 0;

        &:before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 22px;
          background: url(../images/icon_arrow/icon_slider_arrow.png) no-repeat 0 0;
        }

        &:hover:before {
          background-position: -24px 0;
        }
      }

      .owl-next {
        @include border-radius(4px 0 0 4px);
        left: inherit;
        right: 0;
        padding: 10px 4px 10px 5px;

        &:before {
          background-position: -12px 0;
        }

        &:hover:before {
          background-position: -36px 0;
        }
      }
    }
  }

  .carousel-item-container {
    @include clear-fix;
    @include border-box;
    padding: 19px 0;

    .wrap-left {
      @include border-box;
      float: left;
      width: 49%;
      padding-left: $spacing-s;
    }

    .banner {
      @include border-box;
      position: relative;
      float: right;
      width: 50%;
      height: 100%;
      padding: 0 $spacing-s;
      border-left: 1px solid $disable-color;
      text-align: center;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: -26px;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }

      p {
        position: absolute;
        left: $spacing-s;
        right: $spacing-s;
        bottom: 0;
        color: $main-color;
        font-size: $font-size-xxs;
        line-height: 1.4em;
      }

      a.btn {
        width: 100%;
        margin-top: $spacing-xs;
      }
    }
  }

  .deposit .banner:before        { background: url(../images/home_promo/img_promo_deposit.jpg) no-repeat center 0; }
  .credit-card .banner:before    { background: url(../images/home_promo/img_promo_credit_card.jpg) no-repeat center 0; }
  .credit-loans .banner:before   { background: url(../images/home_promo/img_promo_credit_loans.jpg) no-repeat center 0; }
  .remote-banking .banner:before { background: url(../images/home_promo/img_promo_remote_banking.gif) no-repeat center 0; }
  .housing-loans .banner:before  { background: url(../images/home_promo/img_promo_housing_loans.jpg) no-repeat center 0; }
  .investment .banner:before     { background: url(../images/home_promo/img_promo_investment.jpg) no-repeat center 0; }
  .insurance .banner:before      { background: url(../images/home_promo/img_promo_insurance.jpg) no-repeat center 0; }
  .join-us .banner:before        { background: url(../images/home_promo/img_promo_join_us.jpg) no-repeat center 0; }
}