.m-section .m-section-bd {
    overflow: inherit;

    .img-wrap {
        @include display(block);
    }

    .img-wrap img {
        max-width: 100%;
    }
}

.photo-slider {
    position: relative;
    @include clearfix;

    img {
        width: 100%;
    }

    .owl-stage .owl-item {
        vertical-align: middle;
    }

    .m-owl-arrow {
        margin-top: -35px;
        background: rgba(0, 0, 0, 0.2);
        width: 35px;
        height: 70px;
        position: absolute;
        top: 50%;
        @include transition(ease-in all 0.3s);

        &:hover {
            background: $color-major;
        }

        &.is-prev {
            left: 0;
        }

        &.is-next {
            right: 0;
        }
    }
}

@include respond(Desktops) {
    .l-content {
        padding: 0 0 0 220px;
    }

    .m-breadcrumb {
        margin-bottom: 24px;
    }

    .kv-img {
        height: 290px;
    }

    .photo-slider {
        max-height : 405px;
    }
}

@include respond(Desktops-Tablets) {
    .m-section {
        &:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
            margin-bottom: 32px
        }
    }

    .m-section-bd {
        &.is-bg {
            padding: 20px 25px;
        }

        .introdution {
            font-size: 18px;
        }
    }
}

@include respond(HD) {
    .l-content {
        padding: 0 0 0 270px;
    }
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
    .m-breadcrumb {
        margin-bottom: 20px;
    }

    .kv-img {
        height: 230px;
        text-align: center;

        img {
            height: 100%;
        }
    }
}

@include respond(Mobiles) {
    .m-section {
        &:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
            margin-bottom: 20px
        }
    }

    .m-section-bd {
        &.is-bg {
            padding: 20px;
        }

        .introdution {
            font-size: 15px;
        }
    }

    .m-branch-list .list {
        min-height : 425px;
    }
}

@include browsers('IE') {}