.m-section .introdution {
	color: $color-gray-d-p40;
}

.info-title {
	color: $color-major;
	font-size: 18px;
	font-weight: bold;

	> * {
		vertical-align: middle;
	}

	.hint.is-required {
		color: $color-gray-d-p20;
		font-size: 14px;
		font-weight: bold;

		&:before {
			content: '*';
			padding-right: 3px;
			color: $color-text-major;
		}
	}
}

.info-list, .info-content {
	font-size: 0;

	.list {
		margin-top: 20px;
		color: $color-gray-d-p20;

		&.is-required > .text:before {
			content: '*';
			padding-right: 3px;
			color: $color-text-major;
		}
	}

	.m-selection, .m-inputbox {
		font-size: 16px;
		line-height: 32px;
		@include placeholder($color-gray-l-p10);
	}

	.text, .alert {
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		line-height: 32px;
	}

	.alert {
		color: $color-text-major;
		font-weight: normal;
	}

	.m-lab .text {
		font-size: 16px;
	}

	.desc {
		display: block;
		color: $color-gray;
		font-size: 14px;
		line-height: 24px;
	}

	.b-link {
		padding: 0 3px;
		color: $color-major;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.info-content {
	margin-top: 20px;

	.m-form {
		display: flex;

		.m-lab {
			margin-right: 30px;
		}
	}

	.m-form, .m-btn-radius {
		margin-bottom: 20px;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		display: flex;
		align-items: center;
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section {
		margin-bottom: 24px;

		&.is-bg {
			padding: 25px 32px 50px 32px;
		}

		.introdution {
			font-size: 18px;
		}
	}

	.m-section-ft {
		padding-top: 50px;

		> * {
			margin: 0 10px;
		}
	}

	.info-title, .info-list .list, .info-content {
		padding: 0 20px;
	}

	.info-title .m-icon-mail-send {
		font-size: 56px;
	}

	.info-list {
		display: flex;
		align-content: stretch;
		justify-content: center;
		flex-wrap: wrap;
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		margin-bottom: 20px;

		&.is-bg {
			padding: 10px;
	
			.m-section-bd {
				margin-bottom: 10px;
				padding: 20px;
			}
	
			.m-section-ft {
				padding: 0 20px 40px 20px;
	
				> * {
					margin: 10px 0;
				}
			}
		}

		.introdution {
			font-size: 15px;
		}
	}

	.m-tab-wrap {
		.btn-tab {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.arrow-prev {
			@include background-image(linear-gradient(to left, rgba(255, 255, 255, 0) 0%, $color-white 60%));
		}

		.arrow-next {
			@include background-image(linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $color-white 60%));
		}
	}

	.info-title .m-icon-mail-send {
		font-size: 40px;
	}

	.info-list .alert {
		padding: 7px 0;
		font-size: 12px;
		line-height: 1.5em;
	}

	.set-password {
		display: flex;
		flex-direction: column;

		*:nth-child(1) {
			order: 1;
		}

		*:nth-child(2) {
			margin-top: 10px;
			order: 4;
		}

		*:nth-child(3) {
			order: 2;
		}

		*:nth-child(4) {
			order: 5;
		}

		*:nth-child(5) {
			order: 3;
		}
	}
}

@include browsers('IE') {}