.m-content-hd .main-title {
	color: $color-major;
}

.news-list {
	.list {
		margin: 0 20px 38px 20px;
		display: inline-block;
	}

	.img-wrap {
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.news-content {
		padding: 10px 16px 50px 16px;
		background: #fff;
		position: relative;
		color: $color-gray-d-p20;
		text-align: left;
	}

	.news-title, .desc {
		overflow: hidden;
	}

	.btn-more {
		margin-left: -50px;
		padding: 0;
		display: block;
		width: 100px;
		min-width: 0;
		position: absolute;
		top: calc(100% - 28px);
		left: 50%;
		font-size: 14px;
		text-align: center;

		&:hover {
			top: calc(100% - 23px);
		}
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.news-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.list {
			margin: 0 10px 38px 10px;
			width: calc((100% - 60px) / 3);
	
			.news-title {
				height: 64px;
				font-size: 24px;
				line-height: 32px;
			}
	
			.desc {
				height: 52px;
				font-size: 14px;
				line-height: 26px;
			}
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.news-list .list {
		width: 260px;

		.img-wrap {
			height: 215px;
		}
	}
}

@include respond(Tablets) {
	.m-section-hd {
		display: block;
	}
}

@include respond(Tablets-Mobiles) {
	.l-content {
		position: relative;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.news-list .list {
		margin: 0 auto 38px auto;

		.img-wrap {
			height: 154px;
		}

		.news-title {
			height: 54px;
			font-size: 18px;
			line-height: 27px;
		}

		.desc {
			height: 54px;
			font-size: 12px;
			line-height: 18px;
		}
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.news-list .list {
		width: 100%;
	}
}

@include browsers('IE') {}