.l-content {
	background: $color-gray-l-p40;
}

.m-content-hd .main-title {
	color: $color-white;
	text-align: center;
}

.m-content-bd {
	padding: 22px 0 98px 0;
}

.m-section {
	.m-section-bd {
		overflow: inherit;
	}

	.m-section-ft {
		display: flex;
		font-size: 0;

		.b-link {
			padding: 10px 15px;
			background: $color-white;
			display: inline-block;
			width: calc(50% - 5px);
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include box-sizing(border-box);

			&:first-child {
				margin-right: 5px;
			}

			&:last-child {
				margin-left: 5px;
				text-align: right;
			}
		}

		.text, .arrow {
			color: $color-major;
		}

		.link-title {
			color: $color-gray-d-p30;
		}

		.post-time {
			color: $color-gray-l-p30;
		}

		.arrow-prev, .arrow-next {
			display: block;
			height: 16px;
		}
	}
}

.m-article {
	background: $color-white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

	img {
		max-width: 100%;
	}
}

.community-reaction {
	border-bottom: 1px solid $color-gray-l-p20;
}

.info-list .list {
	> * {
		display: block;
		color: $color-gray-d-p10;
		font-size: 16px;
		line-height: 1.5em;
	}

	.info-type {
		color: $color-major;
		font-size: 18px;
		font-weight: bold;

		> * {
			vertical-align: middle;
		}
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.m-content {
		padding: 0 20px;
		width: 100%;
		@include box-sizing(border-box);

		.m-content-hd {
			height: 560px;

			.main-title {
				font-size: 72px;
			}
		}

		.m-content-bd {
			overflow: hidden;
		}
	}

	.m-section {
		width: calc(100% - 240px);
		float: left;
	}

	.m-article .article-title {
		font-size: 48px;
	}

	.m-aside {
		.community-reaction {
			padding-bottom: 20px;
		}

		.info-list .list {
			margin-top: 20px;
		}
	}

	.kv-img {
		height: 560px;
	}
}

@include respond(Desktops-Tablets) {
	.m-article {
		padding: 30px;
	}

	.m-section {
		.m-section-bd {
			margin-bottom: 12px;
		}

		.m-section-ft {
			.b-link {
				padding: 10px 15px;
				display: inline-block;
				width: calc(50% - 5px);
	
				&:first-child {
					margin-right: 5px;
				}
	
				&:last-child {
					margin-left: 5px;
					text-align: right;
				}
			}
	
			.text {
				font-size: 16px;
			}
	
			.link-title {
				font-size: 20px;
			}
	
			.post-time {
				font-size: 14px;
				font-style: italic;
			}
	
			.arrow-prev, .arrow-next {
				margin-top: 5px;
			}
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.m-content {
		margin: 0 auto;
		padding: 0;
		width: 948px;
	}

	.m-section {
		width: 708px;
	}
}

@include respond(Tablets) {
	.m-aside .info-list {
		font-size: 0;

		.list {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			@include box-sizing(border-box);

			&:nth-child(even) {
				padding-left: 5px;
			}
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-content {
		padding: 0 12px;
	}

	.m-content-hd .main-title {
		font-size: 60px;
	}

	.m-content-bd {
		padding-bottom: 68px;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.m-article .article-title {
		font-size: 24px;
	}

	.m-aside {
		.community-reaction {
			padding: 20px 0;
		}

		.info-list .list {
			margin-top: 10px;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		.m-section-bd {
			margin-bottom: 10px;
		}

		.m-section-ft {
			.b-link {
				position: relative;

				&:first-child {
					padding-left: 30px;
				}

				&:last-child {
					padding-right: 30px;
				}
			}
	
			.text {
				font-size: 16px;
			}
	
			.link-title, .post-time {
				display: none;
			}
	
			.arrow-prev, .arrow-next {
				margin-top: -8px;
				position: absolute;
				top: 50%;
			}

			.arrow-prev {
				left: 10px;
			}

			.arrow-next {
				right: 10px;
			}
		}
	}

	.m-article {
		padding: 10px;
	}
}

@include browsers('IE') {}