.info-title {
	color: $color-major;
	font-size: 18px;
	font-weight: bold;

	> * {
		vertical-align: middle;
	}
}

.booking-list {
	font-size: 14px;
	line-height: 1.5em;

	.list:not(:first-child) {
		border-top: 1px solid $color-gray-l-p30;
	}

	.react-wrap {
		text-align: center;

		.info-response {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-text-major;
			font-size: 18px;
			font-weight: bold;

			> * {
				padding: 0 5px;
			}
		}
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		display: flex;
		align-items: center;
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section {
		padding: 25px 32px;
	}

	.m-section-bd {
		padding: 0 20px;
	}

	.booking-list {
		.list {
			&:first-child {
				padding-top: 25px;
			}

			&:not(:first-child) {
				padding-top: 50px;
			}
		}

		.react-wrap {
			padding: 40px 0;

			> * {
				margin: 0 10px;
			}
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		padding: 10px;

		.m-section-bd {
			margin-bottom: 10px;
			padding: 20px;
		}

		.m-section-ft {
			padding-bottom: 40px;
		}
	}

	.m-tab-wrap {
		.btn-tab {
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.arrow-prev {
			@include background-image(linear-gradient(to left, rgba(255, 255, 255, 0) 0%, $color-white 60%));
		}

		.arrow-next {
			@include background-image(linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $color-white 60%));
		}
	}

	.booking-list {
		.list {
			padding-top: 20px;
		}

		.react-wrap {
			padding: 20px 0;

			> * {
				margin: 10px 0;
			}
		}
	}
}

@include browsers('IE') {}