.section-title, .sub-title {
	color: $color-major;
}

.sub-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
}

.m-section-bd {
	.introdution {
		color: $color-gray-d-p40;
		line-height: 1.6em;
	}

	.info-link {
		&:not(:last-child) {
			border-bottom: 1px solid $color-gray-l-p20;
		}

		.b-link {
			display: block;
			position: relative;
			color: $color-gray-d-p40;
			line-height: 2em;

			.m-icon {
				margin-top: -10px;
				font-size: 20px;
				position: absolute;
				top: 50%;
				right: 0;
			}
		}
	}
}

.m-accordion-bd {
	.info-list {
		position: relative;
		font-size: 16px;
		line-height: 2em;

		.info-title {
			color: $color-gray-d-p40;
			font-weight: bold;
			@include box-sizing(border-box);
		}
	}

	.info-desc {
		color: $color-gray-d-p40;
		font-size: 16px;
		line-height: 2em;

		&.b-link {
			color: $color-major;
		}

		&.is-bold {
			font-weight: bold;
		}

		.desc {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.info-wrap > .b-link {
		display: block;
	}

	.m-table td {
		padding: 5px 10px;
	}
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section {
		&:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
			margin-bottom: 32px;
		}

		.section-title {
			font-size: 48px;
		}
	}

	.m-section-bd {
		.introdution {
			font-size: 18px;
		}

		.info-link {
			margin: 0 35px;

			.b-link {
				padding: 16px 8px;
				font-size: 24px;
			}
		}
	}

	.m-accordion-bd {
		.info-list {
			padding: 0 0 24px 212px;
			display: inline-block;
			vertical-align: top;
	
			.info-title {
				padding-right: 32px;
				display: inline-block;
				width: 212px;
				position: absolute;
				left: 0;
				text-align: right;
	
				&:after {
					content: '';
					margin-top: -8px;
					background: $color-gray-l-p20;
					width: 1px;
					height: 16px;
					position: absolute;
					top: 50%;
					right: 0;
				}
			}
	
			.info-desc {
				padding-left: 32px;
			}
		}

		.info-wrap {
			padding: 0 30px 20px 30px;

			> .b-link:not(:last-child) {
				padding-bottom: 12px;
			}
		}

		.m-table {
			margin: 0 0 30px 0;
			border: 1px solid $color-gray-l-p40;
			border-collapse: inherit;

			&.table-rotate tbody td:first-child {
				border: 0;
			}

			&.is-member-info tbody td {
				&:nth-child(2) {
					white-space: nowrap;
				}

				&:last-child {
					text-align: left;
				}
			}
		}
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.l-content {
		position: relative;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		&:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
			margin-bottom: 20px;
		}

		.section-title {
			font-size: 48px;
		}
	}

	.m-section-hd {
		align-items: flex-start;
	}

	.m-section-bd {
		.introdution {
			font-size: 15px;
		}

		.info-link {
			margin: 0 20px;

			.b-link {
				padding: 6px 8px;
				font-size: 18px;
			}
		}
	}

	.section-title {
		font-size: 36px;
		line-height: 64px;
	}

	.m-accordion-bd {
		.info-list {
			padding-left: 26px;
	
			.list {
				margin-bottom: 20px;
			}
	
			.info-title {
				display: block;
			}
		}

		.info-wrap {
			padding-bottom: 15px;

			.m-table.is-dividend-info tbody td {
				&:nth-child(2), &:nth-child(4) {
					margin-top: 45px;
		
					&:after {
						padding-left: 18px;
						display: block;
						width: 100%;
						height: 45px;
						position: absolute;
						bottom: 100%;
						left: 0;
						line-height: 45px;
						@include box-sizing(border-box);
					}
				}
		
				&:nth-child(2):after {
					content: '現金股利';
				}
		
				&:nth-child(4):after {
					content: '股票股利';
				}

				&:before {
					width: 40%;
				}
			}

			> .b-link {
				padding-left: 8px;
			}

			img {
				max-width: 100%;
			}
		}

		> .m-table {
			margin-bottom: 15px;
		}
	}
}

@include browsers('IE') {}