.m-content-hd {
	height: 290px;

	.main-title {
		position: relative;
		color: $color-white;

		&:before, &:after {
			content: '';
			display: block;
			width: 5px;
			position: absolute;
			@include transform(skew(-30deg));
			@include transform-origin(left, bottom);
		}

		&:before {
			background: $color-major;
			position: absolute;
			left: 0;
			opacity: 0.7;
		}

		&:after {
			background: $color-gray-l-p30;
		}
	}
}

.m-content-bd {
	padding: 22px 0 98px 0;
}

@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.m-content {
		padding: 0 20px;
		width: 100%;
		@include box-sizing(border-box);
	}

	.m-content-hd .main-title {
		padding-left: 65px;
		font-size: 72px;
		line-height: 1.2em;

		&:before {
			height: 35px;
			top: 40px;
			left: 0;
		}

		&:after {
			height: 84px;
			top: -16px;
			left: 15px;
		}
	}

	.m-content-bd {
		overflow: hidden;
	}

	.kv-img {
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section-bd {
		padding: 40px;
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}

	.m-content {
		margin: 0 auto;
		padding: 0;
		width: 948px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-content {
		padding: 0 12px;
	}

	.m-content-hd .main-title {
		padding-left: 52px;
		font-size: 38px;

		&:before {
			height: 27px;
			top: 25px;
			left: 0;
		}

		&:after {
			height: 64px;
			top: -18px;
			left: 15px;
		}
	}

	.m-content-bd {
		padding-bottom: 68px;
	}

	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section {
		.m-section-bd {
			margin-bottom: 10px;
			padding: 20px 20px 40px 20px;
		}
	}
}

@include browsers('IE') {}