@-moz-document url-prefix() {}

@include respond(Desktops) {
	.l-content {
		padding: 0 0 0 220px;
	}

	.m-breadcrumb {
		margin-bottom: 24px;
	}

	.kv-img {
		height: 290px;
	}
}

@include respond(Desktops-Tablets) {
	.m-section-bd {
		padding: 40px;
	}
}

@include respond(HD) {
	.l-content {
		padding: 0 0 0 270px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-breadcrumb {
		margin-bottom: 20px;
	}

	.kv-img {
		height: 230px;
		text-align: center;

		img {
			height: 100%;
		}
	}
}

@include respond(Mobiles) {
	.m-section .m-section-bd {
		margin-bottom: 10px;
		padding: 20px 20px 40px 20px;
	}
}

@include browsers('IE') {}