@import "compass";

/* basic set */
@import "_common/variables";

/* layout css */
@import "_common/mixin";
@import "_common/basic";
@import "_common/layout";
@import "_common/m-button";
@import "_common/m-header";
@import "_common/m-nav";
@import "_common/m-footer";
/* import page scss begin */
/* import page scss end */
@import "_common/responsive";
@import "remote_banking/l-side";
@import "remote_banking/l-content";
@import "remote_banking/footer";
@import "remote_banking/tools-link";

.link {
	display : inline-block;
	color   : $bgBlue;
}

.guide {
	margin-top    : 50px;
	padding       : 55px 35px;
	position      : relative;
	border        : 1px solid #e1e1e1;
	border-radius : 10px;
	line-height   : 24px;

	.min-title {
		@include box-sizing(border-box);
		margin        : 0 0 0 -73px;
		background    : #173853;
		display       : inline-block;
		height        : 36px;
		min-width     : 146px;
		position      : absolute;
		top           : -16px;
		left          : 50%;
		border        : 1px solid #e1e1e1;
		border-radius : 3px;
		box-shadow    : 1px 2px 0 #ccc;
		color         : $bright;
		font-size     : 18px;
		line-height   : 34px;
		text-align    : center;
	}

	.business-ecurity {
		@include box-sizing(border-box);
		margin     : 36px 0 0 0;
		padding    : 15px 0 0 120px;
		min-height : 118px;
		position   : relative;

		&:before {
			content    : '';
			background : image-url('remote_banking/mobile_payment.png') 0 0 no-repeat;
			display    : block;
			width      : 69px;
			height     : 118px;
			position   : absolute;
			top        : 0;
			left       : 22px;
		}
	}

	.using-step .step-list {
		@include clearfix;
		margin : 30px 0 0 0;

		.list {
			@include box-sizing(border-box);
			padding    : 120px 0 0 0;
			width      : 33.33%;
			position   : relative;
			float      : left;
			text-align : center;

			&:before {
				@include transform(rotate(-90deg));
				content     : '';
				background  : image-url('icon_arrow/icon_arrow_down_gradient.png') no-repeat 0 0;
				display     : block;
				width       : 22px;
				height      : 47px;
				position    : absolute;
				top         : 34px;
				left        : -11px;
			}

			&:first-child:before {
				display : none;
			}

			.emphasize, .desc {
				display : block;
			}

			.desc {
				margin : 0 8px;
			}

			.image {
				margin        : 0 0 0 -56px;
				background    : #173853;
				display       : block;
				width         : 102px;
				height        : 102px;
				position      : absolute;
				top           : 0;
				left          : 50%;
				border        : 5px solid #e5ecef;
				border-radius : 56px;

				&:before {
					content    : '';
					margin     : -32px 0 0 -20px;
					background : image-url('remote_banking/mobile_payment.png') 0 -289px no-repeat;
					display    : block;
					width      : 40px;
					height     : 63px;
					position   : absolute;
					top        : 50%;
					left       : 50%;
				}

				&.step2:before {
					margin              : -18px 0 0 -22px;
					background-position : 0 -352px;
					width               : 44px;
					height              : 37px;
				}

				&.step3:before {
					margin              : -16px 0 0 -24px;
					background-position : 0 -389px;
					width               : 47px;
					height              : 32px;
				}
			}
		}
	}

	.emphasize {
		color       : $secondary-color;
		font-size   : 17px;
		font-style  : normal;
		line-height : 26px;
	}

	.desc {
		color     : $fontGray;
		font-size : 14px;
	}

	&.usage {
		padding-right : 160px;
		position      : relative;

		&:before {
			content    : '';
			background : image-url('remote_banking/mobile_payment.png') 0 -118px no-repeat;
			display    : block;
			width      : 74px;
			height     : 171px;
			position   : absolute;
			top        : 70px;
			right      : 60px;
		}

		.usage-list .list {
			padding     : 0 0 0 32px;
			position    : relative;
			color       : $fontGray;
			font-size   : 14px;
			line-height : 38px;

			&:before {
				content       : '1.';
				background    : $bgBlue;
				display       : block;
				width         : 20px;
				height        : 20px;
				position      : absolute;
				top           : 4px;
				left          : 0;
				border        : 4px solid #cde9f4;
				border-radius : 14px;
				color         : $bright;
				font-size     : 12px;
				line-height   : 20px;
				text-align    : center;
			}

			+ li:before {
				content : '2.';
			}

			+ li + li:before {
				content : '3.';
			}

			+ li + li + li:before {
				content : '4.';
			}
		}
	}
}

.attention-box {
	margin-top  : 36px;
	line-height : 38px;

	.min-title {
		color     : $secondary-color;
		font-size : 17px;
	}

	.attention-list {
		list-style : decimal inside;

		.list {
			color     : $fontGray;
			font-size : 14px;
		}
	}
}

@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 600px) {
	.guide {
		.business-ecurity {
			padding : 0 0 125px 0;

			&:before {
				margin : 0 0 0 -35px;
				top    : auto;
				left   : 50%;
				bottom : 0;
			}
		}

		.using-step .step-list .list {
			margin : 52px 0 0 0;
			width  : 100%;

			&:first-child {
				margin : 0;
			}

			&:before {
				@include transform(rotate(0deg));
				margin : 0 0 0 -11px;
				top    : -52px;
				left   : 50%;
			}
		}

		&.usage {
			padding : 55px 20px 180px 20px;

			&:before {
				margin : 0 0 0 -37px;
				top    : auto;
				bottom : 0;
				left   : 50%;
			}
		}
	}
}

.lt-ie9 {
	.guide {
		.using-step .step-list .list {
			.image {
				background : image-url('remote_banking/for-ie8/icons_bg.png') no-repeat 0 0;
				width      : 112px;
				height     : 112px;
				border     : 0;
			}

			&:before {
				background : image-url('remote_banking/for-ie8/icon_arrow_right_gradient.png') 0 0 no-repeat;
				width      : 47px;
				height     : 22px;
				top        : 47px;
				left       : -24px;
			}
		}

		&.usage .usage-list .list:before {
			background  : image-url('remote_banking/for-ie8/list_icon.png') 0 0 no-repeat;
			width       : 27px;
			height      : 27px;
			top         : 6px;
			border      : none;
			line-height : 27px;
		}
	}
}