.l-body {
	overflow-x: hidden;
}

.l-header {
	/*top: 0;*/
	/*z-index: 5;*/

	.btn-menu {
		position: absolute;
		top: 6px;
		right: 18px;
		z-index: 4;
	}
}

.l-guide {
	padding: 0 74px 0 12px;

	.m-btn {
		height: 48px;
		font-size: 20px;

		&:hover {
			color: $color-text-minor;
		}
	}
}

.l-nav {
	padding-right: 20px;
	display: inline-block;
	height: 48px;
	border-right: 1px solid #d2d2d2;

	.m-btn {
		width: 40px;
	}
}

.l-main {
}

.l-footer {
	background: image-url('shared/bg-footer.jpg') 0 0;
	min-height: 30px;
	position: fixed;
	bottom: -50px;
	left: 0;
	right: 0;
	border-top: 1px solid $color-gray;
	z-index: 2;
	@include transition(ease-in all 0.3s);

	&.is-show {
		bottom: 0;
	}
}

@include respond(Desktops) {
	.l-header {
		/*position: fixed;*/
		/*bottom: 0;*/
	}

	.l-guide {
		background: rgba(83, 83, 83, 0.4);
		height: 64px;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;

		.m-btn {
			color: $color-white;
		}
	}
}

@include respond(HD) {
	.l-header {
		/*margin-left: -608px;
		left: 50%;*/
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {
}

@include respond(Tablets-Mobiles) {
	.l-header {
		position: fixed;
		z-index: 4;

		.btn-menu {
			margin-bottom: 6px;

			&:before, &:after, > * {
				background: $color-major;
			}
		}
	}

	.l-guide {
		padding-top: 6px;
		background: #f8f8f8;
		width: 100vw;
		min-height: 60px;
		left: 0;
		text-align: right;
		@include box-sizing(border-box);

		.m-btn {
			color: $color-gray;
		}
	}

	.l-nav {
		margin-bottom: 6px;
	}
}