.l-main {
	margin   : 20px auto 70px auto;
	width    : $product-width;
	position : relative;
}

.l-main-content {
	position : relative;

	&.is-content-left {
		.l-content {
			float : left;
		}

		.l-side {
			float : right;
		}
	}

	&.is-content-right {
		.l-content {
			float : right;
		}

		.l-side {
			float : left;
		}
	}
}

.l-content {
	width    : ($product-width - $side-width - 10);
	position : relative;
}

.l-side {
	width    : $side-width;
	position : relative;
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	.l-main {
		margin : 0 auto;
		width  : 100%;
	}
}

/* screen width <= 800 and width > 768 */
@media screen and ( min-width : 768px ) and ( max-width : 800px ) {
	
}

/* screen width < 768 */
@media screen and ( max-width : 767px ) {
}