@include respond(Desktops) {
	.m-content-bd.has-aside {
		.m-section {
			width: calc(100% - 240px);
			float: left;
		}

		.m-aside {
			width: 200px;
			float: right;
		}
	}
}

@include respond(Desktops-Tablets) {}

@include respond(HD) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {}