.info-list .list {
	> * {
		display: block;
		color: $color-gray-d-p10;
		font-size: 16px;
		line-height: 1.5em;
	}

	.info-type {
		position: relative;
		color: $color-major;
		font-size: 18px;
		font-weight: bold;

		&.has-icon {
			padding-left: 22px;
		}

		.m-icon {
			position: absolute;
			top: 4px;
			left: 0;
		}
	}

	.b-link.is-curr {
		color: #000;
		font-weight: bold;
	}
}

@include respond(Desktops) {
	.m-content-bd.has-aside {
		> .m-section, > .m-section-group {
			width: calc(100% - 240px);
			float: left;
		}

		.m-aside {
			width: 200px;
			float: right;

			.info-list .list {
				margin-top: 20px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {}

@include respond(HD) {}

@include respond(Tablets) {
	.m-aside .info-list {
		font-size: 0;

		.list {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			@include box-sizing(border-box);

			&:nth-child(even) {
				padding-left: 5px;
			}
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-aside .info-list .list {
		margin-top: 10px;
	}
}

@include respond(Mobiles) {}