.btn-menu {
	display: inline-block;
	width: 38px;
	height: 48px;
	position: relative;
	z-index: 1;
	font-size: 20px;

	&.is-active {
		&:before {
			margin-top: 0;
			@include transform(rotate(45deg));
		}

		&:after {
			margin-top: 0;
			@include transform(rotate(-45deg));
		}

		em {
			background: transparent !important;
		}
	}

	&:before, &:after {
		content: '';
		margin-left: -19px;
		padding: 0;
		background: $color-white;
		display: block;
		width: 38px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform-origin(center, center);
		@include transition(ease-in all 0.3s);
	}

	&:before {
		margin-top: -10px;
	}

	&:after {
		margin-top: 8px;
	}

	em {
		background: $color-white;
		display: block;
		width: 38px;
		height: 3px;
		@include transition(ease-in all 0.3s);
	}
}

.btn-close, .btn-search-close {
	position: relative;
	
	&:before, &:after {
		content: '';
		margin-left: -19px;
		padding: 0;
		background: $color-gray-d-p10;
		display: block;
		width: 38px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform-origin(center, center);
		@include transition(ease-in all 0.3s);
	}

	&:before {
		@include transform(rotate(45deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}
}

.m-btn-slide {
	background: rgba(255, 255, 255, 0.2);
	width: 48px;
	height: 48px;
	border: 2px solid $color-white;
	border-radius: 50%;
	@include box-sizing(border-box);

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 0px;
		z-index: 0;
	}

	&:before {
		margin: -5px 0 0 -7px;
		width: 14px;
		height: 14px;
		border-bottom: 2px solid $color-white;
		border-left: 2px solid $color-white;
		@include transform(rotate(-45deg));
		@include box-sizing(border-box);
	}

	&:after {
		margin: -14px 0 0 -1px;
		background: $color-white;
		width: 2px;
		height: 24px;
	}
}

.m-btn-radius {
	display: inline-block;
	height: 36px;
	min-width: 138px;
	position: relative;
	top: -2px;
	border-radius: 5px;
	color: $color-white;
	font-size: 18px;
	line-height: 36px;
	text-align: center;

	&:hover {
		top: 2px;
		box-shadow: none !important;
	}

	&.is-major {
		background: #ff4b4b;
		box-shadow: 0 4px 0 #d41313;
	}

	&.is-minor {
		background: $color-gray-l-p10;
		box-shadow: 0 4px 0 $color-gray;
	}
}

@include respond(Desktops) {
	.btn-menu:hover {
		&:before, &:after, em {
			background: $color-text-minor;
		}
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}