.m-branch-list {
	position: relative;

	.list {
		margin: 0 6px 54px 6px;
		padding-bottom: 28px;
		background: $color-white;
		position: relative;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
		@include box-sizing(border-box);
	}

	.img-wrap {
		position: relative;
		overflow: hidden;

		img {
			min-width: 100%;
		}

		.img-desc {
			padding: 5px;
			background: rgba(0, 0, 0, 0.5);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			color: $color-white;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			@include box-sizing(border-box);
		}
	}

	.store-content {
		color: $color-gray-d-p20;
		font-size: 14px;
		line-height: 1.5em;

		.store-title {
			padding: 5px 0;
			border-bottom: 1px solid $color-gray-l-p40;
			color: $color-major;
			font-size: 26px;
			line-height: 40px;
		}

		.btn-tel, .addr, .meal-time {
			padding: 5px 0 5px 18px;
			display: block;
			position: relative;
		}

		.btn-tel {
			color: $color-gray-d-p20;
		}

		.btn-tel .m-icon, .addr .m-icon {
			top: 9px;
		}

		.meal-time .icon-list {
			top: 5px;
		}

		.btn-tel .m-icon, .addr .m-icon, .meal-time .icon-list {
			position: absolute;
			left: 0;
		}

		.m-icon {
			color: $color-gray;
		}

		.desc {
			margin-top: 10px;
			color: $color-gray-d-p20;
			font-size: 14px;
			line-height: 2em;
		}
	}

	.m-owl-dots.is-absolute {
		text-align: center;
	}

	.btn-booking {
		margin-left: -50px;
		display: block;
		min-width: 100px;
		position: absolute;
		top: auto;
		bottom: -8px;
		left: 50%;
		text-align: center;

		&:hover {
			top: auto;
			bottom: -12px;
		}
	}
}

@include respond(Desktops) {
	.m-branch-list {
		margin: 0 -6px;

		.list {
			min-height: 484px;
		}

		.img-wrap {
			height: 224px;

			img {
				min-height: 100%;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-branch-list .store-content {
		margin: 0 30px;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-branch-list {
		.img-wrap {
			height: 140px;
	
			img {
				height: 100%;
			}
		}
	}
}

@include respond(Mobiles) {
	.m-branch {
		.m-section-bd {
			margin: 0 auto;
			width: 256px;
			overflow: visible;

			.m-branch-list {
				.list {
					margin: 0 auto 50px auto;
					width: 236px;
				}

				.store-content {
					margin: 0 18px;
				}
			}
		}

		.owl-stage-outer {
			overflow: visible;
		}
	}
}