.m-breadcrumb {
	margin-bottom : 20px;
	width         : 100%;

	> a , > em {
		font-size  : 13px;
		font-style : normal;
		color      : #8f8f8f;
		position   : relative;

		&:before {
			content    : '';
			width      : 10px;
			height     : 17px;
			background : image-url('icon_arrow/icon_arrow_right_gray_s.png') center center no-repeat;
			@include inline-block;
		}

		&:first-child {
			padding : 0;

			&:before {
				display : none;
			}
		}
	}

	> a {
		&:hover {
			text-decoration : underline;
		}
	}
}