.m-form {
	display: inline-block;
}

.m-box-holder {
	background: $color-white;
	display: inline-block;
	position: relative;
	border: 1px solid $color-gray-l-p30;
	@include box-sizing(border-box);

	&.is-selector {
		&:after {
			content: '';
			margin-top: -3px;
			display: block;
			position: absolute;
			top: 50%;
			right: 12px;
			border-top: 6px solid #ff4b4b;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			pointer-events: none;
		}

		.m-selection, .m-inputbox {
			padding-right: 36px;
		}
	}

	.m-icon {
		margin-top: -12px;
		position: absolute;
		top: 50%;
		left: 13px;
		pointer-events: none;
		color: $color-gray-l-p30;
		font-size: 24px;
		line-height: 24px;
	}

	.m-selection, .m-inputbox {
		padding: 0 15px;
		height: 46px;
		border: 0;
		outline: none;
		color: $color-gray-d-p10;
		font-size: 16px;
		line-height: 46px;
	}

	.m-selection {
		cursor: pointer;

		option {
			color: $color-gray-d-p10;
		}
	}

	.m-inputbox {
		@include placeholder($color-gray-d-p10);
	}
}

@include browsers('IE') {}

@include respond(Desktops) {
	.m-datepicker {
		cursor: pointer;
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}