.m-form {
	display: inline-block;
}

.m-lab {
	display: flex;
	align-items: center;
	cursor: pointer;

	&.is-checked .m-box-holder:before {
		opacity: 1;
	}

	.m-checkbox {
		margin: 0;
		width: 20px;
		height: 20px;
	}
}

.m-box-holder {
	background: $color-white;
	display: inline-block;
	position: relative;
	border: 1px solid $color-gray-l-p30;
	@include box-sizing(border-box);

	&.is-underline {
		border: 0;
		vertical-align: top;

		.m-selection, .m-inputbox {
			padding: 0 !important;
			height: 32px;
			border-bottom: 1px solid $color-gray-l-p30;
			@include box-sizing(border-box);
		}
	}

	&.is-selector {
		&:after {
			content: '';
			margin-top: -3px;
			display: block;
			position: absolute;
			top: 50%;
			right: 12px;
			border-top: 6px solid #ff4b4b;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			pointer-events: none;
		}

		.m-selection, .m-inputbox {
			padding-right: 36px;
		}
	}

	&.is-checkbox {
		margin-right: 5px;
		background: #ff4b4b;
		position: relative;
		border: 0;
		border-radius: 4px;

		&:before {
			content: '';
			display: block;
			width: 12px;
			height: 6px;
			position: absolute;
			top: 3px;
			left: 3px;
			border-bottom: 2px solid $color-white;
			border-left: 2px solid $color-white;
			opacity: 0;
			z-index: 1;
			@include transform(rotate(-45deg));
			@include transition(ease-in all 0.3s);
		}
	}

	.m-icon {
		margin-top: -12px;
		position: absolute;
		top: 50%;
		left: 13px;
		pointer-events: none;
		color: $color-gray-l-p30;
		font-size: 24px;
		line-height: 24px;
	}

	.m-selection, .m-inputbox {
		padding: 0 15px;
		height: 46px;
		border: 0;
		outline: none;
		color: $color-gray-d-p10;
		font-size: 16px;
		line-height: 46px;
	}

	.m-selection {
		cursor: pointer;

		option {
			color: $color-gray-d-p10;
		}
	}

	.m-inputbox {
		@include placeholder($color-gray-d-p10);
	}
}

@include browsers('IE') {}

@include respond(Desktops) {
	.m-datepicker {
		cursor: pointer;
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}