footer {
	/*clear: both;*/
	font-size        : $font-size-xxs;
	color            : $bright;
	background-color : $secondary-color;
	@include clearfix;

	ul.footer-links {
		margin-top : $spacing-s;

		li {
			line-height : 1em;
			@include inline-block;

			& + li {
				border-left : 1px solid $fifth-color;
			}

			a {
				padding : 0 $spacing-xs;
				color   : $bright;
				@include inline-block;

				&:hover {
					color : $fifth-color;
				}
			}

			&:first-child a {
				padding-left : 0;
			}
		}
	}

	p.copyright {
		margin : $spacing-s $spacing-xs;
	}

	ul.footer-links + p.copyright {
		margin : $spacing-xs 0 $spacing-s;
	}
}

.notification-cookie {
	background-color : $gray;

	.wrapper {
		left     : 0;
		display  : table;
		position : relative;

		.notification-cookie-icon {
			font-size  : 0;
			width      : 48px;
			height     : 68px;
			background : image-url("icon_gray/icon_computer_circle.png") no-repeat 50% 50%;
			display    : table-cell;
		}

		p {
			padding        : $spacing-xs;
			display        : table-cell;
			vertical-align : middle;

			a {
				color           : $words-color;
				text-decoration : underline;

				&:hover {
					color : $main-color;
				}
			}
		}

		.btn-close {
			width      : 24px;
			background : image-url("icon_gray/icon_close.png") no-repeat 50% 50%;
			font-size  : 0;
			cursor     : pointer;
			display    : table-cell;
			@include opacity(.2);

			&:hover {
				@include opacity(1);
			}
		}
	}
}