.m-footer {
	margin: 0 auto;
	font-size: 0;
	text-align: center;

	.btn-top {
		background: $color-gray-d-p30;
		width: 50px;
		height: 50px;
		position: absolute;
		top: -51px;
		right: 0;

		&:before {
			content: '';
			margin: -3px 0 0 -6px;
			display: block;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 50%;
			left: 50%;
			border-top: 2px solid $color-white;
			border-right: 2px solid $color-white;
			@include transform(rotate(-45deg));
		}
	}

	.quick-list {
		background: rgba(0, 0, 0, 0.2);

		.list {
			font-size: 14px;

			> * {
				color: $color-white;
			}
		}
	}

	.btn-sitemap {
		padding: 0 10px;
		background: none;
		height: 28px;
		position: relative;
		border-radius: 4px;
		line-height: 28px;

		&:after {
			content: '';
			width: 8px;
			height: 8px;
			border-top: 1px solid $color-white;
			border-right: 1px solid $color-white;
			opacity: 0;
			@include box-sizing(border-box);
			@include transform(rotate(-45deg));
			@include transition(ease-in all 0.3s);
		}

		&.is-active {
			&:after {
				opacity: 1;
			}

			.m-icon {
				opacity: 0;
			}
		}

		.m-icon {
			@include transition(ease-in all 0.3s);
		}
	}

	.sitemap-wrap {
		margin: 0 auto;
		background: image-url('shared/bg-footer.jpg') 0 0;
		overflow: hidden;
		font-size: 0;
		@include box-sizing(border-box);
		@include transition(ease-in all 0.3s);
	}

	.sitemap-list {
		vertical-align: top;
		overflow: hidden;
		color: $color-white;
		font-size: 14px;
		line-height: 30px;
		text-align: left;

		&.double-column {
			.list-block {
				width: 50%;
				float: left;
			}

			.item {
				padding-right: 14px;
				min-width: 132px;
				@include box-sizing(border-box);
			}

			.title {
				display: block;
			}
		}

		&:nth-child(2) .class-title {
			&:before {
				background: #e18282;
			}

			&:after {
				border-top-color: #e18282;
				border-left-color: #e18282;
			}
		}

		&:nth-child(3) .class-title {
			&:before {
				background: #9a893c;
			}

			&:after {
				border-top-color: #9a893c;
				border-left-color: #9a893c;
			}
		}

		.class-title {
			margin-bottom: 27px;
			position: relative;
			font-size: 16px;
			line-height: 36px;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				opacity: 0.3;
			}

			&:before {
				background: #3c9a92;
				height: 6px;
				left: 0;
			}

			&:after {
				border-top: 3px solid #3c9a92;
				border-right: 6px solid transparent;
				border-bottom: 3px solid transparent;
				border-left: 6px solid #3c9a92;
			}
		}

		.b-link {
			color: $color-white;

			&:hover {
				color: $color-text-minor;
			}
		}

		.city-name {
			font-weight: bold;
		}
	}
}

@include respond(Desktops) {
	.m-footer {
		.quick-list {
			padding-right: 70px;
			position: relative;
			text-align: right;
	
			> .list {
				margin: 0 8px;
				display: inline-block;
				height: 28px;
				line-height: 28px;
			}
		}

		.btn-sitemap:after {
			margin-top: -2px;
			display: block;
			position: absolute;
			top: 50%;
			right: 12px;
		}

		.sitemap-wrap {
			padding-right: 50px;
			padding-left: 220px;
			width: 100%;
			text-align: center;
	
			.sitemap-list {
				width: 150px;
	
				&.double-column {
					width: 280px;
				}

				.class-title:after {
					left: 56px;
					bottom: -6px;
				}
			}
		}
	}
}

@include respond(HD) {
	.m-footer .sitemap-wrap {
		padding-right: 50px;
		padding-left: 270px;
		right: 0;

		.sitemap-list {
			width: 200px;

			&.double-column {
				width: 370px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-footer {
		.sitemap-wrap {
			padding-top: 40px;
			padding-bottom: 40px;
			position: absolute;
			left: 0;
		}

		.sitemap-list {
			display: inline-block;

			.class-title:before {
				width: 56px;
				bottom: -6px;
			}
		}
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-footer {
		.quick-list > .list {
			display: block;
			min-height: 50px;
			border-bottom: 1px solid $color-gray-d-p30;
			line-height: 50px;
	
			> * {
				display: block;
				width: 100%;
				height: 100%;
			}

			.btn-sitemap {
				height: 50px;
			}
		}

		.btn-sitemap:after {
			margin-left: -14px;
			display: inline-block;
		}

		.sitemap-wrap {
			padding: 0 14px;
			max-height: 0;
			position: relative;

			&.is-show {
				max-height: 1000px;

				&:before {
					content: '';
					background: $color-gray-d-p30;
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		.sitemap-list {
			padding: 10px 19px;
			display: block;
			border-top: 1px solid $color-gray;

			&:first-child {
				border-top: 0;
			}

			.class-title {
				&:before {
					width: calc(100% - 12px);
					bottom: -12px;
				}
	
				&:after {
					right: 0;
					bottom: -12px;
				}
			}

			.list {
				padding: 4px 0;
				line-height: 1.5em;
			}

			.city-stop .list {
				padding: 0;
			}
		}
	}
}