.m-form {
	display: inline-block;
}

.m-lab {
	display: inline-block;

	&.is-checked .m-box-holder {
		&.is-checkbox {
			background: $color-text-major;

			&:before {
				opacity: 1;
			}
		}

		&.is-radio {
			border: 7px solid $color-text-major;
		}
	}

	> * {
		vertical-align: middle;
	}
}

.m-box-holder {
	background: $color-white;
	display: inline-block;
	position: relative;
	border: 1px solid $color-gray-l-p30;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&.is-underline {
		border: 0;
		vertical-align: top;

		.m-selection, .m-inputbox {
			padding: 0 !important;
			height: 32px;
			border-bottom: 1px solid $color-gray-l-p30;
			line-height: 32px;
			@include box-sizing(border-box);
			@include transition(ease-in all 0.2s);
		}

		.m-inputbox:not(.m-datepicker):focus {
			margin: 1px 0 -1px 0;
			border-bottom: 2px solid $color-major;
		}
	}

	&.is-selector {
		&:after {
			content: '';
			margin-top: -3px;
			display: block;
			position: absolute;
			top: 50%;
			right: 12px;
			border-top: 6px solid $color-text-major;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			pointer-events: none;
		}

		.m-selection, .m-inputbox {
			padding-right: 36px;
		}

		*[disabled] {
			cursor: default;
			color: $color-gray-l-p30;
		}
	}

	&.is-checkbox {
		margin-right: 5px;
		background: $color-gray-l-p40;
		width: 20px;
		height: 20px;
		position: relative;
		border: 0;
		border-radius: 4px;

		&:before {
			content: '';
			display: block;
			width: 12px;
			height: 6px;
			position: absolute;
			top: 3px;
			left: 3px;
			border-bottom: 2px solid $color-white;
			border-left: 2px solid $color-white;
			opacity: 0;
			z-index: 1;
			@include transform(rotate(-45deg));
			@include transition(ease-in all 0.3s);
		}

		.m-checkbox {
			opacity: 0;
		}
	}

	&.is-radio {
		margin-right: 5px;
		background: $color-gray-l-p40;
		width: 18px;
		height: 18px;
		position: relative;
		border: 0 solid $color-text-major;
		border-radius: 50%;

		.m-radio {
			opacity: 0;
		}
	}

	.m-icon {
		margin-top: -12px;
		position: absolute;
		top: 50%;
		left: 13px;
		pointer-events: none;
		color: $color-gray-l-p30;
		font-size: 24px;
		line-height: 24px;
	}

	.m-selection, .m-inputbox {
		padding: 0 15px;
		height: 46px;
		border: 0;
		outline: none;
		color: $color-gray-d-p10;
		font-size: 16px;
		line-height: 46px;
	}

	.m-selection {
		cursor: pointer;

		option {
			color: $color-gray-d-p10;
		}
	}

	.m-inputbox {
		@include placeholder($color-gray-d-p10);
	}
}

@include browsers('IE') {}

@include respond(Desktops) {
	.m-datepicker, .m-lab {
		cursor: pointer;
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.m-lab {
		padding-left: 25px;
		position: relative;

		.m-box-holder {
			position: absolute;
			top: 6px;
			left: 0;
		}
	}
}