.m-logo .b-link {
	background: $color-major;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	z-index: 6;
	color: #fff;
	font-size: 96px;

	> * {
		display: block;
	}
}

.menu-wrap {
	@include transition(ease-in all 0.3s);

	.about-list {
		background: rgba(152, 7, 71, 0.95);
		@include box-sizing(border-box);
		@include transition(ease-in all 0.3s);

		.list {
			font-size: 16px;

			.b-link {
				display: block;
				color: $color-white;

				&:hover {
					color: $color-text-minor;
				}
			}
		}
	}
}

.m-header {
	text-align: center;
	@include transition(ease-in all 0.3s);

	.m-menu {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		font-size: 16px;
		line-height: 32px;

		> .list:last-child .text {
			&:after {
				background: none;
			}
	
			&:hover:after {
				background: $color-major;
			}
		}

		.text {
			padding: 8px 0;
			display: block;
			position: relative;
			cursor: pointer;
			color: $color-gray-d-p20;
			@include transition(ease-in all 0.3s);

			&:hover, &.is-hover {
				color: $color-major;
			}
		}
	}

	.sub-menu {
		position: absolute;
		left: 100%;
		overflow: hidden;
		line-height: 42px;
		@include transition(ease-in all 0.3s);
		@include transform(rotateY(90deg));
		@include transform-origin(left);

		.location {
			display: block;
			position: relative;
			z-index: 0;
			color: $color-major;
			font-size: 18px;
			font-weight: bold;
			line-height: 30px;
			text-align: left;
		}

		.text {
			padding: 0 27px;
			text-align: left;
		}
	}
}

.detail-list {
	padding: 30px 0 40px 0;
	background: rgba(152, 7, 71, 0.95);
	width: auto;
	position: absolute;
	top: 0;
	left: 100%;
	overflow: hidden;
	line-height: 30px;
	@include transition(ease-in all 0.3s);
	@include transform(rotateY(90deg));
	@include transform-origin(left);

	> * {
		@include box-sizing(border-box);
	}

	.list {
		color: $color-white;
		text-align: left;

		.floor {
			font-weight: bold;
			line-height: 48px;
		}
	}

	.b-link {
		padding: 0 25px 0 19px;
		display: block;
		position: relative;
		color: $color-white;
		white-space: nowrap;

		&:hover {
			color: $color-text-minor;
		}
	}
}

.m-banner {
	width: 145px;

	.b-link {
		height: 80px;
	}

	img {
		min-width: 100%;
		height: 100%;
	}
}

.m-community {
	padding-bottom: 16px;
	width: 100%;
	font-size: 0;

	> .list > .b-link {
		position: relative;
		color: #8e8e8e;
		font-size: 26px;
		line-height: 26px;
		@include transition(ease-in all 0.3s);
	}

	.community-list {
		z-index: 1;
		@include animation(ani-fade-in 0.3s linear forwards);

		.list {
			padding: 16px 84px 16px 64px;
			display: flex;
			min-height: 50px;
			align-items: left;
			flex-direction: column;
			justify-content: center;
			position: relative;
			border-bottom: 1px solid $color-gray-l-p30;
			text-align: left;

			&:last-child {
				border-bottom: 0;
			}

			.img-wrap {
				margin-top: -26px;
				display: block;
				width: 50px;
				height: 50px;
				position: absolute;
				top: 50%;
				left: 0;
				border: 1px solid $color-gray-l-p30;
				border-radius: 50%;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.community-name {
				color: $color-gray-d-p40;
				font-size: 16px;
				font-weight: bold;
			}

			.community-info {
				display: block;
				color: $color-gray-l-p10;
				font-size: 12px;
			}

			.btn-fans, .btn-line {
				margin-top: -12px;
				padding: 0 10px;
				display: inline-block;
				height: 24px;
				position: absolute;
				top: 50%;
				right: 0;
				border-radius: 5px;
				color: #fff;
				font-size: 14px;
				line-height: 24px;

				&:hover {
					margin-top: -10px;
					box-shadow: none;
				}
			}

			.btn-fans {
				background: #4b72ba;
				box-shadow: 0 2px 0 #355ca4;
			}

			.btn-line {
				background: #00b900;
				box-shadow: 0 2px 0 #007700;
			}
		}
	}
}

.m-copyright {
	color: #8e8e8e;
	line-height: 20px;
}

.m-search-bar {
	padding: 0 64px 0 54px;
	background: $color-major;
	width: 100%;
	height: 64px;
	position: fixed;
	top: -64px;
	left: 0;
	line-height: 64px;
	z-index: 6;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&.is-show {
		top: 0;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	}

	.m-icon-zoom {
		position: absolute;
		top: 0;
		left: 24px;
		color: $color-white;
		font-size: 14px;
		line-height: 64px;
	}

	.m-inputbox {
		background: none;
		display: block;
		width: 100%;
		height: 100%;
		border: 0;
		outline: none;
		color: $color-white;
		font-size: 16px;
		@include placeholder($color-gray-l-p30);
	}

	.btn-search-close {
		width: 64px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;

		&:before, &:after {
			margin: -1px 0 0 -11px;
			background: $color-white;
			width: 22px;
			height: 2px;
		}

		&:hover {
			&:before, &:after {
				background: $color-text-minor;
			}
		}
	}
}

.m-form-wrap {
	background: $color-white;
	max-height: 0;
	position: fixed;
	top: 70px;
	border-radius: 4px;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35);
	overflow-y: hidden;
	z-index: 3;
	@include box-sizing(border-box);
	@include transition(ease-in all 0.3s);

	&.is-show {
		max-height: 1000px;
	}

	&.login-state {
		&.is-login {
			.not-login {
				display: none;
			}

			.already-login {
				display: block;
			}
		}

		.already-login {
			display: none;

			.member-menu {
				padding: 6px 12px;

				.list {
					padding: 6px 15px;

					&:not(:first-child) {
						border-top: 1px solid $color-gray-l-p20;
					}
				}

				.b-link {
					display: block;
					width: 100%;
					color: $color-gray-d-p20;
					font-size: 16px;
					line-height: 2em;

					> * {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}

		.m-form-wrap-bd .b-link {
			padding: 0 10px;
			position: relative;
	
			&:not(:first-child):before {
				content: '';
				background: $color-major;
				width: 2px;
				height: 100%;
				position: absolute;
				top: 0;
				left: -2px;
			}
		}
	}

	&.m-order {
		.hint-link {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.btn-order-search {
			width: 100%;
		}
	}

	.m-form-wrap-bd {
		padding-bottom: 20px;
	}

	.m-form-wrap-ft {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid $color-gray-l-p40;

		.hint-link {
			padding: 15px 0;
		}

		.desc {
			color: $color-gray-l-p10;
			font-weight: bold;
		}
	}

	.hd-title, .ft-title {
		color: $color-gray-d-p30;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.5em;
	}

	.form-list .list {
		margin-top: 15px;

		> .text {
			color: $color-gray-d-p20;
			font-weight: bold;
		}

		.m-inputbox {
			@include placeholder($color-gray-l-p10);
		}

		.m-lab .text {
			color: $color-gray-d-p20;
			font-size: 14px;
			line-height: 32px;
		}
	}

	.btn-wrap {
		margin-top: 15px;
		font-size: 0;

		.m-btn-radius {
			margin: 12px 0;
			display: block;
			font-size: 14px;
		}

		.has-icon {
			position: relative;

			.m-icon {
				height: 100%;
				position: absolute;
				left: 10px;
				font-size: 22px;
				line-height: 36px;
			}
		}
	}

	.hint-link {
		font-size: 14px;

		.b-link {
			color: $color-major;
			font-weight: bold;

			&.is-underline {
				text-decoration: underline;
			}
		}

		.text {
			color: $color-gray-d-p20;
		}
	}

	.confirm-humanity {
		margin-top: 15px;

		.img-wrap {
			overflow: hidden;

			img {
				max-width: 100%;
			}
		}

		.btn-react {
			width: 20px;
			height: 20px;
			position: relative;
			font-size: 16px;

			&:not(:first-child) {
				margin-left: 20px;

				&:after {
					content: '';
					background: #000;
					width: 2px;
					height: 100%;
					position: absolute;
					top: 0;
					left: -11px;
				}
			}
		}
	}
}

@include respond(Desktops) {
	.m-logo .b-link {
		width: 148px;
		height: 118px;
		top: 24px;
		left: 53px;
	}

	.menu-wrap {
		&.is-show .about-list {
			@include transform(rotateY(0deg));
		}

		.about-list {
			padding-right: 74px;
			height: 64px;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 3;
			@include transform(rotateY(90deg));
			@include transform-origin(right);
	
			&:after {
				content: '';
				margin-top: -24px;
				background: $color-white;
				display: block;
				width: 1px;
				height: 48px;
				position: absolute;
				top: 50%;
				right: 74px;
			}
	
			.list {
				padding: 0 20px;
				display: inline-block;
			}
		}
	}

	.m-header {
		padding: 108px 0 240px 0;
		width: 190px;
		position: fixed;
		top: 46px;
		bottom: 0;
		left: 32px;
		z-index: 3;
		box-shadow: 2px 0 3px rgba(0, 0, 0, 0.15);

		&:before {
			content: '';
			background: #f8f8f8;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.9;
		}

		.m-menu {
			.list {
				width: 100%;
			}

			.text {
				&:after {
					content: '';
					margin-left: -43px;
					background: #d2d2d2;
					width: 86px;
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 50%;
					@include transition(ease-in all 0.3s);
				}

				&:hover {
					&:after {
						margin-left: -74px;
						background: $color-major;
						width: 148px;
						height: 4px;
					}

					~ .sub-menu {
						overflow: visible;
						@include transform(rotateY(0deg));
					}
				}
			}

			.place-list {
				.list:last-child .text:after {
					background: none;
				}

				.text {
					padding: 6px 27px;
					line-height: 30px;
				}
			}
		}

		.sub-menu {
			margin-left: 1px;
			padding: 40px 0 260px 0;
			width: auto;
			min-width: 198px;
			top: 0;
			bottom: 0;

			&:hover, &.is-hover {
				overflow: visible;
				@include transform(rotateY(0deg));
			}

			&:before {
				content: '';
				background: rgba(238, 238, 238, 0.95) image-url('shared/bg-sub-menu.png') center bottom no-repeat;
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			.back-list {
				display: none;
			}

			.location {
				padding: 0 27px;
			}

			.text {
				position: relative;
				white-space: nowrap;

				&:after {
					margin-left: 0 !important;
					background: #d2d2d2;
					width: auto;
					left: 27px;
					right: 27px;
				}

				&:hover:after {
					background: $color-major !important;
				}

				&:hover ~ .detail-list, &.is-hover ~ .detail-list {
					overflow: visible;
					@include transform(rotateY(0deg));
				}
			}
		}
	}

	.detail-list {
		bottom: 0;

		&:hover, &.is-hover {
			overflow-y: auto;
			@include transform(rotateY(0deg));
		}

		.arrow {
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left: -8px;
			border-top: 8px solid transparent;
			border-right: 8px solid $color-major;
			border-bottom: 8px solid transparent;
		}

		.list {
			padding-left: 26px;
		}

		.b-link:before {
			content: '';
			margin-top: -3px;
			background: rgba(255, 255, 255, 0.28);
			display: block;
			width: 5px;
			height: 5px;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}

	.m-banner {
		margin-left: -72px;
		position: absolute !important;
		bottom: 150px;
		left: 50%;
	}

	.m-community {
		position: absolute;
		bottom: 80px;

		&:after {
			content: '';
			margin-left: -43px;
			background: #d2d2d2;
			width: 86px;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
		}

		> .list {
			margin: 0 6px;
			display: inline-block;
			position: relative;

			&:hover .community-list {
				display: block;
			}

			> .b-link {
				padding-top: 16px;

				&:hover {
					&.icon-fb {
						color: #4c76be;
					}

					&.icon-line {
						color: #0ab90a;
					}

					&.icon-youtube {
						color: #e62117;
					}

					&:before {
						content: '';
						display: block;
						width: 44px;
						height: 44px;
						position: absolute;
						bottom: 0;
						left: 100%;
						z-index: 1;
					}
				}
			}
		}

		.community-list {
			padding: 0 18px;
			background: #fff;
			display: none;
			max-height: 50vh;
			position: absolute;
			left: 0;
			bottom: 100%;
			border-radius: 2px;
			box-shadow: 0 0 16px rgba(191, 191, 191, 0.35);
			overflow-y: scroll;

			.list {
				white-space: nowrap;
			}

			.back-list {
				display: none;
			}
		}
	}

	.m-copyright {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
	}

	.m-form-wrap {
		.b-link:not(.is-undeerline):hover {
			text-decoration: none;
		}

		&.login-state .already-login .member-menu .b-link:hover {
			color: $color-major;
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-form-wrap {
		width: 396px;

		&.login-state {
			right: 140px;

			&.is-login {
				width: auto;
			}
		}

		&.m-order {
			right: 96px;
		}

		.m-form-wrap-hd {
			padding-top: 30px;
		}

		.m-form-wrap-bd, .m-form-wrap-ft {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-logo .b-link {
		width: 72px;
		height: 60px;
		top: 0;
		left: 0;
		font-size: 48px;
	}

	.menu-wrap {
		max-height: 0;
		position: relative;
		overflow: hidden;

		&.is-show {
			height: calc(100vh - 61px);
			max-height: 1000px;
			border-top: 1px solid #e5e5e5;
			overflow: scroll;
		}

		.about-list {
			padding: 0 54px 0 48px;
			width: 100vw;
			height: auto;
	
			.list {
				padding: 0 6px;
				display: block;
				line-height: 24px;
				text-align: left;
	
				&:not(:first-child) {
					border-top: 1px solid $color-gray-l-p30;
				}
	
				.b-link {
				padding: 12px 0;
				}
			}
		}
	}

	.m-header {
		padding-bottom: 14px;
		background: #f8f8f8;
		/*overflow: hidden;*/

		.m-menu {
			padding: 0 54px 0 48px;
			display: block;
			width: 100vw;
			text-align: left;
			@include box-sizing(border-box);


			> .list {
				padding: 0 6px;
				display: block;
				line-height: 24px;
				border-bottom: 1px solid $color-gray-l-p30;
			}

			.text {
				padding: 12px 0;

				&:hover, &.is-hover {
					&:after {
						margin-left: -74px;
						background: $color-major;
						width: 148px;
						height: 4px;
					}

					~ .sub-menu {
						left: 0;
						overflow: visible;
						@include transform(rotateY(0deg));
					}
				}
			}
		}

		.sub-menu {
			padding: 24px 54px 40px 48px;
			background: #f8f8f8;
			width: 100vw;
			top: 0;
			box-shadow: 0 9px 6px rgba(0, 0, 0, 0.15);
			z-index: 1;
			@include box-sizing(border-box);

			&.is-hover {
				overflow: visible;
				@include transform(rotateY(0deg));
			}

			> .list {
				display: table;
				width: 100%;
				line-height: 24px;

				&.back-list {
					padding: 0;
					border-bottom: 1px solid $color-gray-l-p30;
				}

				&:last-child .place-list {
					border-bottom: 0;
				}
			}

			.text.is-hover ~ .detail-list {
				left: 0;
				overflow: scroll;
				@include transform(rotateY(0deg));
			}

			.location {
				display: table-cell;
				width: 48px;
				height: 49px;
				vertical-align: top;
				line-height: 49px;
			}

			.detail-list .btn-back {
				color: $color-white;

				&:before {
					border-top-color: $color-white;
					border-left-color: $color-white;
				}
			}
		}

		.place-list {
			display: table-cell;
			vertical-align: top;
			border-bottom: 1px solid $color-gray-l-p30;
		}

		.btn-back {
			padding: 0 22px;
			height: 48px;
			position: relative;
			color: $color-major;

			&:before {
				content: '';
				margin-top: -5px;
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 50%;
				left: 4px;
				border-top: 3px solid $color-major;
				border-left: 3px solid $color-major;
				@include box-sizing(border-box);
				@include transform(rotate(-45deg));
			}
		}
	}

	.detail-list {
		padding: 24px 54px 70px 48px;
		width: 100vw;
		/*height: calc(100vh - 61px);*/
		z-index: 1;
		@include box-sizing(border-box);
		@include transform-origin(right);

		> .list {
			padding-left: 44px;
			display: block;
			width: 100%;
			position: relative;
			line-height: 24px;

			&.back-list {
				padding: 0;
				border-bottom: 1px solid $color-white;
			}

			&:last-child .place-list {
				border-bottom: 0;
			}

			.floor {
				display: block;
				width: 44px;
				height: 48px;
				position: absolute;
				top: 0;
				left: 0;
				line-height: 48px;

				&:before {
					content: '';
					background: $color-white;
					width: calc(100% - 66px);
					height: 1px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}

		.b-link {
			padding: 12px 0;
			height: 24px;
			line-height: 24px;
		}
	}

	.store-list {
		border-bottom: 1px solid $color-white;
	}

	.m-community {
		margin-bottom: 18px;
		padding: 0 54px 0 48px;
		width: 100vw;
		text-align: left;
		@include box-sizing(border-box);

		> .list {
			padding: 0 6px;
			border-bottom: 1px solid $color-gray-l-p30;

			> .b-link {
				padding: 10px 0 10px 36px;
				display: block;
				font-size: 28px;
				line-height: 24px;

				&.is-hover {
					&.icon-fb {
						color: #4c76be;
					}

					&.icon-line {
						color: #0ab90a;
					}

					&.icon-youtube {
						color: #e62117;
					}

					&:before {
						content: '';
						display: block;
						width: 44px;
						height: 44px;
						position: absolute;
						bottom: 0;
						left: 100%;
						z-index: 1;
					}

					~ .community-list {
						left: 0;
					}
				}

				.m-icon {
					margin-top: -14px;
					position: absolute;
					top: 50%;
					left: 0;
				}

				.text {
					color: $color-gray-d-p20;
					font-size: 16px;
					text-align: left;
				}
			}
		}

		.community-list {
			padding: 24px 48px 36px 42px;
			background: #f8f8f8;
			width: 100vw;
			position: fixed;
			top: 61px;
			left: 100%;
			box-shadow: 0 6px 6px rgba(210, 210, 210, 0.75);
			@include box-sizing(border-box);
			@include transition(ease-in all 0.3s);

			.back-list {
				padding: 0;
				display: block;
			}

			.btn-back {
				font-size: 16px;
			}
		}
	}

	.m-banner {
		margin: 0 auto 10px auto;
		position: relative;
	}
}

@include respond(Mobiles) {
	.m-form-wrap {
		margin-left: -156px;
		width: 312px;
		left: 50%;
		overflow-y: scroll;

		&.is-show {
			max-height: calc(100vh - 80px);
		}

		.m-form-wrap-hd {
			padding-top: 15px;
		}

		.m-form-wrap-bd, .m-form-wrap-ft {
			padding-right: 20px;
			padding-left: 20px;
		}

		.confirm-humanity .btn-react {
			width: 40px;
			height: 40px;

			&:not(:first-child):after {
				margin-top: -10px;
				height: 20px;
				top: 50%;
			}
		}
	}
}

@-moz-document url-prefix() {
	.m-community .community-list {
		bottom: 90%;
	}
}