.m-logo {
	background: $color-major;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	z-index: 6;
	color: #fff;
	font-size: 96px;

	img {
		max-height: 100%;
	}
}

.menu-wrap {
	@include transition(ease-in all 0.3s);

	.about-list {
		background: rgba(152,7,71,0.95);
		@include box-sizing(border-box);

		.list {
			font-size: 16px;

			.b-link {
				display: block;
				color: $color-white;

				&:hover {
					color: $color-text-minor;
				}
			}
		}
	}
}

.m-header {
	text-align: center;
	@include transition(ease-in all 0.3s);

	.m-menu {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		font-size: 16px;
		line-height: 48px;

		.list:last-child > .text {
			&:after {
				background: none;
			}
	
			&:hover:after {
				background: $color-major;
			}
		}

		.text {
			display: block;
			position: relative;
			cursor: pointer;
			color: $color-gray-d-p20;
			@include transition(ease-in all 0.3s);

			&:hover, &.is-hover {
				color: $color-major;

				&:after {
					margin-left: -74px;
					background: $color-major;
					width: 148px;
					height: 4px;
				}

				~ .sub-menu {
					overflow: visible;
					@include transform(rotateY(0deg));
				}
			}
		}
	}

	.sub-menu {
		margin-left: 1px;
		padding-top: 40px;
		width: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		overflow: hidden;
		line-height: 42px;
		@include transition(ease-in all 0.3s);
		@include transform(rotateY(90deg));
		@include transform-origin(left);

		&:before {
			content: '';
			background: rgba(238, 238, 238, 0.95) image-url('shared/bg-sub-menu.png') center bottom no-repeat;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:hover, &.is-hover {
			overflow: visible;
			@include transform(rotateY(0deg));
		}

		.location {
			padding: 0 27px;
			display: block;
			position: relative;
			z-index: 0;
			color: $color-major;
			font-size: 18px;
			font-weight: bold;
			line-height: 30px;
			text-align: left;
		}

		.text {
			padding: 0 27px;
			text-align: left;
			white-space: nowrap;

			&:hover ~ .detail-list {
				overflow: visible;
				@include transform(rotateY(0deg));
			}
		}
	}
}

.detail-list {
	padding: 30px 0 40px 0;
	background: rgba(152, 7, 71, 0.95);
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	overflow: hidden;
	line-height: 30px;
	@include transition(ease-in all 0.3s);
	@include transform(rotateY(90deg));
	@include transform-origin(left);

	> * {
		@include box-sizing(border-box);
	}

	.arrow {
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: -8px;
		border-top: 8px solid transparent;
		border-right: 8px solid $color-major;
		border-bottom: 8px solid transparent;
	}

	&:hover, &.is-hover {
		overflow-y: auto;
		@include transform(rotateY(0deg));
	}

	.list {
		padding-left: 26px;
		color: $color-white;
		text-align: left;

		.floor {
			font-weight: bold;
			line-height: 48px;
		}
	}

	.b-link {
		padding: 0 25px 0 19px;
		display: block;
		position: relative;
		color: $color-white;
		white-space: nowrap;

		&:before {
			content: '';
			margin-top: -3px;
			background: rgba(255, 255, 255, 0.28);
			display: block;
			width: 5px;
			height: 5px;
			position: absolute;
			top: 50%;
			left: 0;
		}

		&:hover {
			color: $color-text-minor;
		}
	}
}

.m-banner {
	width: 145px;

	.b-link {
		height: 80px;
	}

	img {
		min-width: 100%;
		height: 100%;
	}
}

.m-community {
	padding-bottom: 16px;
	width: 100%;
	font-size: 0;

	> .list {
		position: relative;

		&:hover .community-list {
			display: block;
		}

		> .b-link {
			position: relative;
			color: #8e8e8e;
			font-size: 26px;
			line-height: 26px;
			@include transition(ease-in all 0.3s);

			&:hover {
				&.icon-fb {
					color: #4c76be;
				}

				&.icon-line {
					color: #0ab90a;
				}

				&.icon-youtube {
					color: #e62117;
				}

				&:before {
					content: '';
					display: block;
					width: 44px;
					height: 44px;
					position: absolute;
					bottom: 0;
					left: 100%;
					z-index: 1;
				}
			}
		}
	}

	.community-list {
		padding: 0 18px;
		background: #fff;
		display: none;
		position: absolute;
		bottom: 100%;
		left: 0;
		border-radius: 2px;
		box-shadow: 0 0 16px rgba(191, 191, 191, 0.35);
		z-index: 1;
		@include animation(ani-fade-in 0.3s linear forwards);

		.list {
			padding: 16px 84px 16px 64px;
			display: flex;
			min-height: 50px;
			align-items: left;
			flex-direction: column;
			justify-content: center;
			position: relative;
			border-top: 1px solid $color-gray-l-p30;
			text-align: left;
			white-space: nowrap;

			&:first-child {
				border-top: 0;
			}

			.img-wrap {
				margin-top: -26px;
				display: block;
				width: 50px;
				height: 50px;
				position: absolute;
				top: 50%;
				left: 0;
				border: 1px solid $color-gray-l-p30;
				border-radius: 50%;
				overflow: hidden;
			}

			.community-name {
				color: $color-gray-d-p40;
				font-size: 16px;
				font-weight: bold;
			}

			.community-info {
				display: block;
				color: $color-gray-l-p10;
				font-size: 12px;
			}

			.btn-fans, .btn-line {
				margin-top: -12px;
				padding: 0 10px;
				display: inline-block;
				height: 24px;
				position: absolute;
				top: 50%;
				right: 0;
				border-radius: 5px;
				color: #fff;
				font-size: 14px;
				line-height: 24px;

				&:hover {
					margin-top: -10px;
					box-shadow: none;
				}
			}

			.btn-fans {
				background: #4b72ba;
				box-shadow: 0 2px 0 #355ca4;
			}

			.btn-line {
				background: #00b900;
				box-shadow: 0 2px 0 #007700;
			}
		}
	}
}

.m-copyright {
	color: #8e8e8e;
	line-height: 20px;
}

@include respond(Desktops) {
	.m-logo {
		width: 148px;
		height: 118px;
		top: 24px;
		left: 53px;

		img {
			width: 92px;
			max-width: 92px;
		}
	}

	.menu-wrap {
		&.is-show .about-list {
			@include transform(rotateY(0deg));
		}

		.about-list {
			padding-right: 74px;
			height: 64px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 3;
			white-space: nowrap;
			@include transform(rotateY(90deg));
			@include transform-origin(right);
	
			&:after {
				content: '';
				margin-top: -24px;
				background: $color-white;
				display: block;
				width: 1px;
				height: 48px;
				position: absolute;
				top: 50%;
				right: 74px;
			}
	
			.list {
				padding: 0 20px;
				display: inline-block;
			}
		}
	}

	.m-header {
		padding: 108px 0 240px 0;
		width: 190px;
		position: fixed;
		top: 46px;
		bottom: 0;
		left: 32px;
		z-index: 3;
		box-shadow: 2px 0 3px rgba(0, 0, 0, 0.15);

		&:before {
			content: '';
			background: #f8f8f8;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.9;
		}

		.m-menu {
			.list {
				width: 100%;
			}

			.text:after {
				content: '';
				margin-left: -43px;
				background: #d2d2d2;
				width: 86px;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: 50%;
				@include transition(ease-in all 0.3s);
			}

			.place-list .text {
				&:after {
					margin-left: -73px;
					background: #d2d2d2;
					width: 146px;
				}

				&:hover:after {
					background: $color-major;
				}
			}
		}
	}

	.m-banner {
		margin-left: -72px;
		position: absolute;
		bottom: 140px;
		left: 50%;
	}

	.m-community {
		position: absolute;
		bottom: 80px;

		&:after {
			content: '';
			margin-left: -43px;
			background: #d2d2d2;
			width: 86px;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
		}

		> .list {
			margin: 0 6px;
			display: inline-block;

			> .b-link {
				padding-top: 16px;
			}
		}
	}

	.m-copyright {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	.m-logo {
		width: 72px;
		height: 60px;
		top: 0;
		left: 0;
		font-size: 48px;
	}

	.menu-wrap {
		max-height: 0;
		overflow: hidden;

		&.is-show {
			height: calc(100vh - 60px);
			max-height: 1000px;
			overflow: scroll;
		}

		.about-list {
			padding: 0 54px 0 48px;
			width: 100vw;
			height: auto;
	
			.list {
				padding: 0 6px;
				display: block;
				line-height: 24px;
				text-align: left;
	
				&:not(:first-child) {
					border-top: 1px solid $color-gray-l-p30;
				}
	
				.b-link {
				padding: 12px 0;
				}
			}
		}
	}

	.m-header {
		padding-bottom: 14px;
		background: #f8f8f8;
		overflow: hidden;

		.m-menu {
			padding: 0 54px 0 48px;
			display: block;
			width: 100vw;
			text-align: left;
			@include box-sizing(border-box);


			.list {
				padding: 0 6px;
				display: block;
				line-height: 24px;
				border-bottom: 1px solid $color-gray-l-p30;

				.text {
					padding: 12px 0;
				}
			}
		}
	}

	.m-community {
		margin-bottom: 18px;
		padding: 0 54px 0 48px;
		width: 100vw;
		text-align: left;
		@include box-sizing(border-box);

		> .list {
			padding: 0 6px;
			border-bottom: 1px solid $color-gray-l-p30;

			> .b-link {
				padding: 10px 0 10px 36px;
				display: block;
				font-size: 28px;
				line-height: 24px;

				.m-icon {
					margin-top: -14px;
					position: absolute;
					top: 50%;
					left: 0;
				}

				.text {
					color: $color-gray-d-p20;
					font-size: 16px;
					text-align: left;
				}
			}
		}
	}

	.m-banner {
		margin: 0 auto 10px auto;
		position: relative;
	}
}