/* rew option bar */
.rwd-option-links {
	/*@include border-box;*/
	padding          : 0 20px;
	text-align       : right;
	width            : 100%;
	height           : 50px;
	background-color : #3e3e3e;
	@include box-sizing(border-box);

	> li {
		height : 100%;
		@include inline-block;

		&.country {
			position : relative;

		> a:after {
			content        : "";
			margin-left    : 4px;
			width          : 8px;
			height         : 6px;
			background     : image-url("icon_arrow/icon_arrow_down_white.png") no-repeat;
			display        : inline-block;
			vertical-align : 2px;
		}

		.dropdown-menu {
			margin-top : -12px;

			li {
				a {
					text-align : left;
					}
				}
			}
		}

		> a {
			padding     : 19px .7em;
			font-size   : $font-size-xxs;
			color       : $bright;
			line-height : 1em;
			display     : block;
		}
	}

	> li + li {
		margin-left : 10px;
	}
}

/* rew search bar */
.rwd-search-bar {
	padding          : 8px 10px;
	width            : 100%;
	height           : 50px;
	position         : relative;
	background-color : $fifth-color;
	@include box-sizing(border-box);

	input {
		padding     : 4px 34px 4px 10px;
		font-size   : $font-size-s;
		color       : $words-color;
		text-align  : left;
		width       : 100%;
		height      : 100%;
		line-height : 26px;
		display     : block;
		outline     : none;
		@include border-radius(4px);
		@include box-sizing(border-box);
	}

	.search-act-btn {
		bottom     : 8px;
		right      : 10px;
		width      : 34px;
		height     : 34px;
		background : $third-color image-url("icon_magnifier_sky.png") no-repeat center center;
		display    : block;
		position   : absolute;
		@include border-radius(0 4px 4px 0);
	}
}

/* header */
header {
	font-size  : 0;
	height     : 50px;
	background : $secondary-color image-url("bg_header.png") no-repeat center 0;

	.wrapper {
		height     : 100%;
		text-align : right;

		& > * {
			text-align     : left;
			vertical-align : middle;
		}

		&:before {
			content   : "";
			font-size : 0;
			width     : 0;
			height    : 100%;
			@include inline-block;
		}
	}

	.logo {
		width      : 266px;
		height     : 50px;
		float      : left;
		background : image-url("bg_header_logo.png") no-repeat;
		@include inline-block;
		@include text-replace;
	}

	.option-links {
		margin-right : $spacing-xs;
		font-size    : $font-size-xxs;
		@include clear-fix;
		@include inline-block;

		> li {
			padding     : 0 $spacing-xs;
			line-height : 1em;
			float       : left;
			@include inline-block;

			> a {
				padding   : 6px 0;
				font-size : $font-size-xxs;
				color     : $bright;
				@include inline-block;

				&:hover {
					color : $fifth-color;
				}
			}
		}

		> li + li {
			border-left : 1px solid $fourth-color;
		}

		.country {
			position   : relative;
			text-align : left;

			> a {
				padding-right : 14px;
				background    : image-url("icon_arrow/icon_arrow_down_white.png") no-repeat right center;
				@include inline-block;
			}
		}
	}

	.rwd-btn {
		margin-right : $spacing-xs;

		> li {
			@include inline-block;

			& > a {
				width               : 40px;
				height              : 40px;
				background-repeat   : no-repeat;
				background-position : center center;
				vertical-align      : middle;
				display             : block;
				@include text-replace;
			}
		}

		.login {
			position : relative;

			> a {
				background-image: image-url("icon_white/icon_lock2_white.png");
			}

			.dropdown-menu {
				right : 0;
				left  : inherit;

				&:before {
					right : 12px;
					left  : inherit;
				}
			}
		}

		.search {
			display: none;

			> a {
				background-image: image-url("icon_white/icon_magnifier_white.png");
			}
		}
	}

	.search-bar {
		text-align : left;
		width      : 150px;
		height     : 32px;
		background : $secondary-color image-url("icon_magnifier_sky.png") no-repeat 95% center;
		position   : relative;
		@include inline-block;
		@include border-radius(4px);
		@include box-shadow(inset 0 2px 5px rgba(0,0,0,.6));

		input {
			padding          : 4px 0 4px 10px;
			color            : $bright;
			width            : 110px;
			height           : 24px;
			background-color : transparent;
			outline          : none;
		}

		.search-act-btn {
			bottom     : 0;
			right      : 0;
			position   : absolute;
			width      : 30px;
			height     : 32px;
			background : image-url("icon_magnifier_sky.png") no-repeat center center;
			display    : block;
		}
	}
}

.dropdown-menu {
	top              : 100%;
	left             : -1px;
	width            : 100%;
	min-width        : 140px;
	display          : none;
	position         : absolute;
	z-index          : 9998;
	border           : 1px solid $disable-color;
	background-color : $bright;
	@include border-radius(4px);

	&.with-arrow {
		&:before {
			content             : "";
			top                 : -12px;
			left                : 12px;
			font-size           : 0;
			width               : 0;
			height              : 0;
			line-height         : 0;
			display             : block;
			position            : absolute;
			z-index             : 9999;
			border              : 6px solid transparent;
			border-bottom-color : $bright;
		}
	}

	li {
		&:hover {
			background-color : $gray;
		}

		& + li {
			border-top : 1px solid $disable-color;
		}

		a {
			padding   : .5em 1em;
			font-size : $font-size-xs;
			display   : block;
		}    
	}
}

.dropdown-trigger.active > .dropdown-menu {
	display: block;
}