.m-lightbox {
	background: $color-white;
	display: block;
	overflow: hidden;
	border-radius: 4px;
}

.m-lightbox-hd {
	display: table;
	width: 100%;
	position: relative;
	@include box-sizing(border-box);

	.m-lightbox-title {
		display: table-cell;
		color: $color-gray-d-p40;
		vertical-align: middle;
		font-size: 24px;
		line-height: 1.6em;
	}

	.btn-close {
		margin-top: -12px;
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;

		&:before, &:after {
			margin-left: -10px;
			width: 20px;
			height: 1px;
		}
	}
}

.m-lightbox-bd {
	&.has-aside .preview-list .m-owl-arrow {
		&.is-prev {
			left: -34px;
		}

		&.is-next {
			right: -34px;
		}
	}

	.m-box-holder {
		margin-bottom: 10px;

		.m-selection {
			background: $color-gray-d-p40;
			color: $color-white;
	
			option {
				color: $color-white;
			}
		}

		&.is-selector:after {
			margin-top: -7px;
			width: 8px;
			height: 8px;
			border-top: 0;
			border-right: 0;
			border-bottom: 1px solid $color-white;
			border-left: 1px solid $color-white;
			@include transform(rotate(-45deg));
		}
	}

	.desc-title {
		margin-bottom: 10px;
		color: $color-major;
		border-bottom: 1px solid $color-gray-l-p40;
	}

	.desc {
		color: $color-gray-d-p20;
	}

	.photo-list, .preview-list {
		font-size: 0;

		.img-wrap {
			display: inline-block;
		}

		.m-owl-arrow {
			background: rgba(0, 0, 0, 0.2);

			&:hover {
				background: $color-major;
			}
		}
	}

	.photo-list {
		position: relative;
		overflow: hidden;

		.m-owl-arrow {
			margin-top: -35px;
			width: 34px;
			height: 70px;
			top: 50%;

			&.is-prev {
				left: 0;
			}

			&.is-next {
				right: 0;
			}
		}
	}

	.preview-list {
		margin: 0 auto;
		position: relative;
		@include box-sizing(border-box);

		.img-wrap {
			background: $color-white;
			overflow: hidden;
			@include transition(ease-in all 0.3s);

			&.is-curr {
				opacity: 0.3;
			}
		}

		.m-owl-arrow {
			width: 34px;
			top: 0;
			bottom: 0;

			&.is-prev {
				left: 0;
			}

			&.is-next {
				right: 0;
			}
		}
	}
}

@include respond(Desktops) {
	.m-lightbox {
		width: 948px;
	}

	.m-lightbox-bd {
		.photo-list {
			height: 434px;
		}

		.preview-list .img-wrap {
			width: 100px;
			cursor: pointer;
		}

		&.has-aside {
			.m-lightbox-content {
				width: 660px;
			}

			.photo-list {
				height: 324px;
			}

			.preview-list {
				padding: 0;
				width: 400px;

				.m-owl-arrow {
					width: 34px;
				}
			}
		}

		.preview-list {
			padding: 0 44px;

			.list-block {
				width: 100%;
			}

			.m-owl-arrow {
				width: 44px;
			}
		}
	}
}

@include respond(Desktops-Tablets) {
	.m-lightbox-hd {
		padding: 0 30px;
		height: 50px;

		.m-lightbox-title {
			padding: 10px 0;
		}

		.btn-close {
			right: 30px;
		}
	}

	.m-lightbox-bd {
		padding: 0 30px 30px 30px;
		display: flex;
		flex-direction: row-reverse;

		&.has-aside .m-lightbox-side {
			margin-left: 14px;
			width: 214px;
		}

		.m-lightbox-content, .preview-list {
			width: 100%;
		}

		.m-lightbox-content .photo-list .img-wrap {
			width: 100%;

			img {
				max-width: 100%;
			}
		}

		.m-box-holder, .m-box-holder .m-selection {
			width: 100%;
			height: 28px;
			border: 0;
			line-height: 28px;
		}

		.desc-title {
			padding: 4px 0;
			font-size: 26px;
			line-height: 1.5em;
		}

		.desc {
			font-size: 14px;
			line-height: 1.6em;
		}

		.photo-list {
			margin-bottom: 14px;

			.img-wrap img {
				width: 100%;
			}
		}
	}
}

@include respond(Tablets) {
	.m-lightbox {
		width: 740px;
	}

	.m-lightbox-bd {
		&.has-aside {
			.m-lightbox-content {
				width: 452px;
			}

			.photo-list {
				height: 222px;
			}

			.preview-list {
				width: 384px;

				.img-wrap {
					width: 96px;
				}
			}
		}

		.photo-list {
			height: 334px;
		}

		.preview-list {
			padding: 0;
			width: calc(100% - 68px);
		}
	}
}

@include respond(Tablets-Mobiles) {
	.m-lightbox-bd .preview-list .m-owl-arrow {
		&.is-prev {
			left: -34px;
		}

		&.is-next {
			right: -34px;
		}
	}
}

@include respond(Mobiles) {
	.m-lightbox {
		width: calc(100vw - 8px);
	}

	.m-lightbox-hd {
		padding: 0 15px;
		height: 48px;

		.btn-close {
			right: 15px;
		}
	}

	.m-lightbox-bd {
		padding: 0 15px 15px 15px;

		.m-lightbox-side {
			margin-bottom: 20px;
		}

		.desc-title {
			font-size: 20px;
		}

		.photo-list {
			margin-bottom: 10px;
			height: calc((100vw - 38px) * 0.4909);

			.img-wrap {
				width: 100%;

				img {
					width: 100%;
				}
			}
		}

		.preview-list {
			width: calc(100vw - 106px);

			.img-wrap {
				background: #000;
				width: calc((100vw - 106px) / 3);

				img {
					width: 100%;
				}
			}
		}
	}
}