nav.drawer {
  background-color: $gray;
  
  li {
    a {
      overflow: inherit;
      color: $main-color;
      font-size: $font-size-l;
      line-height: 30px;
      text-overflow: inherit;
    }

    li a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: $spacing-normal;
      font-size: $font-size-s;
    }
  }
}

/* Replace styles in "jquery.mmenu.css" */
.mm-menu .mm-list {
  padding: 0;
  background-color: #fff;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  margin-left: 0;
}

.mm-list li.mm-opened > a {
  color: $secondary-color;
}

.mm-list a.mm-subopen { width: 50px; }

.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span {
  margin-right: 50px;
}

.mm-menu .mm-list > li:after,
.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: $disable-color;
}

.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen) {
  background-color: transparent;
}

.mm-menu .mm-list > li > a.mm-subopen:after,
.mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: $main-color;
}

.mm-menu .mm-list > li.mm-opened > a.mm-subopen:after,
.mm-menu .mm-list > li.mm-opened > a.mm-subclose:before {
  border-color: $secondary-color;
}

.mm-list a.mm-subopen:before {
  border: none;
}

.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen {
  
}

.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background-color: #ebf4fa;
}

.mm-menu.mm-vertical .mm-list > li > a.mm-subopen {
  height: 50px;
}

.mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after {
  top: 20px;
  right: 20px;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  margin-top: -1px;
  padding: 0;
  border-top: 1px solid $disable-color;
}

nav.menu {
  .wrapper > ul {
    @include clear-fix;
    position: relative;
    margin: 15px auto;
    text-align: center;
    font-size: 0;
  }
  
  ul > li {
    @include border-box;
    display: inline-block;

    /* Justify all <li>'s width */
    &:nth-child(1) { width: 140px; }
    &:nth-child(2) { width: 276px; }
    &:nth-child(3) { width: 140px; }
    &:nth-child(4) { width: 139px; }
    &:nth-child(5) { width: 125px; }
    &:nth-child(6) { width: 140px; }
  }

  ul > li + li {
    border-left: 1px solid $disable-color;
  }

  ul > li > a {
    @include border-box;
    display: block;
    padding: $spacing-xs $spacing-s;
    border: 1px solid transparent;
    border-bottom: none;
    background-color: $bright;
    font-size: $font-size-l;
    line-height: 1em;
    vertical-align: middle;

    &:after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 8px;
      margin-left: $spacing-xxs;
      background: url(../images/icon_arrow/icon_arrow_down_oceanblue.png) no-repeat center 0;
      vertical-align: middle;
    }
  }
  
  ul > li:hover > a {
    @include border-radius(4px 4px 0 0);
    @include background-image(linear-gradient(bottom, $bright 1%, $gray 100%));
    border: 1px solid $disable-color;
    border-bottom: none;
    position: relative;
    z-index: 999;
  }

  ul > li.active > a { color: $main-color; }

  /* Fix other hover issues */
  ul > li:hover,
  ul > li:hover + li {
    border-left: 1px solid transparent;
  }

  ul > li:first-child:hover { border-left: none; }

  ul > li.corporate-finance:hover,
  ul > li.corporate-finance:hover + li {
    border-left: 1px solid $disable-color;
  }

  ul > li.corporate-finance:hover a {
    @include background-image(none);
    border: 1px solid transparent;
    border-bottom: none;
  }
  
  ul > li.corporate-finance > a:after { display: none; }
  
  /* Sub menu default styles */
  .sub-menu-wrap {
    @include border-box;
    @include border-radius(4px);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    padding: $spacing-s;
    border: 1px solid $disable-color;
    background-color: $bright;
    font-size: $font-size-s;
    line-height: 1em;
    text-align: left;
  }

  ul > li:first-child .sub-menu-wrap { @include border-radius(0 4px 4px 4px); }
  ul > li:last-child  .sub-menu-wrap { @include border-radius(4px 0 4px 4px); }
  
  /* Show sub menu when hover on <li> */
  .sub-menu-wrap {
    /* Banner */
    .banner {
      @include border-box;
      float: right;
      width: 194px;
      padding: $spacing-s 0 0;
      text-align: left;

      img {
        max-width: 214px;
      }

      p {
        margin-top: $spacing-s;
        color: $secondary-color;
        font-size: $font-size-xs;
        line-height: 1.5em;
      }

      .btn {
        display: block;
        max-width: 130px;
        margin: $spacing-xs 0;
      }
    }

    /* If has Banner...then <ol> add these styles */
    .banner + ol {
      max-width: 703px; /* Fix "iPad overflow: hidden" doesn't work issue. */
      border-right: 1px solid $disable-color;
      padding-right: $spacing-s;
    }
    
    /* <ol> Items default styles */
    ol {
      @include clear-fix;
      margin-left: - $spacing-s;

      li {
        @include border-box;
        float: left;
        width: $three-column - 6px;
        height: 88px;
        margin-left: $spacing-s;
        padding: 10px 10px 10px 30px;
        border-bottom: 1px solid $disable-color;
        background-image: url(../images/icon_arrow/icon_arrow_right_gray.jpg);
        background-repeat: no-repeat;
        background-position: 0 10px;

        &:first-child {
          float: none;
          width: auto;
          background-position: 0 8px;
        }
        
        strong {
          display: block;
          margin-bottom: $spacing-xxs;
          color: $secondary-color;
          font-size: $font-size-s;
          line-height: 1.5em;
        }

        span {
          color: $words-color;
          font-size: $font-size-xs;
          line-height: 1.5em;
        }
      }
    }
  }

  .sub-menu-wrap.no-banner {
    width: 724px;
  }

  li:hover > .sub-menu-wrap {
    display: block;
    z-index: 998;
  }

  li:last-child:hover > .sub-menu-wrap {
    left: inherit;
    right: 0;
  }
}

/* For English Version */
html[lang="en"] nav.menu {
  font-family: Helvetica, Arial, sans-serif;

  ul > li {
    /* Justify all <li>'s width */
    &:nth-child(1) { width: 102px; }
    &:nth-child(2) { width: 226px; }
    &:nth-child(3) { width: 130px; }
    &:nth-child(4) { width: 188px; }
    &:nth-child(5) { width: 208px; }
    &:nth-child(6) { width: 106px; }
  }

  ul > li > a {
    padding: 10px;
    font-size: $font-size-s;
    font-weight: bold;
  }
}

/* Hide last-row items' border-bottom */
.personal-finance .sub-menu-wrap li:nth-last-child(-n+3),
.signature .sub-menu-wrap li:nth-last-child(-n+3),
.private-banking .sub-menu-wrap li:nth-last-child(-n+2),
.business-finance .sub-menu-wrap li:last-child,
.about-us .sub-menu-wrap li:last-child { border-bottom: none; }

/* Item's icon */
.personal-finance .sub-menu-wrap ol li:nth-child(2)  { background-image: url(../images/icon_ocean_blue/icon_01.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(3)  { background-image: url(../images/icon_ocean_blue/icon_02.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(4)  { background-image: url(../images/icon_ocean_blue/icon_03.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(5)  { background-image: url(../images/icon_ocean_blue/icon_04.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(6)  { background-image: url(../images/icon_ocean_blue/icon_19.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(7)  { background-image: url(../images/icon_ocean_blue/icon_06.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(8)  { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(9)  { background-image: url(../images/icon_ocean_blue/icon_09.gif); }
.personal-finance .sub-menu-wrap ol li:nth-child(10) { background-image: url(../images/icon_ocean_blue/icon_10.gif); }

.signature .sub-menu-wrap ol li:nth-child(2)         { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
.signature .sub-menu-wrap ol li:nth-child(3)         { background-image: url(../images/icon_ocean_blue/icon_12.gif); }
.signature .sub-menu-wrap ol li:nth-child(4)         { background-image: url(../images/icon_ocean_blue/icon_10.gif); }
.signature .sub-menu-wrap ol li:nth-child(5)         { background-image: url(../images/icon_ocean_blue/icon_13.gif); }
.signature .sub-menu-wrap ol li:nth-child(6)         { background-image: url(../images/icon_ocean_blue/icon_14.gif); }
.signature .sub-menu-wrap ol li:nth-child(7)         { background-image: url(../images/icon_ocean_blue/icon_15.gif); }

.private-banking .sub-menu-wrap ol li:nth-child(2)   { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
.private-banking .sub-menu-wrap ol li:nth-child(3)   { background-image: url(../images/icon_ocean_blue/icon_12.gif); }
.private-banking .sub-menu-wrap ol li:nth-child(4)   { background-image: url(../images/icon_ocean_blue/icon_03.gif); }
.private-banking .sub-menu-wrap ol li:nth-child(5)   { background-image: url(../images/icon_ocean_blue/icon_13.gif); }
.private-banking .sub-menu-wrap ol li:nth-child(6)   { background-image: url(../images/icon_ocean_blue/icon_16.gif); }

.business-finance .sub-menu-wrap ol li:nth-child(2)  { background-image: url(../images/icon_ocean_blue/icon_28.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(3)  { background-image: url(../images/icon_ocean_blue/icon_17.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(4)  { background-image: url(../images/icon_ocean_blue/icon_15.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(5)  { background-image: url(../images/icon_ocean_blue/icon_18.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(6)  { background-image: url(../images/icon_ocean_blue/icon_19.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(7)  { background-image: url(../images/icon_ocean_blue/icon_17.gif); }
.business-finance .sub-menu-wrap ol li:nth-child(8)  { background-image: url(../images/icon_ocean_blue/icon_20.gif); }

.about-us .sub-menu-wrap ol li:nth-child(2)          { background-image: url(../images/icon_ocean_blue/icon_36.gif); }
.about-us .sub-menu-wrap ol li:nth-child(3)          { background-image: url(../images/icon_ocean_blue/icon_21.gif); }
.about-us .sub-menu-wrap ol li:nth-child(4)          { background-image: url(../images/icon_ocean_blue/icon_37.gif); }
.about-us .sub-menu-wrap ol li:nth-child(5)          { background-image: url(../images/icon_ocean_blue/icon_35.gif); }