.m-step {
	margin : 30px auto 0 auto;
	width  : 520px;
	@include box-sizing(border-box);

	> li {
		margin-top  : 50px;
		padding     : 20px 20px;
		font-size   : 16px;
		color       : #003f62;
		min-height  : 70px;
		line-height : 30px;
		position    : relative;
		border      : 1px solid $border-color;	
		@include box-sizing(border-box);
		@include box-shadow(1px 2px 0 $box-shadow-color);
		@include border-radius($border-radius);

		&:before {
			content     : '';
			top         : -50px;
			left        : 49%;
			margin-left : -11px;
			display     : block;
			width       : 22px;
			height      : 50px;
			position    : absolute;
			background  : image-url('icon_arrow/icon_arrow_down_gradient.png') no-repeat 0 center;
		}

		&:first-child {
			margin-top : 0;

			&:before {
				display : none;
			}
		}

		&.no-float  {
			> em {
				margin-right  : 0;
				margin-bottom : 10px;
				width         : 100%;
				float         : none;
			}

			> div {
				width : 100%;
				float : none;
			}
		}

		em {
			font-style : normal;
		}

		> em {
			margin-right : 20px;
			font-size    : 30px;
			width        : 100px;
			float        : left;
			display      : block;
		}

		> div {
			float : right;
			width : 358px;

			> ul {
				@include clearfix;

				> li {
					font-size : 14px;
					width     : 50%;
					float     : left;
					@include box-sizing(border-box);

					> em {
						font-size   : 16px;
						line-height : 2;
						display     : block;
					}

					> ol {
						margin-left : 25px;
						list-style  : decimal;

						> li {
							color       : $fontGray;
							line-height : 1.6;
						}
					}
				}
			}
		}
	}
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	.m-step {
		padding-left  : 20px;
		padding-right : 20px;
		width         : 100%;

		> li {
			&.no-float  {
				> div {
					text-align : inherit;

					> ul {
						> li {
							margin-top : 10px;
							width      : 100%;
							float      : none;

							&:first-child {
								margin-top : 0;
							}

							> em {
								text-align : center;
							}
						}
					}
				}
			}

			> em , > div {
				width : 100%;
				float : none;
			}

			> em {
				margin-bottom : 10px;
				text-align    : center;
			}

			> div {
				text-align  : center;
				line-height : 1.6;
			}
		}
	}
}

/* screen width <= 800 and width > 768 */
@media screen and ( min-width : 768px ) and ( max-width : 800px ) {
	
}

/* screen width < 768 */
@media screen and ( max-width : 767px ) {
}