.m-tab-wrap {
	.btn-tab {
		display: block;
		position: relative;
		color: $color-gray-d-p10;
		text-align: center;
		@include transition(ease-in all 0.3s);

		&:hover, &.is-active {
			color: $color-major;

			&:after {
				margin-left: calc(-100% / 2);
				width: 100%;
				height: 4px;
				opacity: 1;
			}
		}

		&:after {
			content: '';
			margin-left: calc(-60% / 2);
			background: $color-major;
			display: block;
			width: 60%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
			opacity: 0;
			@include transition(ease-in all 0.3s);
		}
	}

	.arrow-prev, .arrow-next {
		display: none;
	}
}

.m-tab-list {
	display: block;
	border-bottom: 1px solid $color-gray-l-p30;
	font-size: 0;

	.list {
		margin-bottom: -1px;
		display: inline-block;
	}
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {
	.m-tab-wrap {
		margin-bottom: 32px;
		display: block;
	}

	.btn-tab {
		min-width: 124px;
		height: 56px;
		font-size: 18px;
		line-height: 56px;
	}
}

@include respond(Tablets-Mobiles) {}

@include respond(Tablets) {
	.m-tab {
		display: block;
	}
}

@include respond(Mobiles) {
	.m-tab-wrap {
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		position: relative;

		.btn-tab {
			padding: 0 10px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
		}

		.arrow-prev, .arrow-next {
			padding: 0;
			width: 50px;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		.arrow-prev {
			left: 0;
			@include background-image(linear-gradient(to left, rgba(232, 232, 232, 0) 0%, $color-gray-l-p40 60%));
		}

		.arrow-next {
			right: 0;
			@include background-image(linear-gradient(to right, rgba(232, 232, 232, 0) 0%, $color-gray-l-p40 60%));
		}
	}

	.m-tab {
		margin-bottom: 20px;
		width: 100%;
		overflow: scroll;

		.m-tab-list {
			display: table-cell;
			width: 740px;
			white-space: nowrap;
		}
	}
}