/*  ==========================================================================
                                                                 
                                 ,,    ,,                        
  `7MMM.     ,MMF'             `7MM    db                        
    MMMb    dPMM                 MM                              
    M YM   ,M MM  .gP"Ya    ,M""bMM  `7MM   ,6"Yb.               
    M  Mb  M' MM ,M'   Yb ,AP    MM    MM  8)   MM               
    M  YM.P'  MM 8M"""""" 8MI    MM    MM   ,pm9MM               
    M  `YM'   MM YM.    , `Mb    MM    MM  8M   MM               
  .JML. `'  .JMML.`Mbmmd'  `Wbmd"MML..JMML.`Moo9^Yo.             
                                                                 
                                             ,,                  
    .g8""8q.                                 db                  
  .dP'    `YM.                                                   
  dM'      `MM `7MM  `7MM  .gP"Ya `7Mb,od8 `7MM  .gP"Ya  ,pP"Ybd 
  MM        MM   MM    MM ,M'   Yb  MM' "'   MM ,M'   Yb 8I   `" 
  MM.      ,MP   MM    MM 8M""""""  MM       MM 8M"""""" `YMMMa. 
  `Mb.    ,dP'   MM    MM YM.    ,  MM       MM YM.    , L.   I8 
    `"bmmd"'     `Mbod"YML.`Mbmmd'.JMML.   .JMML.`Mbmmd' M9mmmP' 
        MMb                                                      
         `bood'                                                  
  ========================================================================== */



/*  ==========================================================================

   .d8888b.   .d8888b.   .d8888b.                         
  d88P  Y88b d88P  Y88b d88P  Y88b                        
  888    888 Y88b. d88P 888    888                        
  Y88b. d888  "Y88888"  888    888      88888b.  888  888 
   "Y888P888 .d8P""Y8b. 888    888      888 "88b `Y8bd8P' 
         888 888    888 888    888      888  888   X88K   
  Y88b  d88P Y88b  d88P Y88b  d88P      888 d88P .d8""8b. 
   "Y8888P"   "Y8888P"   "Y8888P"       88888P"  888  888 
                                        888               
                                        888               
                                        888               
  ========================================================================== */
// When screen smaller than 980px
@media only screen and (max-width: 980px) {
  .wrapper {
    width: 100%;
  }

  .rwd {
    display: inline-block;
  }

  .rwd.rwd-search-bar {
    display: none;
  }
  
  //==========================================================================
  // Header
  //==========================================================================
  header {
    a.rwd-hamburger-menu {
      float: left;
      width: 50px;
      height: 100%;
      border-right: 1px solid lighten($secondary-color, 3);
      background: $secondary-color url(../images/icon_white/icon_hamburger.png) center center no-repeat;
    }

    ul.option-links {
      display: none;
    }

    ul.rwd-btn {}

    .search-bar { margin-right: $spacing-s; }
  }

  //==========================================================================
  // Nav
  //==========================================================================
  nav.menu {
    display: none;
  }

  //==========================================================================
  // Key Visual
  //==========================================================================
  .key-visual {
    .owl-controls {
      .owl-dots {
        text-align: center;
      }
    }
    
    .slide-item-container {
      @include border-radius(0);
      .wording {
        left: inherit;
        right: 40px;
      }
    }

    .action-box {
      position: relative;
      top: inherit;
      right: inherit;
      z-index: 9;
      width: 100%;

      .login {
        display: none;
      }

      .helper-links {
        @include display-flex;
        margin: 0;
        padding: $spacing-s;
        background-color: $gray;

        .apply,
        .services {
          @include flex(1 1 auto);
        }

        .services {
          margin-top: 0;
          margin-left: $spacing-s;
        }
      }
    }
  }
  
  //==========================================================================
  // Promo & Carousel
  //==========================================================================
  .promo {
    margin-bottom: 0;

    .promo-carousel {
      @include border-box;
      width: 100%;
      float: none;
      padding: 0 $spacing-s;
      margin-bottom: $spacing-s;
    }

    .announcement {
      @include border-radius(0);
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      border: none;
      border-top: 1px solid $disable-color;

      h3 {
        position: relative;
        margin-bottom: 0;
        padding: 1em $spacing-s;

        a.slide-trigger {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;

          &:after {
            @include border-radius(50px);
            content: "+";
            display: block;
            position: absolute;
            top: 50%;
            right: $spacing-s;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            background-color: $main-color;
            color: $bright;
            font-size: $font-size-s;
            font-family: Arial, sans-serif;
            line-height: 24px;
            text-align: center;
          }
        }

        a.active:after {
            content: "\2013";
            line-height: 23px;
        }
      }

      ul {
        display: none;
        margin: 0 $spacing-s $spacing-normal;

        li + li {
          margin-top: 1em;
        }

        a {
          font-size: $font-size-s;
        }
      }
    }
  }
  
  //==========================================================================
  // Footer
  //==========================================================================
  footer {
    .footer-contact-us {
      @include border-box;
      width: 100%;
      padding: $spacing-s;
      background-color: $main-color;

      h4 {
        margin-bottom: $spacing-xs;
        color: $bright;
        font-size: $font-size-l;
      }

      a {
        display: inline-block;
        margin-top: $spacing-xs;
        padding-left: 24px;
        background-repeat: no-repeat;
        background-position: 0 center;
        color: $bright;
        
      }

      li:nth-child(1) a { background-image: url(../images/icon_white/icon_location.png); }
      li:nth-child(2) a { background-image: url(../images/icon_white/icon_mail.png); }
      li:nth-child(3) a { background-image: url(../images/icon_white/icon_tel.png); }
    }

    ul.footer-links {
      padding-top: 0;

      li {
        display: block;
        padding: 1.4em $spacing-s;

        & + li {
          border-left: none;
          border-top: 1px solid #125478;
        }

        a {
          padding: 0;
        }
      }
    }

    ul.footer-links + p.copyright {
      margin-top: $spacing-s;
      padding-left: $spacing-s;
    }
  }

  //==========================================================================
  // Notification
  //==========================================================================
  .notification-cookie {
    .wrapper {
      padding: 0 $spacing-s;
    }
  }
}


/*  ==========================================================================

   .d8888b.   .d8888b.   .d8888b.                         
  d88P  Y88b d88P  Y88b d88P  Y88b                        
  Y88b. d88P 888    888 888    888                        
   "Y88888"  888    888 888    888      88888b.  888  888 
  .d8P""Y8b. 888    888 888    888      888 "88b `Y8bd8P' 
  888    888 888    888 888    888      888  888   X88K   
  Y88b  d88P Y88b  d88P Y88b  d88P      888 d88P .d8""8b. 
   "Y8888P"   "Y8888P"   "Y8888P"       88888P"  888  888 
                                        888               
                                        888               
                                        888               
  ========================================================================== */
// When screen smaller than 800px
@media only screen and (max-width: 800px) {
  
}



/*  ==========================================================================
  
  8888888888    d8888   .d8888b.                         
        d88P   d8P888  d88P  Y88b                        
       d88P   d8P 888  888    888                        
      d88P   d8P  888  888    888      88888b.  888  888 
   88888888 d88   888  888    888      888 "88b `Y8bd8P' 
    d88P    8888888888 888    888      888  888   X88K   
   d88P           888  Y88b  d88P      888 d88P .d8""8b. 
  d88P            888   "Y8888P"       88888P"  888  888 
                                       888               
                                       888               
                                       888               
  ========================================================================== */
// When screen smaller than 740px
@media only screen and (max-width: 740px) {
  .promo {
    .promo-carousel {
      margin-bottom: $spacing-normal;

      .owl-controls {
        .owl-dots {
          position: relative;
          top: 92px;
        }
      }
    }
  }
}


/*  ==========================================================================

   .d8888b.   .d8888b.   .d8888b.                         
  d88P  Y88b d88P  Y88b d88P  Y88b                        
  888        888    888 888    888                        
  888d888b.  888    888 888    888      88888b.  888  888 
  888P "Y88b 888    888 888    888      888 "88b `Y8bd8P' 
  888    888 888    888 888    888      888  888   X88K   
  Y88b  d88P Y88b  d88P Y88b  d88P      888 d88P .d8""8b. 
   "Y8888P"   "Y8888P"   "Y8888P"       88888P"  888  888 
                                        888               
                                        888               
                                        888               
  ========================================================================== */
// When screen smaller than 600px
@media only screen and (max-width: 600px) {
  header {
    .wrapper {
      position: relative;
    }

    a.logo {
      width: 214px;
      height: 50px;
      background: url(../images/bg_header_logo_s.png) no-repeat;
    }

    ul.rwd-btn {
      position: absolute;
      right: 0px;
      top: 5px;
      margin-right: 0;

      li {
        &.search { display: inline-block; }
      }
    }

    .search-bar { display: none; }
  }
  
  ul.rwd-option-links {
    padding: 0;
    text-align: center;
  }

  .key-visual {
    .slide-item-container {
      .hero-image {
        @include opacity(.5);
      }
    }

    .action-box {
      .helper-links {
        @include flex-direction-column;

        .services {
          margin-top: $spacing-s;
          margin-left: 0;
        }
      }
    }
  }
}



/*  ==========================================================================

      d8888   .d8888b.   .d8888b.                         
     d8P888  d88P  Y88b d88P  Y88b                        
    d8P 888  Y88b. d88P 888    888                        
   d8P  888   "Y88888"  888    888      88888b.  888  888 
  d88   888  .d8P""Y8b. 888    888      888 "88b `Y8bd8P' 
  8888888888 888    888 888    888      888  888   X88K   
        888  Y88b  d88P Y88b  d88P      888 d88P .d8""8b. 
        888   "Y8888P"   "Y8888P"       88888P"  888  888 
                                        888               
                                        888               
                                        888               
  ========================================================================== */
// When screen smaller than 480px
@media only screen and (max-width: 480px) {
  .key-visual {
    .slide-item-container {
      .wording {
        width: 280px;
        left: $spacing-s;
        right: $spacing-s;
      }
    }
  }
}


/*  ==========================================================================

   .d8888b.   .d8888b.   .d8888b.                         
  d88P  Y88b d88P  Y88b d88P  Y88b                        
       .d88P 888        888    888                        
      8888"  888d888b.  888    888      88888b.  888  888 
       "Y8b. 888P "Y88b 888    888      888 "88b `Y8bd8P' 
  888    888 888    888 888    888      888  888   X88K   
  Y88b  d88P Y88b  d88P Y88b  d88P      888 d88P .d8""8b. 
   "Y8888P"   "Y8888P"   "Y8888P"       88888P"  888  888 
                                        888               
                                        888               
                                        888               
  ========================================================================== */
// When screen smaller than 360px
@media only screen and (max-width: 360px) {
  .promo {
    .promo-carousel {
      ul {
        li {
          a {
            max-width: 96px;
            overflow-x: hidden;
            white-space: pre;
            line-height: 1em;
          }
        }
      }
    }
  }
}