$product-width    : 960px;
$side-width       : 235px;
$border-color     : #DDD;
$border-radius    : 4px;
$box-shadow-color : #CCC;

// Grid Setting
$grid-width                 : 60px;
$grid-gutter                : 10px;

$one-column                 : $grid-width;
$two-column                 : $one-column*2  + $grid-gutter*2;
$three-column               : $one-column*3  + $grid-gutter*4;
$four-column                : $one-column*4  + $grid-gutter*6;
$five-column                : $one-column*5  + $grid-gutter*8;
$six-column                 : $one-column*6  + $grid-gutter*10;
$seven-column               : $one-column*7  + $grid-gutter*12;
$eight-column               : $one-column*8  + $grid-gutter*14;
$nine-column                : $one-column*9  + $grid-gutter*16;
$ten-column                 : $one-column*10 + $grid-gutter*18;
$eleven-column              : $one-column*11 + $grid-gutter*20;
$twelve-column              : $one-column*12 + $grid-gutter*22;

$cell-12                    : 100%;
$cell-11                    : 91.66666667%;
$cell-10                    : 83.33333333%;
$cell-9                     : 75%;
$cell-8                     : 66.66666667%;
$cell-7                     : 58.33333333%;
$cell-6                     : 50%;
$cell-5                     : 41.66666667%;
$cell-4                     : 33.33333333%;
$cell-3                     : 25%;
$cell-2                     : 16.66666667%;
$cell-1                     : 8.33333333%;

$grid-full-width            : $twelve-column + $grid-gutter*2;

// Spacing
$spacing-xxs                : 5px;
$spacing-xs                 : 10px;
$spacing-s                  : 20px;
$spacing-normal             : 40px;
$spacing-l                  : 80px;
$spacing-xl                 : 100px;

// Font Size
$font-size-xxs              : 12px;
$font-size-xs               : 13px;
$font-size-s                : 14px;
$font-size-normal           : 16px;
$font-size-l                : 18px;
$font-size-xl               : 22px;
$font-size-xxl              : 28px;
$font-size-xxxl             : 36px;

// Body Line Height
$body-line-height           : 1.5em;

// Theme Colors
$main-color                 : #007dba; //ANZ Ocean Blue
$secondary-color            : #004165; //ANZ Deep Current
$third-color                : #394a58; //ANZ Stone
$fourth-color               : #5bc6e8; //ANZ Sky
$fifth-color                : #c6dfea; //ANZ Horizon

$bright                     : #fff;
$dark                       : #000;
$gray                       : #efefef;
$heading-color              : #000;
$bold-color                 : #444;
$words-color                : #888;
$remark-color               : #ccc;
$disable-color              : #ddd;

$links-color                : $secondary-color;
$links-hover-color          : $main-color;

// Brian add for Remote Banking
$fontGray      : #404040;
$bgBlue        : #0294c9;