@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-qb13yg');
	src:url('fonts/icomoon.eot?#iefix-qb13yg') format('embedded-opentype'),
		url('fonts/icomoon.woff?-qb13yg') format('woff'),
		url('fonts/icomoon.ttf?-qb13yg') format('truetype'),
		url('fonts/icomoon.svg?-qb13yg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-anz-ico13:before {
	content: "\a013";
}

.icon-anz-ico09:before {
	content: "\a009";
}

.icon-anz-ico10:before {
	content: "\a010";
}

.icon-anz-ico11:before {
	content: "\a011";
}

.icon-anz-ico12:before {
	content: "\a012";
}

.icon-anz-ico01:before {
	content: "\a001";
}

.icon-anz-ico02:before {
	content: "\a002";
}

.icon-anz-ico03:before {
	content: "\a003";
}

.icon-anz-ico04:before {
	content: "\a004";
}

.icon-anz-ico05:before {
	content: "\a005";
}

.icon-anz-ico06:before {
	content: "\a006";
}

.icon-anz-ico07:before {
	content: "\a007";
}

.icon-anz-ico08:before {
	content: "\a008";
}

