footer {
	.pc-footer {
		@include clearfix;
		background : $bgBlue;

		.footer-contact-us {
			@include border-box;
			margin   : 0 auto;
			padding  : 45px 0 40px 0;
			width    : 960px;
			position : relative;

			&:after {
				content       : '';
				margin-left   : -1000px;
				background    : #359cc4;
				width         : 2000px;
				height        : 1px;
				position      : absolute;
				bottom        : 0;
				left          : 50%;
				border-top    : 1px solid #0280b1;
				border-bottom : 1px solid #2ba5d2;
			}

			h4 {
				margin-bottom : $spacing-xs;
				color         : $bright;
				font-size     : $font-size-l;
			}

			a {
				margin-top          : $spacing-xs;
				padding-left        : 24px;
				background-position : 0 center;
				background-repeat   : no-repeat;
				display             : inline-block;
				color               : $bright;

				&:hover {
					color : #c6dfea;
				}
			}

			ul {
				@include clearfix;
			}

			li {
				width : 33.33%;
				float : left;
			}

			li:nth-child(1) a { background : image-url('icon_white/icon_location.png') no-repeat; }
			li:nth-child(2) a { background : image-url('icon_white/icon_mail.png') no-repeat; }
			li:nth-child(3) a { background : image-url('icon_white/icon_tel.png') no-repeat; }
		}
	}

	.footer-links {
		@include clearfix;
		margin : 16px auto 30px auto;
		width  : 960px;

		.links-list {
			width       : 214px;
			float       : left;
			line-height : 24px;

			+ ul + ul + ul + ul {
				width : 104px;
			}
		}

		.category {
			margin    : 24px 0 10px 0;
			font-size : 17px;
		}

		.link {
			color : $bright;

			&:hover {
				color : #c6dfea;
			}
		}
	}
}

@media only screen and (max-width: 980px) {
	footer .pc-footer {
		padding : 0 20px;

		.footer-contact-us {
			background-color : transparent;
			width            : auto;

			&:after {
				margin : 0;
				width  : 100%;
				left   : 0;
			}

			li {
				width : 100%;
				float : none;
			}
		}

		.footer-links {
			width : auto;
		}
	}
}

@media only screen and (max-width: 600px) {
	footer .pc-footer {
		.footer-contact-us:after {
			display : none;
		}

		.footer-links {
			display : none;
		}
	}
}