.middleSet {
	position  : relative;
	height    : 100%;
	font-size : 0;

	&:before {
		content        : '';
		display        : inline-block;
		vertical-align : middle;
		height         : 100%;
	}

	* {
		font-size      : auto;
		display        : inline-block;
		vertical-align : middle;
	}
}

.menu {
	border-bottom : 1px solid #dedede;
	box-shadow    : 0 1px 0 #f4f4f4;
}

.l-main {
	margin : 20px auto;
}

.rwd-menu-list {
	display : none;
}

.l-content {
	.m-breadcrumb {
		margin-bottom : 18px;

		.link {
			padding   : 0 0 0 10px;
			position  : relative;
			color     : #8f8f8f;
			font-size : 13px;

			&:hover {
				text-decoration : underline;
			}

			&:before {
				content    : '';
				margin     : -4px 0 0 0;
				background : image-url('icon_arrow/icon_arrow_right_gray_s.png') 0 0 no-repeat;
				display    : block;
				width      : 4px;
				height     : 7px;
				position   : absolute;
				top        : 50%;
				left       : 2px;
			}

			&:first-child {
				padding : 0;

				&:before {
					display : none;
				}
			}
		}
	}

	.main-title {
		margin-bottom : 12px;
		color         : $secondary-color;
		font-size     : 30px;
		line-height   : 1.5em;
	}

	.promo-list {
		.unit-list {
			&.open {
				.feature-desc:after {
					content     : '\2013';
					line-height : 23px;
				}

				.slide-content {
					margin-bottom : 20px;
					max-height    : 3000px;
				}
			}

			.feature-desc {
				@include box-sizing(border-box);
				padding    : 0 60px 0 250px;
				height     : 220px;
				position   : relative;
				border-top : 1px solid #e7e7e7;
				cursor     : pointer;
				overflow   : hidden;

				&:after {
					content       : '+';
					margin-top    : -12px;
					background    : #007dba;
					display       : block;
					width         : 24px;
					height        : 24px;
					position      : absolute;
					top           : 50%;
					right         : 25px;
					border-radius : 50px;
					color         : #FFF;
					font-size     : 14px;
					font-family   : Arial, sans-serif;
					line-height   : 24px;
					text-align    : center;
				}
			}

			.art-img {
				margin   : -79px 0 0 0;
				width    : 214px;
				height   : 158px;
				position : absolute;
				top      : 50%;
				left     : 0;
				overflow : hidden;

				img {
					width : 100%;
				}
			}

			.introduction {
				margin-bottom : 20px;
			}

			.promo-title {
				display     : block;
				color       : #26445e;
				font-size   : 20px;
				line-height : 1.6em;
			}

			.desc {
				display     : block;
				color       : $fontGray;
				font-size   : 14px;
				line-height : 1.6em;
			}

			.slide-content {
				@include transition(all .3s ease-in-out);
				background : #f3f3f3;
				max-height : 0;
				overflow   : hidden;

				.list {
					padding     : 20px 30px;
					border-top  : 1px solid #e2e2e2;
					color       : $fontGray;
					font-size   : 14px;
					line-height : 24px;

					&:first-child {
						border-top : 0;
					}

					.detail-title {
						margin-bottom : 10px;
						color         : #26445e;
						font-size     : 20px;
						font-weight   : bold;
					}

					em {
						margin-top  : 12px;
						display     : block;
						color       : #26445e;
						font-style  : normal;
						font-weight : bold;
					}

					ul {
						padding    : 0 0 0 22px;
						list-style : decimal outside;

						ol {
							color     : #999;
							font-size : 12px;
						}
					}

					ol {
						padding    : 0 0 0 22px;
						list-style : disc outside;
					}
				}
			}
		}

		.hint {
			padding     : 0 20px;
			position    : relative;
			font-size   : 14px;
			line-height : 20px;

			&:before {
				content       : '';
				background    : #ccc;
				display       : block;
				width         : 8px;
				height        : 8px;
				position      : absolute;
				top           : 6px;
				left          : 0;
				border-radius : 4px;
			}
		}

		.procedure {
			margin     : 0 0 36px 0;
			padding    : 0 !important;
			list-style : none;

			.step {
				@include box-sizing(border-box);
				margin        : 51px 0 0 0;
				padding-left  : 140px;
				background    : #fff;
				display       : inline-block;
				width         : 100%;
				min-height    : 72px;
				position      : relative;
				border        : 1px solid #e1e1e1;
				border-radius : 4px;
				box-shadow    : 1px 2px 0 #ccc;
				color         : #003f62;
				font-size     : 16px;
				line-height   : 70px;
				text-align    : left;

				&:before {
					content     : '';
					margin-left : -11px;
					background  : image-url('icon_arrow/icon_arrow_down_gradient.png') no-repeat 0 0;
					display     : block;
					width       : 22px;
					height      : 47px;
					position    : absolute;
					top         : -50px;
					left        : 49%;
				}

				&:first-child {
					margin-top : 30px;

					&:before {
						display : none;
					}
				}

				.highlight {
					margin      : -36px 0 0 0 !important;
					height      : 72px;
					position    : absolute;
					top         : 50%;
					left        : 22px;
					font-size   : 30px;
					font-style  : normal;
					font-weight : normal !important;
					line-height : 72px;
				}

				span {
					line-height : 1.5em;
				}

				img {
					margin         : 0 10px;
					vertical-align : middle;
				}
			}
		}
	}

	.sub-title {
		margin      : 50px 0 20px 0;
		color       : #26445e;
		font-size   : 20px;
		line-height : 30px;

		.btn-blue {
			margin : 0 20px;
		}
	}

	.promo-list {
		margin-bottom : 30px;
	}

	.recommend-list .unit-list {
		@include box-sizing(border-box);
		padding    : 0 0 0 250px;
		height     : 220px;
		position   : relative;
		border-top : 1px solid #e7e7e7;

		.art-img {
			margin-top : -79px;
			width      : 214px;
			height     : 158px;
			position   : absolute;
			top        : 50%;
			left       : 0;
			overflow   : hidden;

			img {
				width : 100%;
			}
		}

		.promo-title {
			display     : block;
			color       : #26445e;
			font-size   : 20px;
			line-height : 1.6em;
		}

		.desc {
			display     : block;
			color       : $fontGray;
			font-size   : 14px;
			line-height : 1.6em;
		}
	}

	.btn-blue {
		@include box-sizing(border-box);
		margin-top     : 20px;
		padding        : 4px 10px;
		background     : #0471ad;
		display        : inline-block;
		min-width      : 144px;
		border         : 1px solid #315b6f;
		border-radius  : 4px;
		color          : #fff;
		font-size      : 16px;
		text-align     : center;
		vertical-align : middle;
		@include background-image(linear-gradient(#06a8ef, #0594d7, #0471ad));

		&:hover {
			@include background-image(linear-gradient(#0471ad, #0594d7, #06a8ef));
			color : #fff;
		}
	}
}

@media only screen and (max-width: 980px) {
	.l-main {
		margin : 0 auto;
		width  : 100%;
	}

	.rwd-menu-list {
		display : block;

		> li {
			border-bottom : 1px solid #ddd;
			text-align    : center;
		}

		a {
			padding     : 0;
			display     : block;
			width       : 100%;
			color       : $secondary-color;
			font-size   : 18px;
			line-height : 45px;
			text-align  : center;

			&.curr {
				color : $main-color;

				~ .sub-menu {
					max-height : 1000px;
				}
			}
		}

		.has-sub-menu {
			> a:after {
				content     : '';
				margin-left : 5px;
				background  : image-url('icon_arrow/icon_arrow_down_oceanblue.png') 0 0 no-repeat;
				display     : inline-block;
				width       : 10px;
				height      : 6px;
				position    : relative;
				top         : -3px;
			}

			.sub-menu {
				@include transition(all .3s ease-in-out);
				background : #f3f3f3;
				max-height : 0;
				overflow   : hidden;

				li {
					border-top : 1px solid #ddd;
				}
			}
		}
	}

	.l-main-content.is-content-left .l-content {
		margin    : 0 auto;
		width     : 100%;
		max-width : 715px;
		position  : initial;
		float     : none;

		.m-breadcrumb {
			margin-top : 18px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.l-main-content.is-content-left .l-content {
		@include box-sizing(border-box);
		padding : 0 20px;
	}

	.l-content {
		.promo-list .unit-list {
			.feature-desc {
				padding : 0 60px 0 120px;
				height  : 110px;

				.desc-content .desc {
					display : none;
				}
			}

			.art-img {
				margin-top : -40px;
				width      : 107px;
				height     : 79px;
			}
		}

		.recommend-list .unit-list {
			padding : 0 0 0 120px;
			height  : 110px;

			.art-img {
				margin-top : -40px;
				width      : 107px;
				height     : 79px;
			}

			.desc-content .desc {
				display : none;
			}
		}

		.sub-title .btn-blue {
			margin-right : 0;
			min-width    : 0;
		}
	}
}

@-moz-document url-prefix() {
	.l-main {
		overflow : hidden;
	}
}

.lt-ie9 {
	.l-content .promo-list .unit-list .feature-desc:after {
		background : image-url('credit_loans/for-ie8/switch_dot.png') center center no-repeat;
	}
}