.l-body {
	overflow-x: hidden;
}

.l-header {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 5;
}

.l-guide {
	padding: 0 18px 0 12px;
	background: rgba(83, 83, 83, 0.4);
	height: 64px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;

	.m-btn {
		height: 48px;
		color: $color-white;
		font-size: 20px;

		&:hover {
			color: $color-text-minor;
		}
	}

	.m-menu {
		padding-right: 74px;
		background: rgba(152,7,71,0.95);
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		white-space: nowrap;
		@include transition(ease-in all 0.3s);
		@include transform(rotateY(90deg));
		@include transform-origin(right);

		&:after {
			content: '';
			margin-top: -24px;
			background: $color-white;
			display: block;
			width: 1px;
			height: 48px;
			position: absolute;
			top: 50%;
			right: 74px;
		}

		&.is-show {
			@include transform(rotateY(0deg));
		}

		.list {
			padding: 0 20px;
			display: inline-block;
			font-size: 16px;

			.b-link {
				display: block;
				color: $color-white;

				&:hover {
					color: $color-text-minor;
				}
			}
		}
	}
}

.l-nav {
	margin-right: 18px;
	padding-right: 20px;
	display: inline-block;
	height: 48px;
	border-right: 1px solid #d2d2d2;

	.m-btn {
		width: 40px;
	}
}

.l-main {
}

.l-footer {
}

@include respond(Desktops) {
	.l-header {
		margin-left: -608px;
		left: 50%;
	}
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {
	.l-header {
		left: 0;
	}
}

@include respond(Tablets-Mobiles) {}