.btn-menu {
	display: inline-block;
	width: 38px;
	position: relative;
	z-index: 1;

	&.is-active {
		&:before {
			margin-top: 0;
			@include transform(rotate(45deg));
		}

		&:after {
			margin-top: 0;
			@include transform(rotate(-45deg));
		}

		em {
			background: transparent !important;
		}
	}

	&:before, &:after {
		content: '';
		margin-left: -19px;
		padding: 0;
		background: $color-white;
		display: block;
		width: 38px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform-origin(center, center);
		@include transition(ease-in all 0.3s);
	}

	&:before {
		margin-top: -10px;
	}

	&:after {
		margin-top: 8px;
	}

	&:hover {
		&:before, &:after, em {
			background: $color-text-minor;
		}
	}

	em {
		background: $color-white;
		display: block;
		width: 38px;
		height: 3px;
		@include transition(ease-in all 0.3s);
	}
}

.m-btn-slide {
	background: none;
	width: 44px;
	height: 44px;
	border: 1px solid $color-white;
	border-radius: 50%;

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 0px;
		z-index: 0;
	}

	&:before {
		margin: -13px 0 0 -11px;
		width: 21px;
		height: 21px;
		border-bottom: 1px solid $color-white;
		border-left: 1px solid $color-white;
		@include transform(rotate(-45deg));
	}

	&:after {
		margin: -12px 0 0 -1px;
		background: $color-white;
		width: 2px;
		height: 24px;
	}
}

.m-btn-radius {
	padding: 0 40px;
	background: #ff4b4b;
	height: 36px;
	position: relative;
	top: -2px;
	border-radius: 5px;
	box-shadow: 0 4px 0 #d41313;
	color: $color-white;
	font-size: 18px;
	line-height: 36px;

	&:hover {
		top: 2px;
		box-shadow: none;
	}
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}