.floLeft {
	float : left!important;
}

.floNone {
	float : none!important;
}

.ml0 {
	margin-left : 0!important;
}

.mt0 {
	margin-top : 0!important;
}

.pl20 {
	padding-left : 20px!important;
}

.clearfix {
	float : none;
	clear : both;
}

.longTimeNoSee {
	display : none;
}

.moreBox {
	margin : 0 auto;
	width  : 820px;

	h3 {
		margin    : 8px 0;
		color     : $secondary-color;
		font-size : 15px;
	}

	span.updateTime {
		margin-top  : 5px;
		display     : inline-block;
		float       : right;
		zoom        : 1;
		color       : #333;
		font-size   : 13px;
		font-weight : normal;
		line-height : 2em;
	}

	.exRateBox_blue {
		margin     : 0 0 10px 0;
		padding    : 4px 5px 4px 10px;
		background : $bgBlue;
		min-height : 90px;

		h3 {
			margin    : 8px 0;
			color     : #FFF;
			font-size : 15px;
		}

		dl {
			vertical-align : top;
		}

		input {
			@include box-sizing(border-box);
			@include background-image(linear-gradient(#fff, #eee));
			padding        : 0 10px;
			width          : 135px;
			height         : 35px;
			line-height    : 35px;
			margin-left    : 8px;
			border         : 1px solid #6f9cb2;
			border-radius  : 3px;
			vertical-align : top;
			color          : #666;
			font-weight    : bold;
			font-family    : "新細明體", Arial;
		}

		img {
			margin         : 0 7px;
			vertical-align : top;
		}
	}

	ul.accountTag {
		margin-top  : 5px;
		width       : auto;
		height      : 2em;
		float       : left;
		color       : #b5b5b5;
		font-size   : 13px;
		line-height : 2em;

		li {
			padding  : 0 12px;
			position : relative;
			float    : left;

			&:before {
				content  : '|';
				position : absolute;
				top      : 0;
				left     : 0;
			}

			&:first-child:before {
				display : none;
			}

			&.active:after {
				content       : '';
				margin-left   : -4px;
				position      : absolute;
				bottom        : 0;
				left          : 50%;
				border-right  : 4px solid transparent;
				border-bottom : 4px solid #7b7b7b;
				border-left   : 4px solid transparent;
			}
		}
	}

	.grayLine {
		padding       : 0;
		height        : 0;
		border-bottom : #7b7b7b solid 4px;
		font-size     : 0;
		line-height   : 0;
	}

	table {
		width          : 100%;
		border         : 1px solid #e0e0e0;
		vertical-align : middle;
		color          : #333;
		font-size      : 13px;
		line-height    : 32px;
		text-align     : center;

		th {
			@include background-image(linear-gradient(#fff, #eee));
			height      : 36px;
			color       : #555;
			line-height : 17px;
			text-align  : center;
		}

		tr {
			border : 1px solid #e0e0e0;
		}

		td {
			padding    : 2px 0;
			text-align : center;
		}
	}

	&.exRateBox table {
		tr th {
			width : 33%;
		}

		input, img {
			margin-right   : 5px;
			vertical-align : middle;
		}
	}

	span.exchangeRate_note {
		margin-top  : 10px;
		float       : left;
		color       : #333;
		font-size   : 13px;
		font-weight : normal;
	}
}

.BtnCaculator {
	@include box-sizing(border-box);
	@include background-image(linear-gradient(#fff, #eee));
	margin          : 0 0 0 8px;
	padding         : 0 15px;
	display         : inline-block;
	height          : 35px;
	border          : 1px solid #6f9cb2;
	border-radius   : 3px;
	color           : #006198;
	font-weight     : bold;
	font-size       : 13px;
	line-height     : 33px;
	text-align      : center;
	text-decoration : none;

	&:hover {
		@include background-image(linear-gradient(#ddd, #fff));
	}
}

.stepSelect {
	padding      : 15px;
	height       : auto;
	position     : relative;
	border-left  : #cdcdcd solid 1px;
	border-right : #cdcdcd solid 1px;

	h4 {
		color     : #004165;
		font-size : 15px;
	}
}

.moreBox_tips {
	margin    : 10px auto 0;
	color     : #666;
	font-size : 13px;
}

@media only screen and (max-width: 800px) {
	.moreBox {
		width : 100%;

		.exRateBox_blue {
			padding-bottom : 10px;

			> img {
				margin            : 0 0 0 90px;
				display           : block;
				-webkit-transform : rotate(90deg);
				transform         : rotate(90deg);
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.moreBox {
		position : relative;

		&.exRateBox h3 {
			margin-bottom : 34px;
		}

		ul.accountTag {
			margin-top : 30px;
		}

		span.updateTime {
			display  : block;
			float    : none;
			position : absolute;
		}

		.exRateBox_blue {
			padding : 4px 10px;

			input {
				margin : 5px 0 0 0;
				width  : 100%;
			}

			img {
				margin : 0 auto;
			}
		}
	}

	.BtnCaculator {
		margin : 10px 0;
		width  : 100%;
	}
}

@media only screen and (max-width: 360px) {
	.moreBox table {
		line-height : 20px;

		th, td {
			border : 1px solid #e0e0e0;

			.pl20 {
				padding-left : 0 !important;
				display      : block;
				width        : 100%;
			}
		}

		img {
			margin  : 0 auto !important;
			display : block;
		}
	}
}

.lt-ie9 {
	.BtnCaculator {
		background : #eee;

		&:hover {
			background : #fff;
		}
	}
}