.option-links {
	> li.highlight {
		border : 0;

		> a {
			padding     : 0;
			font-size   : 20px;
			line-height : 1em;
		}
	}
}

.index-banner {
	min-height : 662px;
	position   : relative;
	overflow-x : hidden;

	&:after {
		content    : '';
		background : rgba(255, 255, 255, 0.5);
		display    : block;
		width      : 100%;
		height     : 124px;
		position   : absolute;
		left       : 0;
		bottom     : 0;
		z-index    : 1;
	}

	.key-visual {
		@include clearfix;
		margin-left : 0;
		width       : 100%;
		height      : 662px;
		position    : absolute;
		top         : 0;
		left        : 0;

		.kv-img {
			display  : block;
			height   : 662px;
			position : relative;
			overflow : hidden;

			.img-wrap {
				margin-left : -960px;
				display     : block;
				width       : 1920px;
				height      : 100%;
				position    : absolute;
				top         : 0;
				left        : 50%;
				text-align  : center;

				.link {
					display : none;
				}
			}

			img {
				display : inline-block;
				width   : auto;
				height  : 100%;
			}
		}

		.wording {
			@include box-sizing(border-box);
			margin-left : -483px;
			padding     : 12px 16px;
			background  : rgba(0, 0, 0, 0.5);
			display     : block;
			width       : 350px;
			position    : absolute;
			bottom      : 206px;
			left        : 50%;
			z-index     : 1;
			color       : #fff;

			.slogan {
				color       : #fff;
				font-size   : 30px;
				line-height : 45px;
			}

			.desc {
				font-size   : 16px;
				line-height : 26px;
			}
		}

		.owl-controls {
			display : none;
		}

		.owl-dots {
			visibility : hidden;
		}
	}

	.login-wrap {
		margin-left : 164px;
		background  : rgba(255, 255, 255, 0.85);
		width       : 312px;
		position    : absolute;
		top         : 76px;
		left        : 50%;
		box-shadow  : 5px 5px 5px rgba(0, 0, 0, 0.3);
		z-index     : 3;

		&.error {
			top    : auto;
			bottom : 180px;

			.switch-body {
				height : auto;

				.warning-text {
					display : block;
				}
			}
		}

		.switch-title {
			height         : 60px;
			color          : #003f63;
			font-size      : 26px;
			letter-spacing : 7px;
			line-height    : 60px;
			text-align     : center;
		}

		.service-title {
			@include clearfix;
			padding     : 10px 0;
			position    : relative;
			color       : $bgBlue;
			font-size   : 15px;
			line-height : 24px;

			&:before {
				content       : '';
				width         : 50%;
				height        : 40px;
				position      : absolute;
				bottom        : 0;
				left          : 0;
				border-right  : 4px solid transparent;
				border-bottom : 5px solid #0076b3;
			}

			&:after {
				content    : '';
				background : #d3d3d3;
				width      : 50%;
				height     : 1px;
				position   : absolute;
				bottom     : 0;
				right      : 0;
				z-index    : -1;
			}

			em, .link {
				@include box-sizing(border-box);
				padding-left : 30px;
				width        : 50%;
				float        : left;
				position     : relative;
				color        : $bgBlue;
				font-style   : normal;

				&:before {
					content    : '';
					margin-top : -9px;
					background : image-url('icon_ocean_blue/icon_38.png') 0 0 no-repeat;
					display    : inline-block;
					width      : 16px;
					height     : 17px;
					position   : absolute;
					top        : 50%;
					left       : 9px;
				}
			}

			.link {
				cursor : pointer;

				&:before {
					margin-top : -6px;
					background : image-url('icon_ocean_blue/icon_39.png') 0 0 no-repeat;
					width      : 18px;
					height     : 12px;
					left       : 6px;
				}
			}
		}

		.switch-body {
			position : relative;

			.switch-area {
				&.next-step {
					.step.step1 {
						display : none;
					}

					.step.step2 {
						display : block;

						.btn.btn-confirm {
							position : relative;
							bottom   : auto;
							left     : auto;
						}
					}
				}

				.step {
					@include box-sizing(border-box);
					padding  : 24px 27px;
					height   : 100%;

					&.step2 {
						display : none;
					}
				}
			}

			.warning-text {
				@include box-sizing(border-box);
				margin     : 0 0 10px 0;
				padding    : 5px 10px;
				background : #FDDBDB;
				display    : none;
				width      : 258px;
				border     : 1px solid #F7B8B8;
				color      : #be0000;
				font-size  : 13px;
				text-align : center;
			}

			.label {
				display  : block;
				position : relative;
			}

			.inputBox {
				margin-bottom : 16px;
				background    : #fff;
				display       : block;
				width         : 256px;
				height        : 40px;
				border        : 1px solid #d3d3d3;
				color         : #888;
				font-size     : 16px;
				line-height   : 40px;
				text-indent   : 10px;
			}

			.comment-box {
				@include box-sizing(border-box);
				padding       : 10px;
				background    : #fff;
				display       : none;
				width         : 262px;
				position      : absolute;
				top           : 0;
				left          : -272px;
				border-radius : 5px;
				box-shadow    : 0 0 10px rgba(0,0,0,0.5);

				&.show {
					display : block;
				}

				&:before, &:after {
					content       : '';
					display       : block;
					position      : absolute;
					top           : 13px;
					right         : -8px;
					border-top    : 8px solid transparent;
					border-bottom : 8px solid transparent;
					border-left   : 8px solid #fff;
				}

				&:before {
					top           : 12px;
					right         : -9px;
					border-top    : 9px solid transparent;
					border-bottom : 9px solid transparent;
					border-left   : 9px solid #ccc;
				}

				.comment-list {
					margin-left : 12px;

					.list {
						position : relative;

						&:before {
							content       : '';
							background    : $bgBlue;
							display       : block;
							width         : 4px;
							height        : 4px;
							position      : absolute;
							top           : 8px;
							left          : -8px;
							border-radius : 50%;
						}
					}
				}
			}

			.links-list {
				@include clearfix;
				margin-bottom : 25px;
				text-align    : center;

				.list {
					display : inline-block;

					&:before {
						content : '|';
						padding : 0 5px;
						color   : $bgBlue;
					}

					&:first-child:before {
						display : none;
					}

					.link {
						color : $bgBlue;
					}
				}
			}

			.btn {
				width       : 122px;
				min-width   : 0;
				height      : 38px;
				font-family : '微軟正黑體';

				&.btn-login-normal {
					margin-right : 10px;
				}

				&.btn-confirm {
					width    : 49%;
					position : absolute;
					bottom   : 24px;
					left     : 27px;
				}

				&.btn-cancel {
					width : 49%;
				}
			}

			.card-login-box {
				display  : inline-block;
				position : relative;

				&:hover {
					&:after {
						content    : '';
						background : transparent;
						display    : block;
						width      : 100%;
						height     : 4px;
						position   : absolute;
						bottom     : -4px;
						left       : 0;
					}

					.comment-box {
						display : block;
					}
				}

				.comment-box {
					margin-left  : -90px;
					padding-left : 80px;
					background   : #fff image-url('icon_lock.png') no-repeat 20px 10px;
					width        : auto;
					min-width    : 180px;
					top          : 48px;
					left         : 50%;
					right        : 0;

					&:before {
						margin-left   : -9px;
						top           : -9px;
						left          : 50%;
						right         : auto;
						border-top    : 0;
						border-right  : 9px solid transparent;
						border-bottom : 9px solid #ccc;
						border-left   : 9px solid transparent;
					}

					&:after {
						margin-left   : -8px;
						top           : -8px;
						left          : 50%;
						right         : auto;
						border-top    : 0;
						border-right  : 8px solid transparent;
						border-bottom : 8px solid #fff;
						border-left   : 8px solid transparent;
					}
				}

				.desc {
					margin-bottom : 10px;
					text-align    : center;
				}

				.btn-download {
					padding     : 0 15px;
					display     : inline-block;
					width       : auto;
					min-width   : 70px;
					height      : 32px;
					font-size   : 13px;
					line-height : 32px;
				}
			}
		}
	}

	.l-main {
		margin     : 0 auto;
		min-height : 662px;
		z-index    : 2;
	}

	.fast-links {
		width    : 100%;
		position : absolute;
		top      : 495px;
		left     : 0;
		z-index  : 1;

		.list {
			width      : 20%;
			position   : relative;
			float      : left;
			font-size  : 17px;
			text-align : center;

			.link {
				padding  : 125px 0 0 0;
				display  : block;
				width    : 100%;
				height   : 100%;
				position : relative;
				color    : #003d5e;

				&:before, &:after {
					content       : '';
					margin        : 0 0 0 -56px;
					background    : #5bc6e8;
					display       : block;
					width         : 112px;
					height        : 112px;
					position      : absolute;
					top           : 0;
					left          : 50%;
					border-radius : 56px;
					opacity       : 0.4;
					@include transition(all .3s ease-in-out);
				}

				&:after {
					background    : $bgBlue;
					margin        : 5px 0 0 -51px;
					width         : 102px;
					height        : 102px;
					border-radius : 51px;
					opacity       : 1;
				}

				.link-icon {
					content    : '';
					margin     : 35.5px 0 0 -20px;
					background : image-url('index/icon-menu.png') no-repeat 0 0;
					width      : 41px;
					height     : 41px;
					position   : absolute;
					top        : 0;
					left       : 50%;
					z-index    : 10;
					zoom       : 1;
				}

				&:hover {
					&:after {
						background : #01bcff;
					}
				}
			}

			&.finance-info:hover .comment-box {
				display : block;
			}

			&.activities .link-icon {
				margin              : 33.5px 0 0 -21px;
				background-position : 0 -41px;
				width               : 42px;
				height              : 45px;
			}

			&.favorable .link-icon {
				margin              : 32.5px 0 0 -25px;
				background-position : 0 -86px;
				width               : 50px;
				height              : 47px;
			}

			&.protect .link-icon {
				margin              : 30px 0 0 -19px;
				background-position : 0 -133px;
				width               : 38px;
				height              : 52px;
			}

			&.download .link-icon {
				margin              : 20.5px 0 0 -34.5px;
				background-position : 0 -185px;
				width               : 69px;
				height              : 71px;
			}

			.comment-box {
				@include box-sizing(border-box);
				margin-left   : -65px;
				padding       : 10px 15px;
				background    : #fff;
				display       : none;
				width         : 130px;
				position      : absolute;
				bottom        : 144px;
				left          : 50%;
				border-radius : 5px;
				box-shadow    : 0 0 10px rgba(0,0,0,0.5);

				&:after {
					content      : '';
					margin-left  : -8px;
					display      : block;
					position     : absolute;
					left         : 50%;
					bottom       : -8px;
					border-top   : 8px solid #fff;
					border-right : 8px solid transparent;
					border-left  : 8px solid transparent;
				}

				.comment-list {
					margin-left : 24px;

					.comment-item {
						position    : relative;
						font-size   : 12px;
						line-height : 24px;
						text-align  : left;

						&:before {
							content    : '';
							background : image-url('icon_ocean_blue/icon_40.gif') no-repeat 0 0;
							display    : block;
							width      : 18px;
							height     : 16px;
							position   : absolute;
							top        : 4px;
							left       : -24px;
						}

						+ li:before {
							background : image-url('icon_ocean_blue/icon_41.gif') no-repeat 0 0;
						}

						+ li+ li:before {
							background : image-url('icon_ocean_blue/icon_42.gif') no-repeat 0 0;
						}
					}
				}
			}
		}
	}
}

.longTimeNoSee {
	display: none;
}

@media only screen and (max-width: 980px) {
	header {
		background-color    : #3e3e3e;
		background-position : center bottom;
		height              : 100px;
		position            : relative;

		.logo {
			margin-top : 50px;
		}

		ul.option-links {
			display  : block;
			position : absolute;
			top      : 13px;
			right    : 0;

			li {
				border-left : 0;
			}
		}
	}

	.index-banner {
		.key-visual .wording {
			margin : 0;
			bottom : 229px;
			left   : 0;
		}

		.login-wrap {
			margin : 0;
			left   : auto;
			right  : 0;
		}

		.fast-links .list .link {
			@include box-sizing(border-box);
			padding-right : 10px;
			padding-left  : 10px;
			font-size     : 15px;
		}
	}

	.l-main {
		width : 100%;
	}
}

@media only screen and (max-width: 600px) {
	.index-banner {
		min-height : 0;

		.key-visual {
			margin   : 0;
			width    : 100%;
			height   : auto;
			position : relative;
			left     : 0;

			.kv-img {
				height : 331px;
			}

			.wording {
				padding : 6px 8px;
				width   : 100%;
				bottom  : 0;
				left    : 0;

				.slogan {
					font-size   : 15px;
					font-weight : bold;
					line-height : 1.6em;
				}

				.desc {
					font-size   : 12px;
					line-height : 18px;
				}
			}
		}

		.login-wrap {
			margin     : 0;
			background : none;
			width      : 100%;
			position   : relative;
			top        : 0;
			left       : 0;
			box-shadow : none;

			&.error {
				bottom : auto;
			}

			.service-title {
				em, .link {
					padding-left : 36px;
				}
			}

			.switch-body {
				height : auto;

				.warning-text {
					width : 100%;
				}

				.switch-area {
					width : 100%;

					&.next-step {
						.step1 {
							display : none;
						}

						.step2 {
							display : block;
						}
					}

					.step {
						width : 100%;

						&.step2 {
							display  : none;
						}
					}
				}

				.inputBox {
					@include box-sizing(border-box);
					width : 100%;
				}

				.comment-box {
					width  : 100%;
					top    : auto;
					bottom : 48px;
					left   : 0;

					&:before, &:after {
						content       : '';
						display       : block;
						position      : absolute;
						top           : auto;
						bottom        : -8px;
						left          : 20px;
						right         : auto;
						border-top    : 8px solid #fff;
						border-right  : 8px solid transparent;
						border-bottom : 0;
						border-left   : 8px solid transparent;
					}

					&:before {
						left         : 19px;
						bottom       : -9px;
						border-top   : 9px solid #ccc;
						border-right : 9px solid transparent;
						border-left  : 9px solid transparent;
					}
				}

				.btn.btn-login-normal {
					margin  : 0;
					display : inline-block;
					width   : 49%;
				}

				.card-login-box {
					margin  : 0;
					display : inline-block;
					width   : 49%;

					.btn-login-debit {
						width : 100%;
					}

					&:hover .comment-box, .comment-box {
						display : none;
					}
				}
			}
		}

		.l-main {
			min-height : 0;
		}

		.fast-links {
			background : #fff;
			position   : relative;
			top        : 0;
	
			.list {
				padding       : 10px 0;
				width         : 100%;
				float         : none;
				border-bottom : 1px solid #ccc;
				text-align    : left;
		
				.link {
					padding     : 0 0 0 96px;
					min-height  : 56px;
					line-height : 56px;
		
					&:before, &:after {
						margin : -28px 0 0 0;
						width  : 56px;
						height : 56px;
						top    : 50%;
						left   : 20px;
					}
	
					&:after {
						margin : -25px 0 0 3px;
						width  : 50px;
						height : 50px;
					}
	
					.link-icon {
						margin          : -10.25px 0 0 -10.25px;
						background-size : 35px 152px;
						width           : 20.5px;
						height          : 20.5px;
						top             : 50%;
						left            : 48px;
					}
				}

				&.finance-info {
					padding-bottom : 30px;
				}
	
				&.activities .link-icon {
					margin              : -11.25px 0 0 -10.25px;
					background-position : 0 -21px;
					width               : 21px;
					height              : 22.5px;
				}
	
				&.favorable .link-icon {
					margin              : -11.75px 0 0 -12.5px;
					background-position : 0 -43px;
					width               : 25px;
					height              : 23.5px;
				}
	
				&.protect .link-icon {
					margin              : -13px 0 0 -9.5px;
					background-position : 0 -67px;
					width               : 19px;
					height              : 25px;
				}
	
				&.download .link-icon {
					margin              : -12px 0 0 -12px;
					background-position : 0 -128px;
					width               : 24px;
					height              : 24px;
				}

				.comment-box {
					margin     : 0;
					padding    : 0;
					display    : block;
					width      : auto;
					bottom     : 5px;
					left       : 20px;
					box-shadow : none;

					&:after {
						display : none;
					}

					.comment-item {
						margin-right : 42px;
						float        : left;

						&:last-child {
							margin : 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	header .option-links > li {
		padding : 0 8px;
		
		&.highlight {
			padding  : 0;
			width    : auto;
			position : absolute;
			top      : 50px;
			right    : 10px;
		}
	}
}

.lt-ie9 {
	.index-banner {
		&:after {
			background : image-url('index/for-ie8/op50-w.png');
		}

		.login-wrap {
			background : image-url('index/for-ie8/op85-w.png');
			
			.switch-body {
				.comment-box {
					width  : 264px;
					border : 1px solid #ccc;
				}

				.btn.btn-login-normal {
					margin-right : 5px;
				}
			}
		}

		.key-visual {
			z-index : -1;

			.wording {
				background : image-url('index/for-ie8/op50-b.png');
			}
		}

		.fast-links .list .link {
			&:before {
				background : image-url('index/for-ie8/index-icons-bg.png');
			}

			&:after {
				display : none;
			}

			&:hover:before {
				background-position : 0 -112px;
			}
		}
	}
}