@charset "UTF-8";
/* basic set */
/* layout css */
/* Replace styles in "jquery.fancybox.css "*/
.fancybox-skin {
  background-color: #fff;
}

/* Replace styles in "jquery.fs.selecter.css" */
.selecter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: inherit;
}
.selecter .selecter-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 14px;
}
.selecter .selecter-selected {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 10px;
  border: 1px solid #ddd;
  background-color: #efefef;
  color: #004165;
  font-size: 14px;
  line-height: 1.5em;
}
.selecter .selecter-selected:hover {
  background-color: #efefef;
  border-color: #ccc;
  color: #000;
}
.selecter.open .selecter-selected {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #efefef;
}
.selecter.focus .selecter-selected {
  background-color: #efefef;
}

/* For English Version */
html[lang="en"] .selecter .selecter-item {
  font-size: 12px;
}
html[lang="en"] .selecter .selecter-selected {
  font-size: 12px;
}

/* Replace styles in "owl.theme.default.css" */
.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #ccc;
  background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

/* Replace styles in "jquery.mmenu.css" */
.mm-list > li > a,
.mm-list > li > span {
  white-space: inherit;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #888;
  background-color: #fff;
  font-size: 13px;
  line-height: 1.5em;
  font-family: '微軟正黑體', 'Microsoft JhengHei', Verdana, Helvetica, Arial, 'LiHei Pro' 'HeitiTC', 'Microsoft YaHei', sans-serif;
}

html[lang="en"] body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #004165;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  cursor: pointer;
}

a {
  color: #004165;
  text-decoration: none;
}

a:hover {
  color: #007dba;
  text-decoration: none;
}

/* Clear Fix */
.group:before,
.group:after {
  display: table;
  content: "";
  clear: both;
}

/* CSS Table Cell */
.table {
  display: table;
}

.table-caption {
  display: table-caption;
}

.table-header-group {
  display: table-header-group;
}

.table-footer-group {
  display: table-footer-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Wrapper */
.wrapper {
  /*@include border-box;*/
  width: 960px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper:before, .wrapper:after {
  display: table;
  content: "";
  clear: both;
}

/* Show & Hide */
.show {
  display: block;
}

.hide {
  display: none;
}

/* RWD - Hidding for desktop */
.rwd {
  display: none;
}

/* Break Point - Break words for responsive screen size */
.break-point {
  font-size: 0;
  line-height: 0;
}
.break-point:after {
  content: "";
  display: table;
  clear: both;
}

/* clearfix */
.b-clearfix:after {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

.l-main {
  margin: 20px auto 70px auto;
  width: 960px;
  position: relative;
}

.l-main-content {
  position: relative;
}
.l-main-content.is-content-left .l-content {
  float: left;
}
.l-main-content.is-content-left .l-side {
  float: right;
}
.l-main-content.is-content-right .l-content {
  float: right;
}
.l-main-content.is-content-right .l-side {
  float: left;
}

.l-content {
  width: 715px;
  position: relative;
}

.l-side {
  width: 235px;
  position: relative;
}

/* screen width <= 800 */
@media screen and (max-width: 800px) {
  .l-main {
    margin: 0 auto;
    width: 100%;
  }
}
/* screen width <= 800 and width > 768 */
/* screen width < 768 */
/* import page scss begin */
/* import page scss end */
.floLeft {
  float: left !important;
}

.floNone {
  float: none !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.pl20 {
  padding-left: 20px !important;
}

.clearfix {
  float: none;
  clear: both;
}

.longTimeNoSee {
  display: none;
}

.moreBox {
  margin: 0 auto;
  width: 820px;
}
.moreBox h3 {
  margin: 8px 0;
  color: #004165;
  font-size: 15px;
}
.moreBox span.updateTime {
  margin-top: 5px;
  display: inline-block;
  float: right;
  zoom: 1;
  color: #333;
  font-size: 13px;
  font-weight: normal;
  line-height: 2em;
}
.moreBox .exRateBox_blue {
  margin: 0 0 10px 0;
  padding: 4px 5px 4px 10px;
  background: #0294c9;
  min-height: 90px;
}
.moreBox .exRateBox_blue h3 {
  margin: 8px 0;
  color: #FFF;
  font-size: 15px;
}
.moreBox .exRateBox_blue dl {
  vertical-align: top;
}
.moreBox .exRateBox_blue input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  padding: 0 10px;
  width: 135px;
  height: 35px;
  line-height: 35px;
  margin-left: 8px;
  border: 1px solid #6f9cb2;
  border-radius: 3px;
  vertical-align: top;
  color: #666;
  font-weight: bold;
  font-family: "新細明體", Arial;
}
.moreBox .exRateBox_blue img {
  margin: 0 7px;
  vertical-align: top;
}
.moreBox ul.accountTag {
  margin-top: 5px;
  width: auto;
  height: 2em;
  float: left;
  color: #b5b5b5;
  font-size: 13px;
  line-height: 2em;
}
.moreBox ul.accountTag li {
  padding: 0 12px;
  position: relative;
  float: left;
}
.moreBox ul.accountTag li:before {
  content: '|';
  position: absolute;
  top: 0;
  left: 0;
}
.moreBox ul.accountTag li:first-child:before {
  display: none;
}
.moreBox ul.accountTag li.active:after {
  content: '';
  margin-left: -4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #7b7b7b;
  border-left: 4px solid transparent;
}
.moreBox .grayLine {
  padding: 0;
  height: 0;
  border-bottom: #7b7b7b solid 4px;
  font-size: 0;
  line-height: 0;
}
.moreBox table {
  width: 100%;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  color: #333;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
}
.moreBox table th {
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  height: 36px;
  color: #555;
  line-height: 17px;
  text-align: center;
}
.moreBox table tr {
  border: 1px solid #e0e0e0;
}
.moreBox table td {
  padding: 2px 0;
  text-align: center;
}
.moreBox.exRateBox table input, .moreBox.exRateBox table img {
  margin-right: 5px;
  vertical-align: middle;
}
.moreBox span.exchangeRate_note {
  margin-top: 10px;
  float: left;
  color: #333;
  font-size: 13px;
  font-weight: normal;
}

.BtnCaculator {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  margin: 0 0 0 8px;
  padding: 0 15px;
  display: inline-block;
  height: 35px;
  border: 1px solid #6f9cb2;
  border-radius: 3px;
  color: #006198;
  font-weight: bold;
  font-size: 13px;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
}
.BtnCaculator:hover {
  background-image: -webkit-linear-gradient(#dddddd, #ffffff);
  background-image: -moz-linear-gradient(#dddddd, #ffffff);
  background-image: linear-gradient(#dddddd, #ffffff);
}

.stepSelect {
  padding: 15px;
  height: auto;
  position: relative;
  border-left: #cdcdcd solid 1px;
  border-right: #cdcdcd solid 1px;
}
.stepSelect h4 {
  color: #004165;
  font-size: 15px;
}

.moreBox_tips {
  margin: 10px auto 0;
  color: #666;
  font-size: 13px;
}

@media only screen and (max-width: 800px) {
  .moreBox {
    width: 100%;
  }
  .moreBox .exRateBox_blue {
    padding-bottom: 10px;
  }
  .moreBox .exRateBox_blue img {
    margin: 0 0 0 90px;
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (max-width: 480px) {
  .moreBox {
    position: relative;
  }
  .moreBox ul.accountTag {
    margin-top: 30px;
  }
  .moreBox span.updateTime {
    display: block;
    float: none;
    position: absolute;
  }
  .moreBox .exRateBox_blue {
    padding: 4px 10px;
  }
  .moreBox .exRateBox_blue input {
    margin: 5px 0 0 0;
    width: 100%;
  }
  .moreBox .exRateBox_blue img {
    margin: 0 auto;
  }

  .BtnCaculator {
    margin: 10px 0;
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .moreBox table {
    line-height: 20px;
  }
  .moreBox table th, .moreBox table td {
    border: 1px solid #e0e0e0;
  }
  .moreBox table th .pl20, .moreBox table td .pl20 {
    padding-left: 0 !important;
    display: block;
    width: 100%;
  }
  .moreBox table img {
    margin: 0 auto !important;
    display: block;
  }
}
.lt-ie9 .BtnCaculator {
  background: #eee;
}
.lt-ie9 .BtnCaculator:hover {
  background: #fff;
}
