@charset "utf-8";
.desc {
	color:#6b6b6b;
}
.desc a {
	color:#0092dd;
}
.dropdown, .dropdown2{
	display: inline-block; /*20130401 增加此行for修正「台幣兌外幣匯率表」輸入框會靠左斷行掉下來的問題*/
	/*float: left;*/ /*20130401 註解此行for修正「台幣兌外幣匯率表」輸入框會靠左斷行掉下來的問題*/
	width: 186px;
}
.dropdown dd, .dropdown dt, .dropdown ul, .dropdown2 dd, .dropdown2 dt, .dropdown2 ul {
	margin:0px;
	padding:0px;
}
.dropdown dd, .dropdown2 dd {
	position:relative;
}
.dropdown dd li, .dropdown2 dd li {
	position: relative;
	z-index: 3; /*For 修正 iPad上下拉選單被切掉出不來*/
}
.dropdown a, .dropdown a:visited, .dropdown2 a, .dropdown2 a:visited {
	color:#666;
	text-decoration:none;
	outline:none;
}
.dropdown a:hover, .dropdown2 a:hover {
	color:#333;
}
.dropdown dt a, .dropdown2 dt a {
	background:url(../images/currency_bg.png) no-repeat;
	display:block;
	padding-right:20px;
	width:186px;
	font-size:13px;
	font-weight:bold;
	color:#666;
}
.dropdown dt a:hover, .dropdown2 dt a:hover {
	color:#333;
}
.dropdown dt a span, .dropdown2 dt a span {
	cursor:pointer;
	display:block;
	padding:8px;
	height:19px;
	line-height:19px;
	line-height:22px\9;
}
.dropdown dd ul, .dropdown2 dd ul {
	background:#fff none repeat scroll 0 0;
	border:1px solid #b6b6b6;
	color:#666;
	display:none;
	left:0px;
	padding:0px;
	position:absolute;
	top:-3px;
	width:184px;
	min-width:170px;
	list-style:none;
	z-index:1;
	font-size:13px;
	font-weight:bold;
}
.dropdown span.value, .dropdown2 span.value {
	display:none;
}
.dropdown dd ul li a, .dropdown2 dd ul li a {
	padding:5px;
	display:block;
}
.dropdown dd ul li a:hover, .dropdown2 dd ul li a:hover {
	background-color:#cdcdcd;
}
.dropdown img.flag, .dropdown2 img.flag {
	border:none;
	vertical-align:middle;
	margin-left:10px;
}
.flagvisibility {
}
