@charset "UTF-8";
/* basic set */
/* layout css */
/* Replace styles in "jquery.fancybox.css "*/
.fancybox-skin {
  background-color: #fff;
}

/* Replace styles in "jquery.fs.selecter.css" */
.selecter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: inherit;
}
.selecter .selecter-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 14px;
}
.selecter .selecter-selected {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 10px;
  border: 1px solid #ddd;
  background-color: #efefef;
  color: #004165;
  font-size: 14px;
  line-height: 1.5em;
}
.selecter .selecter-selected:hover {
  background-color: #efefef;
  border-color: #ccc;
  color: #000;
}
.selecter.open .selecter-selected {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  background-color: #efefef;
}
.selecter.focus .selecter-selected {
  background-color: #efefef;
}

/* For English Version */
html[lang="en"] .selecter .selecter-item {
  font-size: 12px;
}
html[lang="en"] .selecter .selecter-selected {
  font-size: 12px;
}

/* Replace styles in "owl.theme.default.css" */
.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #ccc;
  background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

/* Replace styles in "jquery.mmenu.css" */
.mm-list > li > a,
.mm-list > li > span {
  white-space: inherit;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #888;
  background-color: #fff;
  font-size: 13px;
  line-height: 1.5em;
  font-family: '微軟正黑體', 'Microsoft JhengHei', Verdana, Helvetica, Arial, 'LiHei Pro' 'HeitiTC', 'Microsoft YaHei', sans-serif;
}

html[lang="en"] body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #004165;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  cursor: pointer;
}

a {
  color: #004165;
  text-decoration: none;
}

a:hover {
  color: #007dba;
  text-decoration: none;
}

/* Clear Fix */
.group:before,
.group:after {
  display: table;
  content: "";
  clear: both;
}

/* CSS Table Cell */
.table {
  display: table;
}

.table-caption {
  display: table-caption;
}

.table-header-group {
  display: table-header-group;
}

.table-footer-group {
  display: table-footer-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Wrapper */
.wrapper {
  /*@include border-box;*/
  width: 960px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper:before, .wrapper:after {
  display: table;
  content: "";
  clear: both;
}

/* Show & Hide */
.show {
  display: block;
}

.hide {
  display: none;
}

/* RWD - Hidding for desktop */
.rwd {
  display: none;
}

/* Break Point - Break words for responsive screen size */
.break-point {
  font-size: 0;
  line-height: 0;
}
.break-point:after {
  content: "";
  display: table;
  clear: both;
}

/* clearfix */
.b-clearfix:after {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

.l-main {
  margin: 20px auto 70px auto;
  width: 960px;
  position: relative;
}

.l-main-content {
  position: relative;
}
.l-main-content.is-content-left .l-content {
  float: left;
}
.l-main-content.is-content-left .l-side {
  float: right;
}
.l-main-content.is-content-right .l-content {
  float: right;
}
.l-main-content.is-content-right .l-side {
  float: left;
}

.l-content {
  width: 715px;
  position: relative;
}

.l-side {
  width: 235px;
  position: relative;
}

/* screen width <= 800 */
@media screen and (max-width: 800px) {
  .l-main {
    margin: 0 auto;
    width: 100%;
  }
}
/* screen width <= 800 and width > 768 */
/* screen width < 768 */
/* import page scss begin */
/* import page scss end */
body {
  background: #f5f5f5;
}

.mainTitle.printTitle {
  height: 67px;
}

#INFO_MSG {
  display: none;
}

@media only screen and (max-width: 980px) {
  #content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px 5px 5px;
    width: 100%;
  }

  ul.accountTagTab li {
    position: relative;
  }
  ul.accountTagTab li.active {
    background: none !important;
  }
  ul.accountTagTab li.active:after {
    content: '';
    margin-left: -4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #7b7b7b;
    border-left: 4px solid transparent;
  }

  .mainTitle.printTitle {
    background-position: -5px 0;
    width: 100%;
    height: 67px;
  }
  .mainTitle.printTitle img {
    display: none;
  }

  .mainContent {
    background: #fff;
    width: 100%;
  }
  .mainContent .mainContent {
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  }
  .mainContent .accountArea {
    margin: 20px 10px;
    width: auto;
  }
  .mainContent .accountArea img {
    display: none;
  }
  .mainContent .depositArea {
    width: auto;
  }
  .mainContent .depositArea span.updateTime {
    padding-right: 10px;
  }
  .mainContent .grayLine916, .mainContent .grayLineLight916, .mainContent .grayLineLight {
    width: 100%;
  }

  .stepSelect {
    border: 0;
  }

  .reserveAccount {
    width: 100%;
    float: none;
    overflow: hidden;
  }

  table.tableStyle_DetailList {
    width: 100%;
  }
  table.tableStyle_DetailList th {
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
    background-image: -moz-linear-gradient(#ffffff, #eeeeee);
    background-image: linear-gradient(#ffffff, #eeeeee);
  }
  table.tableStyle_DetailList th, table.tableStyle_DetailList td {
    word-break: break-word;
  }

  .kbb {
    background: #f5f5f5;
    height: 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .kbb img {
    display: none;
  }

  .depositNote > img {
    display: none;
  }

  #depositNote_Hide, #depositNote_Show {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.1);
  }

  .warningWBg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fddbdb;
    width: 100%;
    border: 1px solid #f7b8b8;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 480px) {
  .mainContent .depositArea {
    padding: 25px 0 0 0;
    position: relative;
  }
  .mainContent .depositArea span.updateTime {
    padding: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    right: auto;
  }

  .ibselect {
    display: block;
    width: 100%;
    clear: both;
  }
  .ibselect .selector {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }
  .ibselect .selector span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .ibselect .selector select {
    width: 100%;
  }
  .ibselect .nolabel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: none !important;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .actionBtnS {
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
    background-image: -moz-linear-gradient(#ffffff, #eeeeee);
    background-image: linear-gradient(#ffffff, #eeeeee);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    background-position: 0 0;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 40px;
  }
  .actionBtnS:hover {
    background-image: -webkit-linear-gradient(#dddddd, #ffffff);
    background-image: -moz-linear-gradient(#dddddd, #ffffff);
    background-image: linear-gradient(#dddddd, #ffffff);
    background-position: 0 0;
  }
  .actionBtnS:after {
    display: none;
  }
}
