<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>漢來美食</title>
	<link rel="stylesheet" href="/Scripts/plugin/datepicker/datepicker.css?CSS=20160420_01">
	<link rel="stylesheet" href="/Content/css/style.css?CSS=20160420_01">
	<link rel="stylesheet" href="/Content/css/index.css?CSS=20160420_01">
</head>
<body>
	<div class="l-body">
		<header class="l-header">
			<div class="m-header">
				<h1 class="m-logo b-hide-text">漢來美食</h1>
				<ul class="m-menu">
					<li class="list"><em class="text">品牌餐廳</em></li>
					<li class="list"><em class="text">最新訊息</em></li>
					<li class="list"><em class="text">宴會會議</em></li>
					<li class="list">
						<em class="text">美食地圖</em>
						<ul class="sub-menu">
							<li class="list">
								<em class="text">漢來大飯店</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">LB 糕餅小舖
									<li class="list"><a href="javascript:;" class="b-link">LB 大廳酒廊</a></li>
									<li class="list"><a href="javascript:;" class="b-link">9F 福園台菜海鮮餐廳</a></li>
									<li class="list"><a href="javascript:;" class="b-link">10F 翠園粵菜餐廳</a></li>
									<li class="list"><a href="javascript:;" class="b-link">10F 日本料理弁慶</a></li>
									<li class="list"><a href="javascript:;" class="b-link">10F 紅陶上海湯包</a></li>
									<li class="list"><a href="javascript:;" class="b-link">10F 港式海鮮火鍋</a></li>
									<li class="list"><a href="javascript:;" class="b-link">11F 池畔餐廳</a></li>
									<li class="list"><a href="javascript:;" class="b-link">12F 名人坊</a></li>
									<li class="list"><a href="javascript:;" class="b-link">43F 海港餐廳</a></li>
									<li class="list"><a href="javascript:;" class="b-link">45F 牛排館</a></li>
									<li class="list"><a href="javascript:;" class="b-link">45F 龍蝦酒殿</a></li>
									<li class="list"><a href="javascript:;" class="b-link">45F 鐵板燒</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">巨蛋會館、漢神巨蛋</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">Hi Lai Café 巨蛋店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">漢來海港 巨蛋店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">漢來蔬食 巨蛋店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">翠園餐廳 巨蛋店</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">佛陀紀念館</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">漢來蔬食 佛館店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">Hi Lai Café 佛館店</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">南紡夢時代</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">漢來海港 台南店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">漢來蔬食 台南店</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">廣三 SOGO</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">漢來海港 台中店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">翠園小館</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">台茂購物中心</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">漢來海港 桃園店</a></li>
									<li class="list"><a href="javascript:;" class="b-link">漢來蔬食 桃園店</a></li>
								</ul>
							</li>
							<li class="list">
								<em class="text">敦化 SOGO</em>
								<ul class="detail-list">
									<li class="list"><a href="javascript:;" class="b-link">漢來海港 敦化店</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<div class="m-community">
					<a href="javascript:;" class="b-link">
						<i class="m-icon m-icon-facebook"></i>
					</a>
					<a href="javascript:;" class="b-link">
						<i class="m-icon m-icon-instagram"></i>
					</a>
				</div>
				<small class="m-copyright">Copyright@2015<br>Hi-Lai Foods, Inc.<br>All rights reserved.</small>
			</div>
		</header>
		<div class="l-guide b-middle">
			<nav class="l-nav b-middle">
				<button class="m-btn m-icon m-icon-zoom"></button>
				<button class="m-btn m-icon m-icon-cart"></button>
			</nav>
			<button class="m-btn btn-menu b-hide-text"><em>MENU</em></button>
			<ul class="m-menu b-middle">
				<li class="list"><a href="javascript:;" class="b-link" target="_blank">集團相關事業</a></li>
				<li class="list"><a href="javascript:;" class="b-link" target="_blank">國揚建設</a></li>
				<li class="list"><a href="javascript:;" class="b-link" target="_blank">漢神百貨</a></li>
				<li class="list"><a href="javascript:;" class="b-link" target="_blank">漢來大飯店</a></li>
				<li class="list"><a href="javascript:;" class="b-link" target="_blank">漢來美食</a></li>
			</ul>
		</div>
		<div class="l-main">
			<div class="l-content">
				<section class="m-cut main-cut">
					<div class="main-content">
						<h2 class="main-title">幸福。微笑。滿足 :-)</h2>
						<h3 class="sub-title">堅持只給顧客最好的美食國度</h3>
						<div class="booking b-middle">
							<div class="m-select-box">
								<select class="m-selection">
									<option>請選擇美食品牌</option>
								</select>
							</div>
							<div class="m-select-box">
								<input type="text" class="inputbox datepicker" data-types="YYYY/MM/DD" data-min-date="" data-max-date="" data-width="" placeholder="">
							</div>
							<div class="m-select-box select-time">
								<i class="m-icon m-icon-clock"></i>
								<select class="m-selection">
									<option>PM:1700</option>
								</select>
							</div>
							<button class="m-btn-radius"><em>下一步</em></button>
						</div>
					</div>
					<div class="m-media"><img src="../Content/img/kv.jpg" alt=""></div>
					<button class="btn-slide-down b-hide-text"><em>向下捲動</em></button>
				</section>
				<section class="m-cut">
					<h2 class="main-title">品牌餐廳</h2>
				</section>
				<div class="pagination">
					<ul class="cut-dot">
						<li class="list is-curr"><button class="btn-dot"></button></li>
						<li class="list"><button class="btn-dot"></button></li>
						<li class="list"><button class="btn-dot"></button></li>
						<li class="list"><button class="btn-dot"></button></li>
						<li class="list"><button class="btn-dot"></button></li>
					</ul>
				</div>
			</div>
		</div>
		<footer class="l-footer">
		</footer>
	</div>
</body>
<script src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script src="/Scripts/plugin/datepicker/datepicker.min.js?JS=20160216_01"></script>
<script src="/Scripts/js/factory.js?JS=20160420_01"></script>
<script src="/Scripts/js/common.js?JS=20160420_01"></script>
</html>